
#british-museum {

}

.touch {
    #british-museum {

    }
}

.no-touch {
    #british-museum {

    }
}

@media screen and (min-width: 48em) {
    #british-museum {
        img {
            position:   absolute;
            bottom:     0;
            @include transform-origin( 35% 70% );
            @include transform( scale(1, 1));
            @include transition( all 2s ease );
        }

        &.current-scroll-panel img {
            @include transition( all 14s ease );
            @include transform( scale(1.8, 1.8));
        }

        .main-content {
            border-top:     1px solid #fff;
            text-shadow:    1px 1px 1px #333;
        }
    }

    .touch {
        #british-museum {
            .main-content {
                position:   absolute;
                margin-top: 2rem;
            }
        }
    }

    .no-touch {
        #british-museum {

        }
    }

}
