
#married-love {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/6-ignorant-bride/_assets/m6-ignorant-bride-3.jpg);
    }
}

.touch {
    #married-love {

    }
}

.no-touch {
    #married-love {

    }
}

@media screen and (min-width: 48em) {
    #married-love {
        .inner {
            color:      #030303;
        }

        .inner + .inner {
            border-top: 1px solid #030303;
        }

        .married-love-film-gallery {
            position:   absolute;
            top:        40%;
            right:      30%;
        }

        .info-box {
            position:   absolute;
            top:        80px;
            right:      100px;

            .stub {
                position:   absolute;
                z-index:    -1;
                @include    transform( translate(-127px, -20px) );
            }

            .text {
                color: #030303;
            }
        }
    }

    .touch {
        #married-love {
            .main-content {
                margin-top: 5%;
            }
        }
    }

    .no-touch {
        #married-love {

        }
    }
}
