
#shared-experiences {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/6-ignorant-bride/m6-ignorant-bride-4.jpg);
    }
}

.touch {
    #shared-experiences {

    }
}

.no-touch {
    #shared-experiences {
        
    }
}

@media screen and (min-width: 48em) {
    #shared-experiences {
        .main-content {
            color:          #030303;

            .inner {
                border-top:     1px solid #030303;
                border-bottom:  1px solid #030303;
            }
        }
    }

    .touch {
        #shared-experiences {

        }
    }

    .no-touch {
        #shared-experiences {

        }
    }
}