
#letters {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/6-ignorant-bride/_assets/letter-1.jpg);
    }
}

.touch {
    #letters {

    }
}

.no-touch {
    #letters {

    }
}

@media screen and (min-width: 48em) {
    #letters {
        .info-box {
            position:   absolute;
            top:        18%;
            right:      25%;

            .text {
                color: #030303;
            }
        }
    }



    .touch {
        #letters {

        }
    }

    .no-touch {
        #letters {

        }
    }
}
