
@-webkit-keyframes info-box-animation-inner {
    0%      { -webkit-transform: scale(0.9); }
    35%     { -webkit-transform: scale(0.9); }
    45%     { -webkit-transform: scale(1.1); }
    80%     { -webkit-transform: scale(0.9); }
    100%    { -webkit-transform: scale(0.9); }
}

@-moz-keyframes info-box-animation-inner {
    0%      { -moz-transform: scale(0.9); }
    35%     { -moz-transform: scale(0.9); }
    45%     { -moz-transform: scale(1.1); }
    80%     { -moz-transform: scale(0.9); }
    100%    { -moz-transform: scale(0.9); }
}

@keyframes info-box-animation-inner {
    0%      { transform: scale(0.9); }
    35%     { transform: scale(0.9); }
    45%     { transform: scale(1.1); }
    80%     { transform: scale(0.9); }
    100%    { transform: scale(0.9); }
}