
@-webkit-keyframes info-box-animation-outer {
    0%      { -webkit-transform: scale(0.8); opacity: 0; }
    30%     { -webkit-transform: scale(0.8); opacity: 0; }
    45%     { opacity: 1; }
    80%     { -webkit-transform: scale(1.1); opacity: 0; }
    100%    { -webkit-transform: scale(1.1); opacity: 0; }
}

@-moz-keyframes info-box-animation-outer {
    0%      { -moz-transform: scale(0.8); opacity: 0; }
    30%     { -moz-transform: scale(0.8); opacity: 0; }
    45%     { opacity: 1; }
    80%     { -moz-transform: scale(1.1); opacity: 0; }
    100%    { -moz-transform: scale(1.1); opacity: 0; }
}

@-ms-keyframes info-box-animation-outer {
    0%      { -ms-transform: scale(0.8); opacity: 0; }
    30%     { -ms-transform: scale(0.8); opacity: 0; }
    45%     { opacity: 1; }
    80%     { -ms-transform: scale(1.1); opacity: 0; }
    100%    { -ms-transform: scale(1.1); opacity: 0; }
}

@keyframes info-box-animation-outer {
    0%      { transform: scale(0.8); opacity: 0; }
    30%     { transform: scale(0.8); opacity: 0; }
    45%     { opacity: 1; }
    80%     { transform: scale(1.1); opacity: 0; }
    100%    { transform: scale(1.1); opacity: 0; }
}