
.start-svengali {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/5-svengali/svengali-1.jpg);
    }

    .falling-lady {
        display: none;
    }
}

@media all and (min-width: 48rem) {
    .start-svengali {
        .falling-lady {
            display: block;
        }
    }
}