
#trilby {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/5-svengali/svengali-2.jpg);
    }

    img {
        width: 100%;
    }

    .trilby-header {
        img {
            display:    block;
            width:      40%;
            margin:     0 auto;
        }

        header {
            padding: 0 1rem;
        }
    }

    .panel-number {
        position: absolute;
        top: 0;
        left: 0;
        color: #030303;
        @include abril-italic;
        background-color: #fff;
        padding: 7px 12px;
        line-height: 1;
    }

    .comic-panel {
        position: relative;
    }

    .comic-quote {
        p {
            display: none;
        }
    }

    .comic-panel:nth-child(3) {
        .panel-text:nth-of-type(1) {
            margin-left:    5px;
            margin-bottom:  55px;
        }
    }

    .comic-panel:nth-child(8) {
        padding: 1rem 0;
    }
}

@media all and (min-width: 48rem) {

    #trilby {

        .inner {
            max-width:  1024px;
            margin:     0 auto;
        }

        .trilby-header {
            margin: 5.25rem auto 0 auto;

            img {
                float:          left;
                width:          200px;
                margin-right:   1em;

            }

            header {
                padding-left: 220px;

                span {
                    display:        block;
                    @include        tablet-gothic;
                    font-size:      0.7rem;
                    text-transform: uppercase;
                    margin-bottom:  0.5em;
                }

                h1 {
                    margin-bottom: 1em;
                }

                p {
                    font-size: 1.239rem;
                }
            }
        }

        .comic-strip {
            border-top:     1px solid rgba(255,255,255,0.8);
            margin-top:     2em;
            padding-top:    2em;
        }

        .comic-panel {
            position:   relative;
            float:      left;

            img {
                display: block;
                width: 100%;
            }

            .panel-text {
                font-size:      1rem;
                line-height:    1;
            }
            
            span {
                font-size: 1.618rem;
            }

        }

        .comic-panel--1 {
            width: 42%;
            margin-left: 5%;

            p {
                width: 40%;
            }
        }

        .comic-panel--2 {
            width: 45%;
            margin-left: 5%;

            .panel-text {
                bottom:     190px;
                font-style: italic;
                width:      190px;
            }
        }

        .comic-panel--3 {
            width: 52%;
            margin-top: -120px;
            margin-left: -50px;

            .panel-text {
                top:    0;
                bottom: auto;
                left:   auto;
                right:  0;
            }

            .panel-text:nth-of-type(1) {
                right: 40px;
                width: 80%;
            }

            .panel-text:nth-of-type(2) {
                top:    32px;
                right:  20px;
            }
        }

        .comic-panel--4 {
            width: 45%;
            margin-left: 5%;
            margin-top: 52px;

            .panel-text {
                left:   8px;
                right:  auto;
            }

            .panel-text:nth-of-type(1) {
                left:   10px;
                bottom: 60px;
            }
        }

        .comic-panel--5 {
            width:          47%;
            margin-top:     -160px;
        }

        .comic-panel--6 {
            width:          35%;
            margin-left:    5%;
            margin-top:     49px;
        }

        .comic-panel--7 {
            width:          40%;
            margin-top:     -240px;
            margin-left:    7%;

            .panel-number {
                left: auto;
                right: 0;
            }

            .panel-text {
                top:    0;
                bottom: auto;
                left:   10px;
                right:  0;
                width:  220px;
            }
        }

        .comic-panel:nth-child(8) {
            width:          48%;
            margin-left:    5%;
            padding:        2em 0;
        }

        .comic-panel:nth-child(9) {
            width:          50%;
            margin-top:     14px;
            -webkit-transform: translateX(50px);
               -moz-transform: translateX(50px);
                    transform: translateX(50px);
        }

        .comic-panel--9 {
            width:          43%;
            margin-top:     -90px;
            margin-left:    4%;

            .panel-text {
                left:   10px;
                right:  auto;
                width:  260px;
            }
        }

        .comic-panel--10 {
            width:          45%;
            margin-top:     49px;
            margin-left:    5%;

            .panel-text {
                font-style: italic;
            }
        }

        .comic-panel--11 {
            width:          33%;
            margin-left:    14%;
            margin-top:     -5px;

            .panel-text {
                left: 10px;
            }
        }

        .comic-quote {
            position:   absolute;
            top:        45px;
            left:       0;
            width:      340px;

            .info-box {
                position: absolute;
            }

            p {
                @include            abril-italic;
                background-color:   rgba(0,0,0,0.9);
                margin:             45px 0 0 45px;
                padding:            1rem 1.2rem 1rem 3rem;
                border-radius:      4px;
            }

            &.active {
                p {
                    display: block;
                }
            }
        }
    }

}

@media all and (min-width: 84rem) {
    #trilby {
        .comic-panel {
            span {
                font-size: 2.005rem;
            }
        }

        .comic-panel--3 {
            width: 60%;
            margin-left: -15%;
            margin-top: -90px;
        }

        .comic-panel:nth-child(8) {
            width: 25%;
        }

        .comic-panel:nth-child(9) {
            width: 55%;
        }

        .comic-panel:nth-child(10) {
            width:      45%;
            margin-top: -150px;
        }

        .comic-panel:nth-child(12) {
            margin-top: -40px;
        }

        .comic-quote {
            right: -300px;
        }
    }
}
