
#bompard {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/5-svengali/_assets/svengali-2.jpg);
    }

    img {
        width: 100%;
    }

    .comic-panel {
        position: relative;
    }

    .panel-number {
        position: absolute;
        top: 0;
        left: 0;
        color: #030303;
        @include abril-italic;
        background-color: #fff;
        padding: 7px 12px;
        line-height: 1;
    }

    .panel-text {
        cite {
            display:    block;
            color:      #999;
            font-size:  0.8rem;
            font-style: normal;
            margin:     10px 0 5px 0;

            b {
                display: block;
            }
        }
    }
}

@media all and (min-width: 48rem) {
    #bompard {

        .inner {
            max-width:  1024px;
            margin:     0 auto;
        }

        .bompard-header {
            max-width:      500px;
            margin:         90px auto;
            border-top:     1px solid rgba(255,255,255,0.6);
            padding:        36px 0 0 0;
        }

        .panel-text {
            line-height: 1;
        }

        .comic-panel {
            position:   relative;
            float:      left;

            img {
                display:    block;
                width:      100%;
            }
        }

        .comic-row {
            position:   relative;
            clear:      both;
        }

        .comic-row--1 {
            .panel-text {
                left:       -230px;
                right:      auto;
                width:      470px;
                z-index:    10;
            }

            .comic-panel {
                width: 37.4%;
            }

            .comic-panel--2 {
                width: 59.2%;
                margin-left: 3%;
            }
        }

        .comic-row--2 {
            margin: 1.5em 0;

            .panel-text {
                top:    25px;
                bottom: auto;
                left:   10px;
                right:  0;
                width:  70%;
            }

            .comic-panel--3 {
                width: 64.3%;
                margin-right: 2%;
            }

            .comic-panel--4 {
                width: 33.2%;
                margin-bottom: 2%;
            }

            .comic-panel--5 {
                width: 33.2%;
            }
        }

        .comic-panel--6 {
            width:          37.6%;
            margin-right:   2%;

            .panel-text {
                top:    -5px;
                bottom: auto;
                width:  80%;
            }
        }

        .comic-panel--7 {
            width: 59.9%;

            .panel-text {
                left:   10px;
                right:  auto;
                width:  210px;
            }
        }

        .comic-panel--8 {
            margin-top: 1em;
            margin-right: 3%;
        }

        .comic-panel--9 {
            margin-top: 1em;
            margin-right: 3%;
        }

        .text-panel--1 {
            width: 30%;
        }

        .comic-row--4 {
            margin-top: 1em;

            .comic-column:nth-child(1) {
                width: 28%;
                margin-right: 5%;

                .panel-text {
                    font-style: normal;
                }
            }

            .comic-panel--10 {
                margin-bottom: 40px;

                .panel-text {
                    bottom: -40px;
                    left: 10px;
                }
            }

            .comic-panel--11 {
                .panel-text {
                    bottom: -70px;
                    margin: 0px;
                    left: 10px;
                }
            }

            .comic-column:nth-child(2) {
                width: 66%;

                .panel-text {
                    width: 305px;
                }
            }
        }

        .comic-column {
            float: left;
        }

        .comic-column .comic-panel {
            float: none;
        }

        .outro {
            margin: 7rem .5rem;

            p {
                font-size: 2.005rem;
            }
        }
    }

    .touch {
        #bompard {
            .main-content {
                margin-top: 0%;
            }
        }
    }

}

@media all and (min-width: 60rem) {
    #bompard {

        .text-panel--1 {
            width: 45%;
        }

    }
}
