
#office-2 {
     
    header {
        h1 {
            font-size: 1.618rem;
            text-shadow: 1px 1px 1px #030303;  
        }
    }
}

.no-touch {
    #office-2 {
        img {
            display: block;
        }
    }
}

@media all and (min-width: 48rem) {
    #office-2 {
        .large-screen {
            @include transform-origin( 0 0 );
            @include transform( scale(1.6, 1.6) );
        }

        header {
            h1 {
                font-size: 2.618rem;
            }
        }
    }

    .touch {
        #office-2 {
            .small-screen {
                @include transform-origin( 100% 0 );
                @include transform( scale(1.6, 1.6) );
            }
        }
    }

    .no-touch {
        #office-2 {
            .small-screen {
                display: none;
            }
            .large-screen {
                display: block;
            }

            header {
                h1 {
                    text-shadow: 1px 1px 1px #030303;
                }
            }
        }
    }
}

