# Some globals for those who haven't set their global git ignore
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
######################
.idea
.sass-cache
node_modules
_assets/build/*