
#quackery {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/m5-obscene-doctor-3.jpg);
    }
}

.touch {
    #quackery {

    }
}

.no-touch {
    #quackery {
        
    }
}

@media screen and (min-width: 48em) {
    #quackery {
        .info-box {
            bottom: 100px;
            left:   40%
        }
    }

    .touch {
        #quackery {

        }
    }

    .no-touch {
        #quackery {

        }
    }
}