
.start-merchants-of-light {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/2-merchants-of-light/m2-merchants-of-light-1.jpg);
    }

    .scene-set {
        color: #030303;
    }

    header {
        h1 {
            color: #030303;
        }
    }

    .intro-text {
        color: #030303;
    }
}