
#surgery-under-hypnosis {
    .bg-container {
        video {
            position:   absolute;
            bottom:     0;
        }
    }
}

#self-hypnosis {
    .bg-container {
        video {
            position:   absolute;
            bottom:     0;
        }
    }
}
