
/*font-family: 'Garamond', Times, serif;
font-family: 'Open Sans', sans-serif;*/

/* generic */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family:    'Museo sans', 'helvetica neue', arial, sans-serif;
    font-size:      100%;
    font-weight:    400;
    color:          #333;
    line-height:    1.4;
}


h1 {
    font-family: 'Garamond', Times, serif;
    font-weight: 100;
}

h2, h3, h4, h5, h6 {
    font-family: 'Garamond', Times, serif;
    font-weight: 100;
    margin-bottom: 1em;
}

iframe {
    border: none;
}


.clearfix:before, .row:before,
.clearfix:after, .row:after {
    content:" ";
    display:table;
}

.clearfix:after, .row:after {
    clear:both;
}

/* specific */

[role="main"] {
    overflow: hidden;
}


.start {
    background: url('/_assets/img/mesmer/mesmer-1.jpg') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    background-color: #ccc;
    z-index: 10;
}

.start .scene-set {
    font-family: 'Garamond', Times, serif;
    font-style: italic;
    font-size: 1.2rem; 
    color: rgba(255,255,255,0.7);
    position: relative;
    padding-bottom: 5em;
}
.start .scene-set:before {
    content: '';
    position: absolute;
    background:url('/_assets/img/icon-module.svg')no-repeat;
    height: 24px;
    width: 21px;
    left:-32px;
}
.start .scene-set b {
    display: block;
    font-family: "Museo Sans 300", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight:300;
    font-style:normal; 
    font-size: 2rem;
    color: #fff;
    line-height: 1.3;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.start .text {
    position: absolute;
    top: 2rem;
    left: 5%;
    color: #fff;
    width: 85%;
}

.start .text h1 {
    margin: 0.3em 0 0 0;
    line-height: 1;
}

.start h1 b {
    font-family: 'Garamond', Times, serif;
    font-size: 4.236rem;
    display: block;
    color: #cdc7bf;
}

.start .text .intro-text { 
    width: 60%;
    margin: 1.618rem 0;
}


.mesmers-salon {
    background: url('/_assets/img/mesmer/mesmer-2.jpg')no-repeat;
    color: #efefef;
}

.mesmers-salon .inner {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20%;
}


.title-screen {
    position: relative;
    background: url('/_assets/img/mesmer/mesmer-med.jpg')no-repeat;
    background-size: cover;
    height: 800px;
}
.title-screen .black {
    position: absolute;
    top: 0;
    background-color: rgb(0,0,0);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.title-screen p {
    position: absolute;
    top: 80px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 2.236rem;
    font-family: 'Garamond', Times, serif;
}

.tile-modal{
    background: url('/_assets/img/mesmer/debunk-bkg.jpg') 50% 50% no-repeat;
    background-size: cover;
    box-shadow:inset 0 -4px 6px 1px rgba(0,0,0,.5);
}

.another {
    background-color: blue;
    height: 1400px;
}


/**
    Audio
**/
.audio-icon {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 36px;
    height: 36px;
    background: url('/_assets/img/play-sound.svg') 50% 50% no-repeat;
    background-size: 100%;
    border-radius: 4px;
    /*opacity: 0.3;*/
    z-index: 5;
    -webkit-transition: opacity 0.3s ease;
}
.audio-icon:hover, .audio-icon.active {
    opacity: 1;
}

.audio-icon .circles {
    -webkit-animation-name: circle;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.audio-icon .circles {
    position: absolute;
    top:    0px;
    left:   0px;
    width:  36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 40px;
}

@-webkit-keyframes circle {
    from {
        opacity: 1;
        -webkit-transform: scale(0);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(2);
    }
}


/**
    Crop zoom
**/
.popup-section {
    background-color: #efefef;

    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 50%;

    -moz-perspective: 800;
    -moz-perspective-origin: 50% 50%;
}

.crop-zoom {
    position: absolute;
    top: 0px;
    z-index: 10;

    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease;

    -moz-transform-style: preserve-3d;
    -moz-transition: all 0.3s ease;
}

.depress {
    -webkit-transform: translate3d(0,0,-80px);
    -moz-transform: translate3d(0,0,-80px);
}

.tap-target {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: rgba(255,255,255,0.6);
}

.tap-target.rod {
    top: 370px;
    left: 15%;
}

.tap-target.woman {
    top: 570px;
    left: 45%;
}

.tap-target.mesmer {
    top: 200px;
    right: 22%;
}

.tap-target div {
    position: absolute;
    top:    0px;
    left:   0px;
    width:  36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 40px;
}

.tap-target.animate div {
    -webkit-animation-name: circle;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0);
    width: 100%;
    z-index: 20;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.overlay .image-crop {
    opacity: 0;
    position: absolute;
    z-index: 15;
}
.overlay .image-crop.animate {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.overlay .text {
    position: absolute;
    color: #fff;
    width: 25%;
    padding: 0 15px;
    opacity: 0;
    line-height: 1.4;
    z-index: 15;
    -webkit-transform: translate3d(0, 100px, 0);
    -webkit-transition: -webkit-transform 0.5s ease;

    -moz-transform: translate3d(0, 100px, 0);
    -moz-transition: transform 0.5s ease;
}
.overlay .text.show {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}


/**
    Scrolly Nonsense
**/
.scrolly-nonsense {
    background: #0d0d13 url('/_assets/img/mesmer/mesmer-4.jpg') fixed 50% 50% no-repeat;
    background-size: cover;
    padding: 40px 0;
    color: #fff;
    overflow: hidden;
}

.scrolly-nonsense .inner {
    position: relative;
    max-width: 1260px;
    margin: 0 auto;
}

.scrolly-nonsense .fixed {
    width: 40%;
}

.scrolly-nonsense .content {
    float: right;
    width: 50%;
}


/**
    Library Layer
**/
.investigates {
    position: relative;    
    height: 800px;
}

.investigates .inner {
    border-top: 1px solid #ccc;
    max-width:  1024px;
    margin:     2em auto;
    padding:    1.5em;
}

.investigates header {
    text-align: center;
    margin:     1em 0;
    padding:    1.5em;
}
.investigates h2 {
    line-height: 1;
    margin: 2rem 0;
}

.investigates .body {
    margin: 0 auto;
    width: 50%;
}

.investigates blockquote {
    border-top:     1px solid #ccc;
    border-bottom:  1px solid #ccc;
    width:      50%;
    padding:    1em 0;
    margin:     1em auto;
}

.investigates blockquote p {
    width:  80%;
    margin: 0 auto;
}

.investigates .video-popup {
    margin-top: 8rem;
    text-align: center;
}
.investigates .video-popup a {
    display: block;
    color: #fff;
}

.investigates .talkinghead {
    background: url('/_assets/img/icon-talkinghead.svg') 50% 0 no-repeat;
    background-size: 70px;
    text-align: center;
    padding-top: 80px;
}

/** Conclusion/Library layer */

.conclusion {
    background-color: #515965;
    padding: 1em 0 2.5em 0;
}

.conclusion .button {
    position:   relative;
    background: url('/_assets/img/plus.png') 50% 50% no-repeat; 
    width:      50px;
    height:     49px;
    margin:     0 0 0 1.5rem;
    z-index:    15;

    -webkit-transition: -webkit-transform 1s ease;
}

.conclusion .button.animate {
    -webkit-transform: rotate(405deg);
}

.conclusion .gap {
    background: #515965;
    box-shadow: inset 0 4px 8px 2px rgba(0,0,0,0.6);
    height: 0;
    width:  100%;
    overflow: hidden;
    margin-top: -25px;
    -webkit-transition: height 0.4s ease;
}

.conclusion .gap .inner {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 30px;
}

.conclusion .gap ul {
    float: left;
    width: 50%;
}

.conclusion .gap a {
    color: #fff;
}

