
<div id="mesmers-salon" class="panel" data-config='{}'>

    <div class="bg-container">
        <img alt="" src="/pathways/1-mindcraft/1-mesmer/_assets/mesmer-2.jpg">
    </div>

    <div class="main-content center">

        <div class="inner">
            <header>
                <h1>In Mesmer’s Salon</h1>
            </header>

            <p>In his salons, or séances, a mysterious ‘magnetic fluid’ flowed invisibly round the participants. They convulsed, spoke in tongues and collapsed in violent fits. When they were revived they found themselves cured of all manner of illnesses, from toothache to paralysis and even blindness.</p>
        </div>

    </div>

</div>
