#john-tradescant {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/1-curious-gardener/m1-curious-gardener-2.jpg);
    }
}
.touch {
    #john-tradescant {}
}
.no-touch {
    #john-tradescant {}
}
@media screen and (min-width: 48em) {
    #john-tradescant {
        .main-content {
            color: #030303;
            .inner:first-child {
                margin: 6rem auto;
                border-top: 1px solid #030303;
                border-bottom: 1px solid #030303;
            }
        }
    }
    .touch {
        #john-tradescant {}
    }
    .no-touch {
        #john-tradescant {}
    }
}
