#unique-artifacts {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/1-curious-gardener/m1-curious-gardener-4.jpg);
    }
}

@media screen and (min-width: 48em) {

/**
    Crop zoom
**/

    .crop-zoom {
        .tap-target.croc {
            top: 46%;
            left: 14%;
        }
        .tap-target.person {
            top: 74%;
            left: 39%;
        }
        .tap-target.bird {
            top: 26%;
            left: 74%;
        }
        .tap-target.cabinet {
            top: 56%;
            left: 74%;
        }
        .tap-target.books {
            top: 56%;
            left: 7%;
        }
        .tap-target.window {
            top: 56%;
            left: 84%;
        }
    }
}
