#unique-artifacts {
    display: none;
}
@media screen and (min-width: 48em) {
    #unique-artifacts {
        display: block;
        min-height: 707px;

        .bg-container {
            min-height: 707px;
        }
        .crop-zoom {
            .tap-target.croc {
                top: 2%;
                left: 40%;
            }
            .tap-target.person {
                top: 60%;
                left: 57%;
            }
            .tap-target.bird {
                top: 35%;
                left: 5%;
            }
            .tap-target.cabinet {
                top: 80%;
                left: 5%;
            }
            .tap-target.books {
                top: 40%;
                left: 80%;
            }
            .tap-target.window {
                top: 40%;
                left: 40%;
            }
        }
    }
    .touch {
        #unique-artifacts {
            .main-content {
                margin-top: 32%;
                margin-bottom: 10%;
            }
        }
    }
}
