
.start-death-collector {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/3-death-collector/m3-death-collector-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-death-collector {
        .content {
            float:          right;
            margin:         0;
            text-shadow:    1px 1px 2px #333;
        }
    }
}