
.black-strip {
    display: none;
}

@media all and (min-width: 48rem) {
    .black-strip {
        display:            block;
        position:           absolute;
        top:                0;
        left:               0;
        width:              415px;
        height:             100%;
        background-color:   rgba(0,0,0,0.7);
    }
}
