
.carousel {
    position:           fixed;
    top:                0;
    left:               0;
    background-color:   #000;
    overflow:           hidden;
    width:              100%;

    @include transform( translate3d(0,0,0) scale3d(1,1,1) );

    -webkit-transform-style:    preserve-3d;
    -webkit-backface-visibility: hidden;

    z-index: 50;

    ul {
        overflow: hidden;

        @include transform( translate3d(0%,0,0) scale3d(1,1,1) );

        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;

        &.animate {
            @include transition( all 0.3s );
        }
    }

    li {
        position:   relative;
        float:      left;
        overflow:   hidden;

        @include transform( translate3d(0,0,0) );

        -webkit-transform-style: preserve-3d;

        @include transition( opacity 0.3s );
    }

    .prev {
        position:           absolute;
        top:                0;
        width:              46px;
        background:         rgba(0,0,0,0.2) url(/_assets/img/icons/icon-btn-prev.svg) 50% 50% no-repeat;
        background-size:    50%;

        &.disabled {
            opacity: 0.2;
        }
    }

    .next {
        position:           absolute;
        top:                0;
        width:              46px;
        background:         rgba(0,0,0,0.2) url(/_assets/img/icons/icon-btn-next.svg) 50% 50% no-repeat;
        background-size:    50%;

        &.disabled {
            opacity: 0.2;
        }
    }

    .text {
        position:           absolute;
        left:               0;
        bottom:             0;
        width:              100%;
        color:              #fff;
        font-size:          0.8rem;
        border-left:        2px solid rgba(92,184,178,1);
        background-color:   rgba(0,0,0,0.6);
        padding:            0.8rem 0.6rem;
    }
}

.close {
    position:           absolute;
    top:                40px;
    right:              40px;
    background:         rgba(0,0,0,0.3) url(/_assets/img/icons/icon-close.svg) 50% 50% no-repeat;
    background-size:    80%;
    width:              40px;
    height:             40px;
    border-radius:      5px;
    z-index:            100;
}
