.carousel-gallery {

    .full-height img {
        height: 100%;
        width:auto;
        margin: 0;
    }
    .full-width img {
        height: auto;
        width: 100%;
        margin: auto 0;
    }

    .text {
        @include caption-styling;
    }
}
