
.global-navigation {
    nav {
        background-color: #000;
    }

    a {
        color: #fff;
    }

    img {
        display: none;
    }
    li {
        opacity: 0.5;
        -webkit-transition: .3s ease;

        &.active, &:hover {
            opacity: 1;
        }
    }
    
}

@media screen and (min-width: 48em) {
    .global-navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 20;

        -webkit-transform: translate(-1211px, 0);
        -webkit-transition: -webkit-transform 0.4s ease;

        &.active {
            -webkit-transform: translate(0, 0);
        }

        nav {
            float:              left;
            background-color:   rgba(0,0,0,0.7);
            width:              1210px;
            height:             auto;
        }

        ul {
            display: block;
        }

        li {
            float: left;
            list-style: none;
        }

        a {
            display:        block;
            color:          #fff;
            @include        abril-regular;
            font-size:      0.7rem;
            text-transform: uppercase;
            letter-spacing: .1em;
            width:          180px;
            padding:        1em 1em 2em 1em;
            text-decoration: none;

            &:first-child {
                margin-left: 1em;
            }

            span {
                display: block;
                padding: 0.6em 0;
            }

            img {
                display: block;
                width: 100%;
            }
        }

        .handle {
            float: left;
            background-color: rgba(0,0,0,0.8);
            width:  82px;
            height: 42px;
            -webkit-border-radius: 0 38px 38px 0;
            border-radius: 0 38px 38px 0;
            .current-section{
                color: #fff;
                background-color: $mind-pink;
                border-radius: 25%;
                padding: 3px;
                @include        tablet-gothic;
            }
            .open-nav-btn{
                width: 10px;
                height: 18px;
            }
        }

        li:nth-child(1) span {
            border-top: 1px solid #D81793;
        }

        li:nth-child(2) span {
            border-top: 1px solid #D5189A;
        }

        li:nth-child(3) span {
            border-top: 1px solid #CB1AA8;
        }

        li:nth-child(4) span {
            border-top: 1px solid #BB1DBD;
        }

        li:nth-child(5) span {
            border-top: 1px solid #B01FCF;
        }

        li:nth-child(6) span {
            border-top: 1px solid #A921D9;
        }
    }
}
