
.infinite-canvas {
    position:           absolute;
    top:                0;
    left:               0;
    background-color:   #fff;
    width:              8000px;
    height:             4328px;
    cursor:             move;

    @include transform(translateZ(0));

    -webkit-transform-style:    preserve-3d;
    -webkit-backface-visibility: hidden;

    &.animate {
        @include transition(all 0.3s ease);
    }

    .text-panel {
        position:       absolute;
        width:          750px;
        border-top:     1px solid #030303;
        border-bottom:  1px solid #030303;
        line-height:    1.618;

        header {
            padding: 2rem 0 1.6rem 0;
        }

        p {
            font-size: 20px;
        }

        p + p {
            margin-top: 1rem;
        }

        .controls {
            padding: 1rem 0;
            @include clearfix;

            .navigation {
                float: right;

                a {
                    font-size: 24px;
                    padding: 0.6rem 0;
                    text-decoration: none;
                }

                .prev {
                    color: #a1a1a1;
                    margin-right: 1rem;
                }

                .next {
                    color: #f83f36;
                }
            }
        }
    }

    .image-panel {
        position: absolute;
        width: auto !important;
        overflow: hidden;
    }

    .info-box {
        position: absolute;
        left: 0;
        top: 0;
    }

    .text {
        @include caption-styling;
        left: 75px;
        top: 5px;
        bottom: auto;
        opacity: 0;
    }
    .active .text {
        opacity: 1;
    }
}
.csstransforms {
    .infinite-canvas {
        .text {
            @include transition(all 0.5s ease);
            @include transform(translate(0, -100px));
        }

        .active .text {
            @include transform(translate(0, 0px));
        }
    }
}
