
.infinite-canvas {
    position:           absolute;
    top:                0;
    left:               0;
    background-color:   #fff;
    width:              3000px;
    height:             2000px;
    cursor:             move;

    @include transform(translateZ(0));

    -webkit-transform-style:    preserve-3d;
    -webkit-backface-visibility: hidden;

    &.animate {
        @include transition(all 0.3s ease);
    }
}
