
.info-box {
    cursor:     pointer;
    z-index:    20;

    svg {
        width:  90px; 
        height: 90px;
    }

    .inner {
        -webkit-transform-origin: 50% 50%;
        -webkit-animation: info-box-animation-inner 5s ease infinite;

        -moz-transform-origin:      35px 35px;
        -moz-animation:             info-box-animation-inner 5s ease infinite;
    }
    .outer {
        -webkit-transform-origin:   50% 50%;
        -webkit-animation:          info-box-animation-outer 5s ease infinite;
        -webkit-animation-delay:    0.2s;

        -moz-transform-origin:      35px 35px;
        -moz-animation:             info-box-animation-outer 5s ease infinite;
        -moz-animation-delay:       0.2s;
    }

    &:hover {
        opacity: 0.8;
    }
}

.info-box.with-text {
    width: 190px;

    .text {
        position:   absolute;
        left:       95px;
        top:        26px;
        color:      #fff;
        @include    tablet-gothic;
        width:      120px;

        .info-type {
            display:        block;
            font-size:      0.9rem;
            text-transform: uppercase;
            opacity:        0;

               -moz-transition: all 1s ease;
                    transition: all 1s ease;

            -webkit-transform: translate(50px, 0);
               -moz-transform: translate(50px, 0);
                    transform: translate(50px, 0);
        }

        .info-title {
            font-size:  0.8rem;
            opacity:    0;

               -moz-transition:         all 1s ease;
                    transition:         all 1s ease;

            -webkit-transform:          translate(50px, 0);
               -moz-transform:          translate(50px, 0);
                    transform:          translate(50px, 0);

               -moz-transition-delay:   0.15s;
                    transition-delay:   0.15s;
        }
    }

    &.active {
        .info-type {
            opacity: 1;
            
            -webkit-transform: translate(0, 0);
               -moz-transform: translate(0, 0);
                    transform: translate(0, 0);
        }
        .info-title {
            opacity: 1;
            -webkit-transform: translate(0, 0);
               -moz-transform: translate(0, 0);
                    transform: translate(0, 0);
        }
    }
}

@-webkit-keyframes info-box-animation-inner {
    0% {
        -webkit-transform: scale(0.9);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(0.9);
    }
}

@-webkit-keyframes info-box-animation-outer {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9);
    }
}

@-moz-keyframes info-box-animation-inner {
    0% {
        -moz-transform: scale(0.9);
    }
    50% {
        -moz-transform: scale(1.1);
    }
    100% {
        -moz-transform: scale(0.9);
    }
}

@-moz-keyframes info-box-animation-outer {
    0% {
        opacity: 0;
        -moz-transform: scale(0.9);
    }
    50% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }
    100% {
        opacity: 0;
        -moz-transform: scale(0.9);
    }
}

