
.intro-navigation--the-collectors {
    overflow:   hidden;
    margin-top: 1.616rem;

    nav {
        max-width:  1280px;
        height:     auto;
        margin:     0 auto;
    }

    a {
        display:            block;
        color:              #fff;
        @include            abril-regular;
        font-size:          0.7rem;
        text-transform:     uppercase;
        letter-spacing:     0.1em;
        padding:            0 1rem 1.618rem 1rem;
        text-decoration:    none;

        span {
            padding-top: 0.2rem;
        }

        img {
            display: none;
        }
    }

    li {
        @include animation(nav-reveal 0.5s ease);

        -webkit-animation-fill-mode: forwards;
           -moz-animation-fill-mode: forwards;
            -ms-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
    }

    li:nth-child(1) {
        @include animation-delay(0.2s);

        span {
            border-top: 1px solid #D81793;
        }
    }

    li:nth-child(2) {
        @include animation-delay(0.3s);

        span {
            border-top: 1px solid #D5189A;
        }
    }

    li:nth-child(3) {
        @include animation-delay(0.4s);

        span {
            border-top: 1px solid #CB1AA8;
        }
    }

    li:nth-child(4) {
        @include animation-delay(0.5s);

        span {
            border-top: 1px solid #BB1DBD;
        }
    }

    li:nth-child(5) {
        @include animation-delay(0.6s);

        span {
            border-top: 1px solid #B01FCF;
        }
    }

    li:nth-child(6) {
        @include animation-delay(0.7s);

        span {
            border-top: 1px solid #A921D9;
        }
    }
}

.csstransitions {
    .intro-navigation--the-collectors {
        li {
            opacity: 0;
        }
    }
}

@media screen and (min-width: 48em) {
    .intro-navigation--the-collectors {
        margin-top: 0;

        li {
            float:      left;
            list-style: none;
            width:      16.666%;
        }

        a {
            color:      #030303;
            font-size:  0.75rem;
            padding:    1rem;

            span {
                display:    block;
                padding:    0.6em 0;
                height:     48px;
            }

            img {
                display:    block;
                width:      100%;
                border:     none;
            }
        }

        li:nth-child(1) {
            .image {
                background:         url($the-collectors-assets + '/navigation/1-curious-gardener.jpg') 0 0 no-repeat;
                background-size:    100%;
            }
        }

        li:nth-child(2) {
            .image {
                background:         url($the-collectors-assets + '/navigation/2-merchants-of-light.jpg') 0 0 no-repeat;
                background-size:    100%;
            }
        }

        li:nth-child(3) {
            .image {
                background:         url($the-collectors-assets + '/navigation/3-death-collector.jpg') 0 0 no-repeat;
                background-size:    100%;
            }
        }

        li:nth-child(4) {
            .image {
                background:         url($the-collectors-assets + '/navigation/4-unceasing-seeker.jpg') 0 0 no-repeat;
                background-size:    100%;
            }
        }

        li:nth-child(5) {
            .image {
                background:         url($the-collectors-assets + '/navigation/5-obscene-doctor.jpg') 0 0 no-repeat;
                background-size:    100%;
            }
        }

        li:nth-child(6) {
            .image {
                background:         url($the-collectors-assets + '/navigation/6-ignorant-bride.jpg') 0 0 no-repeat;
                background-size:    100%;
            }
        }
    }
}
