.intro-navigation--the-collectors {
    a {
        color: #fff;
        @include abril-regular;
    }

    li:nth-child(1) {
        span {
            border-top: 1px solid #e65035;
        }
    }
    li:nth-child(2) {
        span {
            border-top: 1px solid #e95d3a;
        }
    }
    li:nth-child(3) {
        span {
            border-top: 1px solid #ec6c3f;
        }
    }
    li:nth-child(4) {
        span {
            border-top: 1px solid #ef7b44;
        }
    }
    li:nth-child(5) {
        span {
            border-top: 1px solid #f28a49;
        }
    }
    li:nth-child(6) {
        span {
            border-top: 1px solid #f4974d;
        }
    }
}
@media screen and (min-width: 48em) {
    .intro-navigation--the-collectors {
        a {
            color: #fff;
        }
    }
}
