
.intro {

    .bg-container {
        position:           absolute;
        top:                0;
        left:               0;
        background:         url(/_assets/img/intro/intro.jpg) 50% 50% no-repeat;
        background-size:    cover;
        width:              100%;
        z-index:            -1;

        img {
            width: 100%;
        }
    }

    .logo {
        position:           absolute;
        top:                20px;
        left:               20px;
        width:              136px;
        height:             47px;
        background:         url(/_assets/img/logo.png) 0 0 no-repeat;
        background-size:    100%;
    }

    .inner {
        position: relative;
        max-width:  960px;
        margin:     0 auto;
        text-align: center;
    }

    .intro-header {
        color:      #fff;
        margin-top: 1.618rem;

        h1 {
            text-transform: uppercase;
        }
    }

    .intro-body {
        color:      #fff;
        margin-top: 1.618rem;

        span {
            color: #DD178C;
        }
    }

    .intro-button {
        display:            block;
        color:              #fff;
        @include            tablet-gothic;
        text-decoration:    none;
        margin-bottom:      8%;
        margin-bottom:      8vh;

        span {
            display:            block;
            width:              50px;
            height:             50px;
            background:         url(/_assets/img/icons/icon-teaser.svg) 50% 50% no-repeat;
            background-size:    100%;
            margin:             0.5rem auto 0 auto;

            -webkit-transition: all 0.2s ease;
               -moz-transition: all 0.2s ease;
                -ms-transition: all 0.2s ease;
                    transition: all 0.2s ease;
        }

        &:hover {
            span {
                -webkit-transform: translate(6px, 0);
                   -moz-transform: translate(6px, 0);
                    -ms-transform: translate(6px, 0);
                        transform: translate(6px, 0);
            }
        }
    }
}

@media screen and (min-width: 48em) {
    .intro {
        .intro-header {
            color:      #fff;
            margin-top: 16%;
            margin-top: 16vh;

            h1 {
                font-size:      4rem;
                line-height:    1;

                span {
                    color: #DD178C;
                }
            }
        }

        .intro-body {
            font-size:  1.293rem;
            margin:     0 auto 4rem auto;
        }
    }
}