
.intro {

    .bg-container {
        position:           absolute;
        top:                0;
        left:               0;
        background-size:    cover;
        width:              100%;
        z-index:            -1;

        img {
            width: 100%;
        }
    }

    .logo {
        position:           absolute;
        top:                20px;
        left:               20px;
        width:              100px;
        height:             47px;
        background:         url(/_assets/img/logo.png) 0 0 no-repeat;
        background-size:    100%;
    }

    .inner {
        position:   relative;
        max-width:  960px;
        margin:     0 auto;
        text-align: center;
    }

    .intro-header {
        color:      #fff;
        margin-top: 18%;
        margin-top: 18vh;

        h1 {
            text-transform: uppercase;
        }
    }

    .intro-body {
        color:      #fff;
        margin:     1rem auto 2rem auto;
        padding:    0 1rem;

        span {
            color: #DD178C;
        }
    }

    .intro-button {
        display:            inline-block;
        color:              #fff;
        @include            tablet-gothic;
        text-decoration:    none;
        margin-bottom:      8%;
        margin-bottom:      8vh;

        span {
            display:            inline-block;
            width:              40px;
            height:             40px;
            background:         url(/_assets/img/icons/icon-teaser.svg) 50% 50% no-repeat;
            background-size:    100%;
            margin-left:        1rem;
            vertical-align:     middle;

            -webkit-transition: all 0.2s ease;
               -moz-transition: all 0.2s ease;
                -ms-transition: all 0.2s ease;
                    transition: all 0.2s ease;
        }

        &:hover {
            span {
                -webkit-transform: translate(6px, 0);
                   -moz-transform: translate(6px, 0);
                    -ms-transform: translate(6px, 0);
                        transform: translate(6px, 0);
            }
        }
    }
}

.intro--mindcraft {
    .bg-container {
        background: url(/_assets/img/intro/intro.jpg) 50% 50% no-repeat;
    }
}

.intro--the-collectors {
    .bg-container {
        background: url(/pathways/2-the-collectors/_assets/1-curious-gardener/m1-curious-gardener-1.jpg) 50% 50% no-repeat;
    }

    .intro-header {
        color: #030303;
    }

    .intro-body {
        color: #030303;
    }

    .intro-button {
        color: #030303;
    }
}

@media screen and (min-width: 48em) {
    .intro {
        .logo {
            width: 136px;
        }

        .intro-header {
            margin-top: 16vh;

            h1 {
                font-size:      4rem;
                line-height:    1;

                span {
                    color: #DD178C;
                }
            }
        }

        .intro-body {
            font-size:  1.293rem;
            margin:     0 auto 4rem auto;
            padding:    0;
        }

        .intro-button {
            span {
                display:            block;
                width:              50px;
                height:             50px;
                margin:             0.5rem auto 0 auto;
            }
        }
    }
}