
.intro {

    .bg-container {
        z-index: -1;
    }

    .inner {
        max-width:  960px;
        margin:     0 auto;
        text-align: center;
    }

    &-header {
        color:      #fff;
    }

    &-body {
        color:      #fff;
        max-width:  40%;
        margin:     0 auto 4em auto;

        span {
            color: #DD178C;
        }
    }

    &-button {
        display:            block;
        max-width:          40%;
        color:              #fefefe;
        @include            tablet-gothic;
        font-size:          0.8rem;
        background-color:   rgba(0,0,0,0.2);
        border:             1px solid rgba(255,255,255, 0.6);
        border-radius:      5px;
        text-align:         center;
        margin:             0 auto 10vh auto;
        padding:            1.2rem 0 1rem 0;
        text-decoration:    none;
        text-transform:     uppercase;
    }
}

@media screen and (min-width: 48em) {
    .intro {
        &-header {
            color:      #fff;
            margin:     16vh 0 5vh 0;

            h1 {
                font-size: 4rem;

                span {
                    color: #DD178C;
                }
            }
        }
    }
}