.carousel-letter-gallery {
    .letter-pane {
        position: relative;
        padding: 15px;
        margin: 0 auto;
    }
    .short-letter-pane {
        width: 70%;
    }
    .medium-letter-pane {
        width: 90%;
    }
    .letter-images {
        float: left;
        max-width: 40%;
        position: relative;
        border-right: 3px solid rgba(92, 184, 178, 1);
        div {
            @include transition( opacity 0.5s);
        }
        .highlight-image {
            position: absolute;
            top: 0;
        }
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    }
    .short-letter-images {
        max-width: 60%;
    }
    .medium-letter-images {
        max-width: 50%;
    }
    .highlight-hidden {
        opacity: 0;
    }
    .highlight-active {
        opacity: 1;
    }
    .set-highlight {
        cursor: pointer;
        background: url('/_assets/img/icons/icon-white-black-text.svg') 0 0 no-repeat;
        background-size: 100%;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 12px;
        right: 8px;
        opacity: 0.5;
    }
    .unset-highlight {
        opacity: 1;
    }
    .letter-info {
        float: left;
        margin-left: -3px;
        border-left: 3px solid rgba(92, 184, 178, 1);
        max-width: 60%;
        padding: 10px 15px;
    }
    .short-letter-info {
        max-width: 40%;
    }
    .medium-letter-info {
        max-width: 50%;
    }
    .letter-text {
        @include transition( color 0.5s);
        float: left;
        clear: left;
        color: #ddd;
        padding-bottom: 30px;
        .audio-transcript {
            @include transition( color 0.5s);
            color: #ddd;
        }
        em {
            font-style: normal;
            text-decoration: underline;
        }
        p {
            text-indent: 2em;
        }
        p.no-indent {
            text-indent: 0;
        }
        .page-numbers {
            position: absolute;
            bottom: 20px;
            color: #ccc;
            font-family: "tablet-gothic", 'Avenir Next', Corbel, Arial, Roboto, sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 0.75rem;
            height: 18px;
        }
    }
    .short-letter-text {
        line-height: 2;
    }
    .medium-letter-text {
        line-height: 1.5;
    }
    .long-letter-text {
        line-height: 1.25;
    }
    .letter-text-highlight-active {
        color: #aaa;
        .audio-transcript {
            color: #fff;
        }
    }
}
.audio-player-wrapper {
    width: 100%;
    max-width: 400px;
    position: relative;
    padding: 10px;
    margin: 10px 0 20px 0;
    background: rgba(255, 255, 255, 0.23);
}
.audio-player-gallery {
    margin: 0 35px 16px 0;
    .progressed, .progress-bar {
        height: 3px;
    }
}
.close-carousel-letter-gallery {
    top: 43px;
    right: 20px;
}
