
.library-panel {
    display:    none;
    position:   absolute;
    bottom:     0;
    right:      0;
    z-index:    5;
    // -webkit-transform:  translate(200px, 200px);
    -webkit-transition: all 0.5s ease;
    
    .handle {
        display:        block;
        color:          #fff;
        @include        abril-italic;
        width:          40px;
        border:         1px solid #fff;
        border-radius:  3px;
        text-align:     center;
        margin:         0 0 5px -45px;
        line-height:    40px;
    }

    .body {
        color:              #fff;
        background-color:   rgba(0,0,0,0.8);
        width:              200px;
        height:             200px;
        padding:            15px;
    }

    &.active {
        -webkit-transform:  translate(0, 0);
    }
}

.js .library-panel {
    display: block;
}
