
.library-panel {
    display:    none;
    position:   absolute;
    bottom:     0;
    right:      0;
    z-index:    15;

    @include transform( translate(100%, 88%) );
    @include transition( all 0.5s ease );

    .handle {
        display:            block;
        position:           relative;
        color:              #5cb8b2;
        @include            abril-italic;
        width:              46px;
        height:             46px;
        border:             3px solid #5cb8b2;
        border-radius:      50%;
        text-align:         center;
        margin:             0 0 15px -61px;
        line-height:        40px;
        cursor:             default;
        background:         rgba(0,0,0, .8) url(/_assets/img/icons/icon-green-info.svg) 50% 50% no-repeat;
        background-size:    9px;
        z-index:            900;
    }

    .body {
        color:              #fff;
        background-color:   rgba(92,184,178,0.9);
        width:              420px;
        min-height:         200px;
        padding:            15px;

        @include transition( all 0.3s ease );

        li {
            list-style: none;

            span {
                display: block;
            }

            a {
                @include    tablet-gothic;
                font-size:  0.8rem;
                color:      #333;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &.active {
        @include transform( translate(38px, 38px));

        .handle {
            background-color: rgba(0,0,0, 1);
            background-image: url(/_assets/img/icons/icon-cross-green.svg);
            background-size:  16px;
        }
        .body {
            @include transform( translate(-38px, -38px));
        }
    }

    .share-me {
        p {
            @include            tablet-gothic;
            font-size:          0.8rem;
            color:              #333;
            text-decoration:    none;
        }
        ul {
            width:              100%;
            min-height:         50px;
            display:            block;
            li {
                float:          left;
                margin:         5px 5px 0 0;
                padding:        5px 5px 2px 0px;
                border-radius: 3px;
            }

            .twitter,
            .googleplus { padding-top:  8px; }

            // Below required to force fb share btn to render in ie
            .facebook {
                padding-top:        8px;
                span {
                    height:         20px !important;
                    width:          56px !important;
                    &>iframe {
                        height:     1000px !important;
                        width:      75px !important;
                    }
                }
            }
        }
        img {
            border: none;
            margin: 0px;
        }

    }

}

