
/** Library layer */

.library-layer {
    position:           relative;
    @include            tablet-gothic;

    h1 {
        @include tablet-gothic;
    }

    li {
        list-style: none;
    }

    .inner {
        max-width:  64em;
        margin:     0 auto;
    }

    .bar {
        background-color:   #70B5C9;
        padding:            1.2em 0;

        span {
            color:          #fff;
            font-size:      0.9rem;
            text-transform: uppercase;
            margin-left:    1.5em;
        }

        .button {
            float:          right;
            color:          #fff;
            font-size:      0.9rem;
            padding:        0 1em;
            line-height:    30px;
            text-transform: uppercase;
            text-decoration: none;
            border:         1px solid #fff;
            border-radius:  5px;
        }
    }

    .gap {
        background: #fff;
        width:      100%;
        overflow:   hidden;
    }

    .in-the-player {
        padding: 2em 0;

        .in-the-player--header {
            border-bottom: 1px solid #999;
            margin-bottom: 2em;

            h1 {
                color:      #999;
                font-size:  0.9rem;
                text-transform: uppercase;
            }
        }

        li {
            float: left;
            width: 45%;
        }

        li:nth-child(odd) {
            margin-right: 10%;
        }
    }

    .player-item {
        margin-bottom: 3em;

        img {
            float: left;
            margin-right: 0.8em;
        }

        .player-item--content {
            float: left;
            width: 60%
        }

        .player-item--header {
            margin-bottom: 0.8em;

            h1 {
                font-size: 1.2rem;
            }
        }

        .player-item--body {
            color:      #64696A;
            font-size:  0.9rem;

            cite {
                display:    block;
                margin-top: 1em;
            }
        }

        .player-item--footer {
            border-top:     1px solid #ccc;
            padding-top:    0.5em;

            a {
                color:              #8CC4D4;
                font-size:          0.8rem;
                text-decoration:    none;
                text-transform:     uppercase;
            }
        }
    }

    .related-resources {
        background-color: #F9F9F9;
        padding: 2em 0;

        .related-resources--header {
            border-bottom: 1px solid #999;
            margin-bottom: 1em;

            h1 {
                color:      #999;
                font-size:  0.9rem;
                text-transform: uppercase;
            }
        }

        li {
            float: left;
            width: 45%;
        }

        li:nth-child(odd) {
            margin-right: 10%;
        }
    }

    .related-item {
        margin-bottom: 2em;

        .related-item--header {
            margin-bottom: 0.8em;

            a {
                color:              #000;
                text-decoration:    none;
            }

            a:hover {
                color: #8CC4D4;
            }

            h1 {
                font-size: 1.2rem;
            }
        }
    }
}
