
.library-panel {
    display:    none;
    position:   absolute;
    bottom:     0;
    right:      0;
    z-index:    5;
    -webkit-transform:  translate(200px, 200px);
    -webkit-transition: all 0.5s ease;
    
    .handle {
        display:        block;
        color:          #5cb8b2;
        @include        abril-italic;
        width:          46px;
        border:         3px solid #5cb8b2;
        border-radius:  50%;
        text-align:     center;
        margin:         0 0 15px -61px;
        line-height:    40px;
        cursor:         default;
        background-color: rgba(0,0,0, .8);
    }

    .body {
        color:              #fff;
        background-color:   rgba(0,0,0,0.8);
        width:              200px;
        height:             200px;
        padding:            15px;
    }

    &.active {
        -webkit-transform:  translate(0, 0);
    }
}

.js .library-panel {
    display: block;
}
