.modal-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 1;
        @include transition( opacity 0.4s ease);
    img {
        max-width: 96%;
        max-height: 96%;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .text {
        @include caption-styling;
    }
    &.modal-box-hidden {
        opacity: 0;
    }
    &.modal-box-shown {
        opacity: 1;
    }
}
