.modal-img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 96%;
    max-height: 96%;
    @include transition( opacity 0.4s ease );
}
.modal-img.modal-img-hidden {
    opacity: 0;
}

.modal-img.modal-img-shown {
    opacity: 1;
}
