
.mute {
    display:    none;
    position:   fixed;
    top:        40px;
    right:      40px;
    background: url(/_assets/img/icons/icon-speaker-circle-white.svg) 0 0 no-repeat;
    background-size: 100%;
    width:      40px;
    height:     40px;
    z-index:    49;

    &.active {
        background: url(/_assets/img/icons/icon-speakermuted-circle-white.svg) 0 0 no-repeat;
        background-size: 100%;
    }
}