
.overlay {
    position:           fixed;
    top:                0;
    background-color:   rgba(0,0,0,0);
    width:              100%;
    z-index:            100;

    @include transition( opacity 0.3s ease );
}
