.modal-open {
    overflow: hidden;
}

.overlay {
    position:           fixed;
    top:                0;
    bottom:             0;
    background-color:   rgba(0,0,0,0.8);
    width:              100%;
    z-index:            100;
    opacity: 			0;

    @include transition( opacity 0.4s ease );
}
.modal-open .overlay {
	opacity: 			1;
}
