
.intro {

    .bg-container {
        z-index: -1;
    }

    .inner {
        max-width:  960px;
        margin:     0 auto;
        text-align: center;
    }

    &-header {
        color:      #fff;
        margin:     16vh 0 5vh 0;

        h1 {
            font-size: 4rem;

            span {
                color: #DD178C;
            }
        }
    }

    &-body {
        color:      #fff;
        max-width:  40%;
        margin:     0 auto 4em auto;

        span {
            color: #DD178C;
        }
    }

    &-button {
        display:            block;
        max-width:          40%;
        color:              #fefefe;
        @include            tablet-gothic;
        font-size:          0.7rem;
        background-color:   rgba(0,0,0,0.2);
        border:             1px solid rgba(255,255,255, 0.6);
        border-radius:      5px;
        text-align:         center;
        margin:             0 auto 10vh auto;
        padding:            1em 0;
        text-decoration:    none;
        text-transform:     uppercase;
    }
}

.panel {
    // border: 2px solid #ff0;
}
.bg-container {
    // border: 2px solid #f00;
}
.panel h1{
    font-size: 3.245rem;
}
.panel p {
    font-size:  1.239rem;
    line-height: 1.618;
    margin-top: 1.618rem;
}

.scroll-content--strip {
    position: absolute;
    left: 3%;
    font-size: 0.9rem;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    width: 250px;
    padding: 35px 25px 200px 25px;
    line-height: 1.6;

    p {
        margin-bottom: 1rem;
    }

    &.top {
        top: 0;
    }

    &.bottom {
        bottom: -1px;
    }
}


/* Mesmer */


.tap-block p {
    position:   absolute;
    top:        80px;
    width:      100%;
    color:      #fff;
    text-align: center;
    font-size:  2.236rem;
    @include    abril-regular;
}

.sciences-committee {
    .scroll-content {
        top: 35%;
        bottom: auto;
        width: 100%;

        header {
            margin-bottom: 3em;
        }

        h1 {
            color: #fff;
            text-align: center;
        }
    }

    .inner {
        width:80%!important;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.black-strip {
    position: fixed; 
    top: 0; 
    left: 41px; 
    width: 415px; 
    background-color: rgba(0,0,0,0.8);
}


/**
    Audio
**/
.audio-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 36px;
    height: 36px;
    background: url('/_assets/img/play-sound.svg') 50% 50% no-repeat;
    background-size: 100%;
    border-radius: 4px;
    z-index: 5;
    -webkit-transition: opacity 0.3s ease;
}
.audio-icon:hover, .audio-icon.active {
    opacity: 1;
}

.audio-icon .circles {
    -webkit-animation-name: circle;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.audio-icon .circles {
    position: absolute;
    top:    0px;
    left:   0px;
    width:  36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 40px;
}

@-webkit-keyframes circle {
    from {
        opacity: 1;
        -webkit-transform: scale(0);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(2);
    }
}


/**
    Crop zoom
**/

.crop-zoom {
    display:    none;
    position:   absolute;
    top:        0px;
    width:      100%;
    height:     100%;
    z-index:    10;
}

@media screen and (min-width: 48em) {
    .js .crop-zoom {
        display: block;
    }
}

.tap-target {
    position: absolute;
    width: 36px;
    height: 36px;
}

.tap-target.rod {
    top:    370px;
    left:   15%;
}

.tap-target.woman {
    top:    570px;
    left:   45%;
}

.tap-target.mesmer {
    top:    200px;
    right:  22%;
}

// .tap-target div {
//     position:       absolute;
//     top:            0px;
//     left:           0px;
//     width:          36px;
//     height:         36px;
//     border:         2px solid #fff;
//     border-radius:  40px;
// }

// .tap-target.animate div {
//     -webkit-animation-name:             circle;
//     -webkit-animation-duration:         3s;
//     -webkit-animation-iteration-count:  infinite;
// }

.info-box {
    position:   absolute; 
    top:        300px; 
    right:      100px; 
    width:      90px; 
    height:     90px;
    cursor:     pointer;
    z-index:    20;
}

.overlay {
    position:   fixed;
    top:        0;
    background-color: rgba(0,0,0,0);
    width:      100%;
    z-index:    40;

    -webkit-transition: all 0.5s ease;
    -moz-transition:    all 0.5s ease;

    .image-crop {
        opacity: 0;
        position: absolute;
        z-index: 15;
    }
    .image-crop.animate {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
    }

    .text {
        position: absolute;
        color: #fff;
        width: 25%;
        padding: 0 15px;
        opacity: 0;
        line-height: 1.4;
        z-index: 15;
        -webkit-transform: translate3d(0, 100px, 0);
        -webkit-transition: all 0.5s ease;

        -moz-transform: translate3d(0, 100px, 0);
        -moz-transition: all 0.5s ease;
    }
    .text.show {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
    }
}


.info-box {
    .inner {
        -webkit-filter: drop-shadow( 1px 1px 2px #333 );

        -webkit-transform-origin: 50% 50%;
        -webkit-animation: info-box-animation-inner 5s ease infinite;
    }
    .outer {
        -webkit-transform-origin:   50% 50%;
        -webkit-animation:          info-box-animation-outer 5s ease infinite;
        -webkit-animation-delay:    0.2s;
    }
    &:hover {
        opacity: 0.8;
    }
}

@-webkit-keyframes info-box-animation-inner {
    0% {
        -webkit-transform: scale(0.9);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(0.9);
    }
}

@-webkit-keyframes info-box-animation-outer {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9);
    }
}


/* Elliotson */

.okey-sisters {    
    header {
        padding: 1em 0;

        h1 {
            color: #fff;
            line-height: 1;
        }
    }

    p {
        color: #fff;
        margin: 1em 0;
    }

    img {
        width: 100%;
    }
}

.thomas-wakley {
    header {
        padding: 3em 0;

        h1 {
            color: #030303;
            text-align: center;
            line-height: 1;
            width:80%;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}

.verdict {
    .inner {
        float: right;
        width: 60%;
        margin-right: 142px;

        .verdict-text {
            font-size:      1rem;
            margin-bottom:  2em;
        }

        blockquote p {
            @include        abril-italic;
            font-size:      1.618rem;
            line-height:    1.618;
        }

        blockquote + p {
            font-size:  2.005rem;
            margin-top: 2em;
        }
        .outro {
            font-size: 3.245rem;
            line-height: 1;
            width: 80%;
        }
    }
}

/* Esdaile */

.gonads img {
    -webkit-transform: scale(2.3, 2.3);
    -webkit-transform-origin: 100% 0%;
    -webkit-transition: -webkit-transform 14s ease;
}
.gonads.active img {
    -webkit-transform: scale(1, 1);
}

.india .scroll-content {
    color: #333;
}

.boats {
    position:           absolute;
    bottom:             35px;
    width:              100%;
    height:             161px;
    background:         url('/_assets/img/esdaile/esdaile-4-boat.png') 0 0 no-repeat;
    background-size:    100%;
    z-index:            5;

    -webkit-transform: translate(50px, 0);
    -webkit-transition: all 24s linear;
}

/* Svengali */

.panel-text {
    position:           absolute;
    right:              20px;
    bottom:             10px;
    color:              #111;
    @include            comic-neue;
    font-size:          0.9rem!important;
    font-weight:        600;
    text-transform:     uppercase;
    background-color:   #fff;
    margin-left:        20px;
    padding:            .6rem 1rem;
    border:             2px solid #000;
    -webkit-box-shadow: 3px 3px 0 1px rgba(0,0,0,.7);
    box-shadow: 3px 3px 0 1px rgba(0,0,0,.7);
}

.trilby {

    .inner {
        max-width:  1024px;
        margin:     0 auto;
    }

    .trilby-header {
        width:  1200px;
        margin: 5.25rem auto 0 auto;

        img {
            display:    block;
            float:      left;
            width:      200px;
            margin-right: 1em;

        }

        header {
            span {
                display:    block;
                @include    tablet-gothic;
                font-size:  0.7rem;
                text-transform: uppercase;
                margin-bottom: 0.5em;
            }

            h1 {
                margin-bottom: 1em;
            }

            p {
                font-size: 1.239rem;
            }
        }
    }

    .comic-strip {
        border-top:     1px solid rgba(255,255,255,0.8);
        margin-top:     2em;
        padding-top:    2em;
    }

    .comic-panel {
        position:   relative;
        float:      left;

        img {
            display: block;
            width: 100%;
        }

        blockquote {
            display: none;
        }
        p {
            font-size: 1rem;
        }
        span {
            font-size: 2.005rem;
        }

    }

    .comic-panel:nth-child(1) {
        width: 45%;

        p {
            width: 40%;
        }
    }

    .comic-panel:nth-child(2) {
        width: 45%;
        margin-left: 5%;
    }

    .comic-panel:nth-child(3) {
        width: 60%;
        margin-left: -15%;
        margin-top: -77px;
    }

    .comic-panel:nth-child(4) {
        width: 45%;
        margin-left: 5%;
        margin-top: 52px;
    }

    .comic-panel:nth-child(5) {
        width: 45%;
        margin-top: -61px;
    }

    .comic-panel:nth-child(6) {
        width: 35%;
        margin-left: 5%;
        margin-top: 49px;
    }

    .comic-panel:nth-child(7) {
        width: 40%;
        margin-top: -135px;
        margin-left: 5%;
    }

    .comic-panel:nth-child(8) {
        width: 25%;
        margin-left: 5%;
        padding: 2em 0;
    }

    .comic-panel:nth-child(9) {
        width: 45%;
        margin-left: 5%;
        margin-top: 14px;
    }

    .comic-panel:nth-child(10) {
        width: 45%;
        margin-top: -100px;
    }

    .comic-panel:nth-child(11) {
        width: 45%;
        margin-top: 49px;
        margin-left: 5%;
    }

    .comic-panel:nth-child(12) {
        width: 35%;
        margin-left: 10%;
        margin-top: 25px;
    }
}

.bonpard {

    .inner {
        max-width:  1024px;
        margin:     0 auto;
    }

    .bonpard-header{
        width: 55%;
        margin: 90px auto;
        border-top: 1px solid rgba(255,255,255,0.6);
        padding: 36px 0 0 0;
    }

    .comic-row {
        .panel-text.wide {
            left:   0;
            right:  auto;
            width:  80%;
        }
    }

    .comic-panel {
        position:   relative;
        float:      left;

        img {
            display: block;
            width: 100%;
        }

        blockquote {
            display: none;
        }
    }

    .comic-row {
        position:   relative;
        clear:      both;
    }

    .comic-row:nth-child(1) {
        .comic-panel {
            width: 35%;
        }

        .comic-panel + .comic-panel {
            width: 56%;
            margin-left: 3%;
        }

        p {
            position: absolute;
        }
    }

    .comic-row:nth-child(2) {
        margin: 1.5em 0;

        .comic-panel {
            width: 58%;
            margin-right: 2%;
        }

        .comic-panel + .comic-panel {
            width: 30%;
            margin-bottom: 2%;
        }

        .comic-panel + .comic-panel + .comic-panel {
            margin-bottom: 0;
        }
    }

    .comic-panel:nth-child(3) {
        width: 33.5%;
        margin-right: 2%;
    }

    .comic-panel:nth-child(4) {
        width: 54%;
    }

    .comic-column {
        float: left;
    }

    .comic-column .comic-panel {
        float: none;
    }

    .comic-row:nth-child(6) {
        margin-top: 1em;
        
        .comic-column:nth-child(1) {
            width: 25%;
            margin-right: 5%;
        }
        .comic-column:nth-child(2) {
            width: 53%;
        }
    }

    .outro {
        margin: 7rem 0;

        p {
            font-size: 2.005rem;
        }
    }
}

/* Freud */

.fragmented {
    position:   absolute;
    top:        0;
    left:       0;
    width:      100%;
}

.anna-o {
    h1 {
        color: #030303;
    }

    p {
        color: #030303;
    }
}


.fred-breuer {
    h1 {
        color: #030303;
    }

    p {
        color: #030303;
    }
}

