
.panel {
    position: relative;
    overflow: hidden;

    h1 {
        font-size: 2.618rem;
    }

    p {
        font-size:      1rem;
        line-height:    1.618;
        margin-top:     1.618rem;
    }

    .bg-container {
        background-color:       #000;
        background-size:        cover;
        background-position:    50% 0%;
        background-repeat:      no-repeat;
        width:                  100%;
        overflow:               hidden;

        -webkit-transform:      translate3d(0,0,0);
           -moz-transform:      translate3d(0,0,0);
            -ms-transform:      translate3d(0,0,0);
                transform:      translate3d(0,0,0);

        img {
            display:    block;
            width:      100%;
        }

        video, canvas {
            width: 100%;
        }        
    }

    .main-content {
        color:          #fff;
        @include        abril-regular;
        font-size:      0.9rem;
        padding:        1.239rem 0;

        .content {
            max-width:  500px;
        }

        p {
            margin-bottom: 1.239rem;
        }

        &.align-center {
            text-align: center;
        }
    }

    .main-content.fixed {
        position:   relative;
        top:        auto;
        bottom:     auto;
        left:       auto;
        right:      auto;
    }
}

.no-touch {
    .panel {
        .bg-container {
            video, canvas {
                position:           absolute;
                right:              0;
                bottom:             0;
                min-width:          100%;
                min-height:         100%;
                width:              auto;
                height:             auto;
                // z-index:            -100;
                // background:         url() no-repeat;
                background-size:    cover;
            }
        }
    }
}

@media screen and (min-width: 48em) {
    .panel {
        min-height: 550px;

        h1{
           font-size: 3.245rem;
        }

        p {
            font-size: 1.239rem;
        }

        .bg-container {
            position:   absolute;
            top:        0;
            left:       0;
        }

        .main-content {
            position:       absolute;
            font-size:      1.2rem;

            &.left {
                left:       48px;
                max-width:  500px;
            }

            &.right {
                right:      48px;
                max-width:  500px;
            }

            &.strip {
                max-width:  320px;
            }

            &.center {
                width:  100%;
                left:   0;

                .inner {
                    width:  500px;
                    margin: 0 auto;
                }
            }
        }
    }

    .touch {
        .panel {
            .main-content {
                top: 15%;
            }
        }
    }

    .no-touch {
        .panel {
            .main-content {
                bottom: 20%;
            }
        }
    }

}