.player-item {

    margin-bottom: 1em;
    text-decoration: none;
    display: block;
    color: inherit;

    img {
        float: left;
        margin-right: 0.8em;
    }

    .player-item--thumb {
        float:  left;
        width:  52px;
        height: 80px;
    }

    .player-item--content {
        padding-left: 70px;
    }

    .player-item--header {
        margin-bottom: 0.6rem;

        h1 {
            font-size: 0.9rem;
        }
    }

    .player-item--body {
        color: #64696A;
        font-size:  0.8rem;

        cite {
            display: block;
            font-style: normal;
        }
    }

    .player-item--footer {
        padding-top: 0.5em;

        a, span {
            color: #8CC4D4;
            font-size: 0.8rem;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    &.book {
        .player-item--thumb {
            background: #DBDBDB url('/_assets/img/icons/icon-book-white.svg') 50% 50% no-repeat;
            background-size: 40%;
        }
    }

    &.document {
        .player-item--thumb {
            background: #DBDBDB url('/_assets/img/icons/icon-document-white.svg') 50% 50% no-repeat;
            background-size: 40%;
        }
    }

    &.image {
        .player-item--thumb {
            background: #DBDBDB url('/_assets/img/icons/icon-picture-white.svg') 50% 50% no-repeat;
            background-size: 40%;
        }
    }

    &.video {
        .player-item--thumb {
            background: #DBDBDB url('/_assets/img/icons/icon-video-white.svg') 50% 50% no-repeat;
            background-size: 60%;
        }
    }
}

/** 650px */
@media screen and (min-width: 40.625em) {
    .player-item {
        margin-bottom: 2em;
        padding: 0 1rem;

        .player-item--content {
            padding-left: 70px;
        }

        .player-item--header {
            margin-bottom: 0.8em;

            h1 {
                font-size: 1rem;
            }
        }

        .player-item--body {
            cite {
                margin-top: 1em;
            }
        }
    }
}

@media screen and (min-width: 100em) {
    .player-item {
        .player-item--thumb {
            width: 60px;
            height: 88px;
            margin-right: 20px;
        }
    }
}
