.overlay > .wellcomePlayer > iframe { 
	width: 	100% !important; 
	height: 100% !important; 
}
.overlay-fullscreen > .wellcomePlayer > iframe { 
	width: 	99% !important; 
	height: 99.5% !important; 
}
.overlay-fullscreen > .close { 
	top: 	0px; 
	left: 	3px; 
}