

.sequence:after {
    content: "";
    clear: left;
    display: block;
}

.panel {
    position: relative;
    overflow: hidden;
}

.bg-container {
    background-color: #000;
    width:          100%;
    overflow:       hidden;

    img, video {
        display:    block;
        width:      100%;
    }
}

.scroll-content {
    color:          #fff;
    @include        abril-regular;
    font-size:      0.9rem;
    padding:        15px;

    .content {
        max-width:  600px;
    }

    p {
        margin-bottom: 1em;
    }

    &.align-center {
        text-align: center;
    }

    &.light {
        color: #fff;
    }
}

.scroll-content.fixed {
    position:   relative;
    top:        auto;
    bottom:     auto;
    left:       auto;
    right:      auto;
}

@media screen and (min-width: 48em) {
    .bg-container {
        position:   absolute;
        top:        0;
        left:       0;
    }

    .bg-container.fixed {
        position:       fixed;
        top:            0;
        left:           0;
        width:          100%;
    }

    .scroll-content {
        position:       absolute;
        left:           9px;
        bottom:         20%;
        font-size:      1.2rem;

        &.left {
            max-width:  390px;
        }

        &.right {
            left: auto;
            right: 55px;
            max-width:  390px;
        }

        &.position-center {
            width: 100%;
            left: 0;

            .inner {
                width: 640px;
                margin: 0 auto;
            }
        }
    }

    .panel {
        // min-height: 700px;
    }
}
