
.start, .end {
    min-height: 600px;
}

.sequence:after, .sequence2:after {
    content: "";
    clear: left;
    display: block;
}

.panel {
    position: relative;
    min-height: 600px;
}

.bg-container {
    float:      left;
    top:        0;
    left:       0;
    background-color: #000;
    width:      100%;
    height:     100%;
    overflow:   hidden;

    img {
        display: block;
        width: 100%;
    }
}

.bg-container.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.sequence .scroll-content {
    position:       absolute;
    left:           3%;
    bottom:         20%;
    color:          #fff;
    font-family:    'Garamond', Times, serif;
    font-size:      1.6rem;
    padding:        15px;

    &.right {
        left: auto;
        right: 3%;
    }

    .content {
        max-width: 600px;
    }

    p {
        margin-bottom: 1em;
    }

}

.sequence .panel:last-of-type .scroll-content {
    bottom: 40%;
    color: #030303;
}

/* Second style of sequence */
.sequence2 {
    position: relative;

    .bg {
        position: absolute;
    }

    .scroll-content {
        position: absolute;
        top: 10%;
        right: 5%;
    }

    .content {
        width: 35%;
        padding-left: 5%;
    }

    .panel-content {
        top: 10%;
        left: 5%;
        color: #fff;
        text-shadow: 1px 1px 0 #333;
        width: 35%;
    }
}

