
.start {

    .bg-container {
        position:   absolute;
        top:        0;
    }

    .content {
        position:   relative;
        width:      80%;
        max-width:  1200px;
        margin:     10vh auto 0 auto;
    }

    .scene-set {
        color: #fff;
        margin-bottom: 6vh;

        .location {
            display:        block;
            @include        tablet-gothic;
            font-size:      1rem;
            text-transform: uppercase;
            letter-spacing: .2rem;
            text-align:     center;
        }

        .date {
            display:        block;
            @include        abril-display;
            font-size:      2.2rem;
            text-align:     center;
        }
    }
    
    header h1 {
        color:          #fff;
        font-size:      4.236rem;
        line-height:    1;
        text-align:     center;
        margin:         0.3rem 0 0 0;
    }

    .intro-text {
        color:          #fff;
        @include        abril-regular;
        font-size:      1rem;
        line-height:    1.618;
        text-align:     center;
        margin:         1.618rem auto 0 auto;
    }
}

@media screen and (min-width: 48em) {
    .start {
        min-height: 600px;

        .content {
            margin-top: 20vh;
        }

        .scene-set {
            margin-bottom: 4em;

            .date {
                font-size: 5.25rem;
            }
        }

        header h1 {
            font-size: 6.854rem;
        }

        .intro-text {
            font-size:  1.618rem;
            width:      90%;
        }
    }

    .falling-lady {
        position:   absolute;
        left:       36%;
        top:        25%;
        width:      350px;

        img {
            width: 100%;
        }
    }
}
