
.start {

    .content {
        position:   relative;
        width:      80%;
        max-width:  1200px;
        margin:     20vh auto 0 auto;
    }

    .scene-set {
        margin-bottom: 4em;
    }

    .scene-set {
        color: #fff;
    }

    .scene-set .location {
        display:        block;
        @include        tablet-gothic;
        font-size:      0.8rem;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-align:     center;
    }

    .scene-set .date {
        display:        block;
        @include        abril-display;
        font-size:      4.2rem;
        text-align:     center;
    }
    
    header h1 {
        color:          #fff;
        font-size:      4rem;
        line-height:    1;
        text-align:     center;
        margin:         0.3em 0 0 0;
    }

    .intro-text {
        color:          #fff;
        @include        abril-regular;
        font-size:      1.1rem;
        line-height:    1.5;
        text-align:     center;
        width:          75%;
        margin:         2.2em auto 0 auto;
    }
}
