
.start {

    .content {
        position:   relative;
        width:      80%;
        max-width:  1200px;
        margin:     10% auto 0 auto;
    }

    .scene-set {
        margin: 3em 0 4em 0;
    }

    .scene-set {
        color: #fff;
    }

    .scene-set .location {
        display:        block;
        font-family:    "Museo Sans 300", 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight:    300;
        font-size:      0.8rem;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-align:     center;
    }

    .scene-set .date {
        display:        block;
        font-family:    'Garamond', Times, serif;
        font-size:      5rem;
        text-align:     center;
    }
    
    header h1 {
        color:          #fff;
        font-size:      5rem;
        line-height:    1;
        text-align:     center;
        margin:         0.3em 0 0 0;
    }

    .intro-text {
        color:          #fff;
        font-family:    'Garamond', Times, serif;
        font-size:      1.5rem;
        line-height:    1.5;
        text-align:     center;
        width:          75%;
        margin:         2.2em auto 0 auto;
    }
}
