.teaser {

    position:               relative;
    text-align:             center;
    background-color:       #000;
    background-position:    50% 50%;
    background-size:        cover;
    height:                 200px;
    z-index:                10;

    a {
        display:            block;
        color:              #fff;
        text-decoration:    none;
        height:             100%;
    }

    .teaser-icon {
        width:          40px;
        height:         40px;
    }

    .teaser-text-container {
        position:       relative;
        padding-top:    9%;
        z-index:        1;
        
        h1 {
            font-size:  1.618rem;
            margin-top: 1rem;
        }
    }

    .teaser-text {
        @include        tablet-gothic;
        font-size:      0.766rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding:        0 0.4rem
    }

    .teaser-text span {
        color:          $mind-pink;
    }
}

@media screen and (min-width: 48em) {
    .teaser {
        height: 400px;
        
        .teaser-icon {
            width:          82px;
            height:         82px;
            float:          right;
            margin:         -90px 25px 0 0;
        }

        .teaser-text-container {
            h1 {
                font-size:  3.245rem;
            }
        }
    }
}
