
#mesmers-salon {
    
}

@media screen and (min-width: 48em) {
    #mesmers-salon {
        p {
            position:   absolute;
            top:        80px;
            color:      #fff;
            @include    abril-regular;
            font-size:  2.236rem;
            width:      100%;
            text-align: center;
        }
    }
}

/**
    Crop zoom
**/

.crop-zoom {
    display:    none;
    position:   absolute;
    top:        0px;
    width:      100%;
    height:     100%;
    z-index:    10;

    .tap-target {
        position: absolute;
        width: 36px;
        height: 36px;
    }

    .tap-target.rod {
        top:    46%;
        left:   14%;
    }

    .tap-target.woman {
        top:    74%;
        left:   39%;
    }

    .tap-target.mesmer {
        top:    26%;
        left:   74%;
    }
}

@media screen and (min-width: 48em) {
    .js .crop-zoom {
        display: block;
    }
}