
#mesmers-salon {
    display: none;
}

@media screen and (min-width: 48em) {
    #mesmers-salon {
        display: block;

        // p {
        //     position:   absolute;
        //     top:        80px;
        //     color:      #fff;
        //     @include    abril-regular;
        //     font-size:  2.236rem;
        //     width:      100%;
        //     text-align: center;
        // }
    }
}

/**
    Crop zoom
**/

.crop-zoom {
    display:    none;
    position:   absolute;
    top:        0px;
    width:      100%;
    height:     100%;
    z-index:    10;

    .tap-target {
        position: absolute;
        width: 36px;
        height: 36px;
    }

    .tap-target.rod {
        top:    46%;
        left:   14%;
    }

    .tap-target.woman {
        top:    74%;
        left:   39%;
    }

    .tap-target.mesmer {
        top:    26%;
        left:   74%;
    }
}

@media screen and (min-width: 48em) {
    .js .crop-zoom {
        display: block;
    }
}

.popup {
    .image-crop {
        position:   absolute;
        width:      100%;
        opacity:    0;
        z-index:    15;
    }
    .image-crop.animate {
        -webkit-transition: all 0.5s ease;
           -moz-transition: all 0.5s ease;
    }

    .text {
        position:           absolute;
        color:              #fff;
        font-size:          1.239rem;
        background-color:   rgba(0,0,0,0.6);
        width:              320px;
        padding:            45px;
        opacity:            0;
        line-height:        1.4;
        z-index:            20;
        -webkit-transform:  translate3d(0, 100px, 0);
        -webkit-transition: all 0.5s ease;

        -moz-transform:     translate3d(0, 100px, 0);
        -moz-transition:    all 0.5s ease;
    }
    .text.show {
        opacity: 1;

        -webkit-transform: translate(0, -20px);
           -moz-transform: translate(0, -20px);
                transform: translate(0, -20px);
    }
}
