
#gonad-man {
    .info-box {
        position:   absolute;
        top:        120px;
        right:      100px;
    }
}

@media all and (min-width: 48rem) {
    #gonad-man {
        .main-content {
            h1, p {
                color: #333;
            }
        }

        .info-box.with-text .text {
            color: #333;
        }
    }

    .touch {
        #gonad-man {
            img {
                @include transform(scale(1.4));
                @include transform-origin(50% 0%);
            }

            .info-box {
                right:      6%;
                top:        48%;
            }
        }
    }

    .no-touch {
        #gonad-man {
            img {
                @include transform(scale(2.3, 2.3));
                @include transform-origin(100% 0%);
                @include transition(none);
            }

            &.current-scroll-panel img {
                @include transform(scale(1, 1));
                @include transition(all 14s ease);
            }
        }
    }
}
