
#gonad-man {

    // .bg-container {
    //     img {
    //         width:  auto;
    //         height: 100%;
    //     }
    //     // background-image:       url(/_assets/img/esdaile/esdaile-2.jpg);
    //     // background-position:    100% 0;
    // }

    .info-box {
        position:   absolute;
        top:        120px;
        right:      100px;
    }
}

@media all and (min-width: 48rem) {
    .touch {
        #gonad-man {
            .info-box {
                position:   absolute;
                top:        20px;
                right:      100px;
            }
        }
    }

    .no-touch {
        #gonad-man {
            // .bg-container {
            //     background-size: 250%;

            //     -webkit-transition: background-size 14s ease;
            // }

            // &.active .bg-container {
            //     background-size: 100%;
            // }

            img {
                -webkit-transform: scale(2.3, 2.3);
                -webkit-transform-origin: 100% 0%;
                -webkit-transition: -webkit-transform 14s ease;

                -moz-transform: scale(2.3, 2.3);
                -moz-transform-origin: 100% 0%;
                -moz-transition: -moz-transform 14s ease;

                transform: scale(2.3, 2.3);
                transform-origin: 100% 0%;
                transition: transform 14s ease;
            }

            &.active img {
                -webkit-transform: scale(1, 1);
                   -moz-transform: scale(1, 1);
                        transform: scale(1, 1);
            }
        }
    }
}

@media all and (min-width: 64rem) {
    .touch {
        #gonad-man {
            .bg-container {
                img {
                    width:  auto;
                    height: 100%;
                }
                // background-image:       url(/_assets/img/esdaile/esdaile-2.jpg);
                // background-position:    100% 0;
            }

            .info-box {
                position:   absolute;
                top:        20px;
                right:      100px;
            }
        }
    }
}
