
#james-braid {
    .bg-container {
        background-image:       url(/_assets/img/esdaile/esdaile-5.jpg);
        background-position:    100% 0;
    }

    .main-content {
        h1, p {
            text-shadow: 1px 1px 0 #030303;
        }
    }
}
