
#verdict {

    .bg-container {
        background-image: url(/_assets/img/elliotson/elliotson-4.jpg);
        background-position: 30% 0;
    }

    .verdict-text {
        font-size:      2.618rem;
    }

    blockquote p {
        @include        abril-italic;
    }
}

@media screen and (min-width: 48rem) {
    #verdict {
        .main-content {
            bottom:         30%;
        }

        .inner {
            float:          right;
        }

        .verdict-text {
            font-size:      3.245rem;
            margin-bottom:  4rem;
        }

        blockquote p {
            @include        abril-italic;
            font-size:      1.239rem;
            line-height:    1.618;
        }

        .outro {
            font-size:      1.239rem;
            line-height:    1.219;
            width:          80%;
        }
    }

    .touch {
        #verdict {
            .main-content {
                position: relative;
            }
        }
    }
}

@media screen and (min-width: 52rem) {
    #verdict {
        .inner {
            width:          70%;
            margin-right:   20px;
        }
    }
}

@media screen and (min-width: 52rem) and (min-height: 48rem) {
    #verdict {
        blockquote p {
            font-size:      1.618rem;
        }

        .outro {
            font-size:      1.618rem;
        }
    }
}
