
#verdict {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/3-elliotson/_assets/elliotson-4.jpg);
        background-position: 30% 0;
    }

    blockquote p {
        @include        abril-italic;
    }
}

@media screen and (min-width: 48rem) {
    #verdict {

        .main-content {
            @include clearfix;
        }

        .inner {
            float:          right;
            width:          70%;
            margin-right:   20px;
        }

        header {
            margin-bottom:  4rem;
        }

        blockquote p {
            @include        abril-italic;
            font-size:      1.239rem;
            line-height:    1.618;
        }

        .outro {
            font-size:      1.239rem;
            line-height:    1.219;
            width:          80%;
        }
    }

    .no-touch {
        #verdict {
            .main-content {
                padding:        0 1.618rem;
                bottom:         30%;
            }
        }
    }
}


@media screen and (min-width: 52rem) and (min-height: 48rem) {
    #verdict {
        blockquote p {
            font-size:      1.618rem;
        }

        .outro {
            font-size:      1.618rem;
        }
    }
}
