
#okey-sisters {
    
    .scroll-content {
        p {
            color: #fff;
            margin: 1em 0;
        }

        img {
            width: 100%;
        }
    }

    .info-box {
        position:   absolute;
        top:        120px;
        right:      90px;
    }
}