
#thomas-wakley {
    header {
        padding: 3em 0;

        h1 {
            color: #030303;
            text-align: center;
            line-height: 1;
            width:80%;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}