
#verdict {
    .inner {
        float:          right;
        width:          100%;
    }

    .verdict-text {
        font-size:      3.245rem;
        margin-bottom:  4rem;
    }

    blockquote p {
        @include        abril-italic;
        font-size:      1.239rem;
        line-height:    1.618;
    }

    .outro {
        font-size:      1.239rem;
        line-height:    1.219;
        width:          80%;
    }
}

@media screen and (min-width: 52rem) {
    #verdict {
        .inner {
            width:          70%;
            margin-right:   20px;
        }
    }
}

@media screen and (min-width: 52rem) and (min-height: 48rem) {
    #verdict {
        blockquote p {
            font-size:      1.618rem;
        }

        .outro {
            font-size:      1.618rem;
        }
    }
}
