
#stewart-conn {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/4-unceasing-seeker/_assets/m4-unceasing-seeker-2.jpg);
    }
    .black-strip {
        width: 550px;
    }
    .strip {
        max-width: 450px;
    }

    .main-content {
        p {
            line-height: 1.8;
        }

    }
}

