
#stewart-conn {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/4-unceasing-seeker/m4-unceasing-seeker-2.jpg);
    }
    .black-strip {
        width: 600px;
    }
    .strip {
        max-width: 500px;
    }

}

