
#animal-magnetism {
    overflow: hidden;

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/1-mesmer/mesmer-3.jpg);
    }

    .info-box {
        position:   absolute; 
        bottom:     60px;
        right:      60px;
    }
}


@media all and (min-width: 48rem) {
    .touch {
        #animal-magnetism {
            .main-content {
                top: 15%;
            }
        }
    }
}

@media all and (min-width: 60rem) {

    #animal-magnetism {    

        .info-box {            
            bottom:     auto;
            top:        90px;
            right:      60px;
        }
    }

}