
#committee-investigates-intro {
    .scroll-content {
        top:    35%;
        bottom: auto;
        width:  100%;

        header {
            margin-bottom: 3em;
        }

        h1 {
            color: #fff;
            text-align: center;
        }
    }

    .inner {
        width:      80% !important;
        max-width:  1200px;
        margin:     0 auto;
    }
}