
#okey-sisters {
    
    header {
        padding: 1em 0;

        h1 {
            color: #fff;
            line-height: 1;
        }
    }

    p {
        color: #fff;
        margin: 1em 0;
    }

    img {
        width: 100%;
    }

    .info-box {
        position:   absolute;
        top:        120px;
        right:      90px;
    }
}