
#verdict {
    .inner {
        float:          right;
        width:          80%;
    }

    .verdict-text {
        font-size:      3.245rem;
        margin-bottom:  4rem;
    }

    blockquote p {
        @include        abril-italic;
        font-size:      1.618rem;
        line-height:    1.618;
    }

    blockquote + p {
        font-size:      2.005rem;
        margin-top:     2em;
    }

    .outro {
        font-size:      1.618rem;
        line-height:    1.219;
        width:          80%;
    }
}

@media screen and (min-width: 52em) {
    #verdict {
        .inner {
            width:          60%;
            margin-right:   142px;
        }
    }
}