
.start-mesmer {
    .bg-container {
        background-image: url(/_assets/img/mesmer/mesmer-1.jpg);
    }
}

#mesmers-salon-intro {
    .small-screen {
        display: block;
    }

    .large-screen {
        display: none;
    }
}

@media screen and (min-width: 48em) {
    #mesmers-salon-intro {
        .small-screen {
            display: none;
        }

        .large-screen {
            display: block;
        }   
    }

    .touch {
        #mesmers-salon-intro {
            .main-content {
                top: 15%;
            }
        }
    }
}

#mesmers-salon {
    display: none;
}

@media screen and (min-width: 48em) {
    #mesmers-salon {
        display: block;
    }
}

/**
    Crop zoom
**/

.crop-zoom {
    display:    none;
    position:   absolute;
    top:        0px;
    width:      100%;
    height:     100%;
    z-index:    10;

    .tap-target {
        position: absolute;
        width: 36px;
        height: 36px;
    }

    .tap-target.rod {
        top:    46%;
        left:   14%;
    }

    .tap-target.woman {
        top:    74%;
        left:   39%;
    }

    .tap-target.mesmer {
        top:    26%;
        left:   74%;
    }
}

@media screen and (min-width: 48em) {
    .js .crop-zoom {
        display: block;
    }
}

.popup {
    .image-crop {
        position:   absolute;
        width:      100%;
        opacity:    0;
        z-index:    15;
    }
    .image-crop.animate {
        -webkit-transition: all 0.5s ease;
           -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }

    .text {
        position:           absolute;
        color:              #fff;
        font-size:          1.239rem;
        background-color:   rgba(0,0,0,0.6);
        width:              320px;
        padding:            45px;
        line-height:        1.4;
        z-index:            20;

        -webkit-transform: translate(0, 100px);
           -moz-transform: translate(0, 100px);
            -ms-transform: translate(0, 100px);
                transform: translate(0, 100px);

        -webkit-transition: -webkit-transform 0.5s ease;
           -moz-transition: -moz-transform 0.5s ease;
            -ms-transition: -ms-transform 0.5s ease;
                transition: transform 0.5s ease;
    }
}

.csstransforms {
    .popup {
        .text {
            opacity: 0;
        }

        .text.show {
            opacity: 1;

            -webkit-transform: translate(0, -20px);
               -moz-transform: translate(0, -20px);
                -ms-transform: translate(0, -20px);
                    transform: translate(0, -20px);
        }
    }
}


#animal-magnetism {
    overflow: hidden;

    .bg-container {
        background-image: url(/_assets/img/mesmer/mesmer-3.jpg);
    }

    .info-box {
        position:   absolute; 
        top:        20px;
        right:      60px;
    }
}

.no-touch {
    #animal-magnetism {
        .info-box {
            top:        120px;
            right:      100px;
        }
    }
}

@media all and (min-width: 48rem) {
    .touch {
        #animal-magnetism {
            .main-content {
                top: 15%;
            }
        }
    }
}

#magnetised-trees {
    .bg-container {
        canvas {
            display: none;
        }
    }

    p {
        text-shadow: 2px 2px 0px #030303;
    }
}

@media all and (min-width: 48rem) {
    #magnetised-trees {
        .bg-container {
            img {
                display: none;
            }

            canvas {
                display: block;
            }
        }
    }

    .no-touch {
        #magnetised-trees {
            .bg-container {
                canvas {
                    right: auto;
                    left: 0;
                }
            }
        }
    }
}

#satrised {
    
}

#committee-investigates-intro {
    .main-content {
        top:    35%;
        bottom: auto;
    }
}

.no-touch #committee-investigates {
    .bg-container {
        video {
            position:   absolute;
            bottom:     0;
        }
    }
}

@media all and (min-width: 48em) {
    
}

.start-airloom {
    .bg-container {
        background-image: url(/_assets/img/airloom/airloom-1.jpg);
    }
}

#where-will-this-technology-lead {

    .bg-container {
        background-image: url(/_assets/img/airloom/airloom-2.jpg);
    }
    
}

#grisly-experiments {

    .bg-container {
        background-image: url(/_assets/img/airloom/airloom-2.jpg);
    }

    .info-box {
        position:   absolute;
        top:        60px;
        right:      90px;
    }

}

.start-elliotson {
    .bg-container {
        background-image: url(/_assets/img/elliotson/elliotson-1.jpg);
    }
}

#okey-sisters {

    .bg-container {
        background-image: url(/_assets/img/elliotson/elliotson-2.jpg);
    }
    
    .main-content {
        p {
            margin: 1em 0;
        }
    }

    .secondary-content {
        display: none;
    }

}

@media all and (min-width: 48em) {
    #okey-sisters {
        .secondary-content {
            display:    block;
            position:   absolute;
            left:       600px;
            width:      40%;
            max-width:  500px;

            img {
                display:    block;
                width:      100%;
            }

            img:first-child {
                margin-bottom:  10rem;
            }
        }
    }

    .no-touch {
        #okey-sisters {
            .main-content {
                p {
                    margin: 1em 0 10rem 0;
                }
            }

            img:first-child {
                margin-left:    -100px;
            }

            .info-box {
                position:   absolute;
                top:        120px;
                right:      90px;
            }
        }
    }

    .touch {
        #okey-sisters {
            .main-content {
                top:        36%;
                position:   relative;

                p {
                    margin: 1em 0 6rem 0;
                }
            }

            .secondary-content {
                top:    26%;
                left:   auto;
                right:  20px;
            }

            .info-box {
                position:   absolute;
                top:        20px;
                right:      90px;
            }
        }
    }
}

#thomas-wakley {

    .bg-container {
        background-image: url(/_assets/img/elliotson/elliotson-3.jpg);
    }

    .main-content {
        .inner {
            max-width: 640px;
        }
    }

    header {
        h1 {
            text-align: left;
            line-height: 1.239;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}

@media all and (min-width: 48em) {
    #thomas-wakley {
        header {
            padding: 3em 0;

            h1 {
                color: #030303;
                text-align: center;
                line-height: 1;
                width:80%;
                margin: 0 auto;
            }
        }
    }
}

#verdict {

    .bg-container {
        background-image: url(/_assets/img/elliotson/elliotson-4.jpg);
        background-position: 30% 0;
    }

    blockquote p {
        @include        abril-italic;
    }
}

@media screen and (min-width: 48rem) {
    #verdict {
        header {
            margin-bottom:  4rem;
        }

        blockquote p {
            @include        abril-italic;
            font-size:      1.239rem;
            line-height:    1.618;
        }

        .outro {
            font-size:      1.239rem;
            line-height:    1.219;
            width:          80%;
        }
    }

    .no-touch {
        #verdict {
            .main-content {
                padding:        0 1.618rem;
                bottom:         30%;
            }
        }
    }
}

@media screen and (min-width: 52rem) {
    #verdict {
        .main-content {
            @include clearfix;
        }

        .inner {
            float:          right;
            width:          70%;
            margin-right:   20px;
        }
    }
}

@media screen and (min-width: 52rem) and (min-height: 48rem) {
    #verdict {
        blockquote p {
            font-size:      1.618rem;
        }

        .outro {
            font-size:      1.618rem;
        }
    }
}


.start-esdaile {
    .bg-container {
        background-image: url(/_assets/img/esdaile/esdaile-1.jpg);
    }
}

#gonad-man {

    // .bg-container {
    //     img {
    //         width:  auto;
    //         height: 100%;
    //     }
    //     // background-image:       url(/_assets/img/esdaile/esdaile-2.jpg);
    //     // background-position:    100% 0;
    // }

    .info-box {
        position:   absolute;
        top:        120px;
        right:      100px;
    }
}

@media all and (min-width: 48rem) {
    .touch {
        #gonad-man {
            .info-box {
                position:   absolute;
                top:        20px;
                right:      100px;
            }
        }
    }

    .no-touch {
        #gonad-man {
            // .bg-container {
            //     background-size: 250%;

            //     -webkit-transition: background-size 14s ease;
            // }

            // &.active .bg-container {
            //     background-size: 100%;
            // }

            img {
                -webkit-transform: scale(2.3, 2.3);
                -webkit-transform-origin: 100% 0%;
                -webkit-transition: -webkit-transform 14s ease;

                -moz-transform: scale(2.3, 2.3);
                -moz-transform-origin: 100% 0%;
                -moz-transition: -moz-transform 14s ease;

                transform: scale(2.3, 2.3);
                transform-origin: 100% 0%;
                transition: transform 14s ease;
            }

            &.active img {
                -webkit-transform: scale(1, 1);
                   -moz-transform: scale(1, 1);
                        transform: scale(1, 1);
            }
        }
    }
}

@media all and (min-width: 64rem) {
    .touch {
        #gonad-man {
            .bg-container {
                // background-image:       url(/_assets/img/esdaile/esdaile-2.jpg);
                // background-position:    100% 0;
            }

            .info-box {
                position:   absolute;
                top:        20px;
                right:      100px;
            }
        }
    }
}


#fakir {
    .bg-container {
        background-image: url(/_assets/img/esdaile/esdaile-3.jpg);
        background-position: 50% 100%;
    }
}

@media all and (min-width: 48rem) {
    #fakir {
        .main-content {
            p {
                text-shadow: 1px 1px 0px #030303;
            }
        }
    }
}

#india {

    .bg-container {
        background-image: url(/_assets/img/esdaile/esdaile-4.jpg);
        background-position: 50% 100%;
    }

}

@media all and (min-width: 48rem) {
    #india {
        .main-content {
            color: #333;

            p {
                font-size: 1.618rem;
            }
        }

        .boats {
            position:           absolute;
            bottom:             110px;
            width:              100%;
            height:             161px;
            background:         url('/_assets/img/esdaile/esdaile-4-boat.png') 0 0 no-repeat;
            background-size:    100%;

            -webkit-transform: translate(20px, 0);
               -moz-transform: translate(20px, 0);
                    transform: translate(20px, 0);

            -webkit-transition: -webkit-transform 30s linear;
               -moz-transition: -moz-transform 30s linear;
                    transition: transform 30s linear;
        }
    }

    .touch {
        #india {
            .main-content {
                p {
                    font-size:  1.239rem;
                }
            }

            .boats {
                bottom: 0;
                height: 130px;
            }
        }
    }
}

#surgery-under-hypnosis-intro {

}

@media all and (min-width: 48rem) {
    .no-touch {
        #surgery-under-hypnosis {
            .bg-container {
                video {
                    position:   absolute;
                    bottom:     0;
                }
            }
        }
    }
}


#james-braid {
    .bg-container {
        background-image:       url(/_assets/img/esdaile/esdaile-5.jpg);
        background-position:    100% 0;
    }

    .main-content {
        h1, p {
            text-shadow: 1px 1px 0 #030303;
        }
    }
}


@media all and (min-width: 48rem) {
    .no-touch {
        #self-hypnosis {
            .bg-container {
                video {
                    position:   absolute;
                    bottom:     0;
                }
            }
        }
    }
}

.start-svengali {
    .bg-container {
        background-image: url(/_assets/img/svengali/svengali-1.jpg);
    }

    .falling-lady {
        display: none;
    }
}

@media all and (min-width: 48rem) {
    .start-svengali {
        .falling-lady {
            display: block;
        }
    }
}

#trilby {

    .bg-container {
        background-image: url(/_assets/img/svengali/svengali-2.jpg);
    }

    img {
        width: 100%;
    }

    .trilby-header {
        img {
            display:    block;
            width:      40%;
            margin:     0 auto;
        }

        header {
            padding: 0 1rem;
        }
    }

    .comic-panel {
        position: relative;
    }

    .comic-quote {
        p {
            display: none;
        }
    }

    .comic-panel:nth-child(3) {
        .panel-text:nth-of-type(1) {
            margin-left:    5px;
            margin-bottom:  55px;
        }
    }

    .comic-panel:nth-child(8) {
        padding: 1rem 0;
    }
}

@media all and (min-width: 48rem) {

    #trilby {

        .inner {
            max-width:  1024px;
            margin:     0 auto;
        }

        .trilby-header {
            margin: 5.25rem auto 0 auto;

            img {
                float:          left;
                width:          200px;
                margin-right:   1em;

            }

            header {
                padding-left: 220px;

                span {
                    display:        block;
                    @include        tablet-gothic;
                    font-size:      0.7rem;
                    text-transform: uppercase;
                    margin-bottom:  0.5em;
                }

                h1 {
                    margin-bottom: 1em;
                }

                p {
                    font-size: 1.239rem;
                }
            }
        }

        .comic-strip {
            border-top:     1px solid rgba(255,255,255,0.8);
            margin-top:     2em;
            padding-top:    2em;
        }

        .comic-panel {
            position:   relative;
            float:      left;

            img {
                display: block;
                width: 100%;
            }

            .panel-text {
                font-size:      1rem;
                line-height:    1;
            }
            
            span {
                font-size: 1.618rem;
            }

        }

        .comic-panel:nth-child(1) {
            width: 45%;

            p {
                width: 40%;
            }
        }

        .comic-panel:nth-child(2) {
            width: 45%;
            margin-left: 5%;

            .panel-text {
                bottom:     190px;
                font-style: italic;
                width:      190px;
            }
        }

        .comic-panel:nth-child(3) {
            width: 48%;
            margin-top: -77px;

            .panel-text {
                top:    0;
                bottom: auto;
                left:   auto;
                right:  0;
            }

            .panel-text:nth-of-type(1) {
                right: 40px;
            }

            .panel-text:nth-of-type(2) {
                top:    32px;
                right:  20px;
            }
        }

        .comic-panel:nth-child(4) {
            width: 45%;
            margin-left: 5%;
            margin-top: 52px;

            .panel-text {
                left:   0;
                right:  auto;
            }

            .panel-text:nth-of-type(1) {
                left:   10px;
                bottom: 60px;
            }
        }

        .comic-panel:nth-child(5) {
            width:          45%;
            margin-top:     -61px;
        }

        .comic-panel:nth-child(6) {
            width:          35%;
            margin-left:    5%;
            margin-top:     49px;
        }

        .comic-panel:nth-child(7) {
            width:          40%;
            margin-top:     -135px;
            margin-left:    5%;

            .panel-text {
                top:    0;
                bottom: auto;
                left:   0;
                right:  0;
                width:  220px;
            }
        }

        .comic-panel:nth-child(8) {
            width:          48%;
            margin-left:    5%;
            padding:        2em 0;
        }

        .comic-panel:nth-child(9) {
            width:          50%;
            margin-top:     14px;
            -webkit-transform: translateX(50px);
               -moz-transform: translateX(50px);
                    transform: translateX(50px);
        }

        .comic-panel:nth-child(10) {
            width:          35%;
            margin-top:     -20px;

            .panel-text {
                left:   0;
                right:  auto;
                width:  260px;
            }
        }

        .comic-panel:nth-child(11) {
            width:          45%;
            margin-top:     49px;
            margin-left:    5%;

            .panel-text {
                font-style: italic;
            }
        }

        .comic-panel:nth-child(12) {
            width:          35%;
            margin-left:    10%;
            margin-top:     25px;
        }

        .comic-quote {
            position:   absolute;
            top:        45px;
            left:       0;
            width:      340px;

            .info-box {
                position: absolute;
            }

            p {
                @include            abril-italic;
                background-color:   rgba(0,0,0,0.9);
                margin:             45px 0 0 45px;
                padding:            1rem 1.2rem 1rem 3rem;
                border-radius:      4px;
            }

            &.active {
                p {
                    display: block;
                }
            }
        }
    }

}

@media all and (min-width: 84rem) {
    #trilby {
        .comic-panel {
            span {
                font-size: 2.005rem;
            }
        }

        .comic-panel:nth-child(3) {
            width: 60%;
            margin-left: -15%;
            margin-top: -77px;
        }

        .comic-panel:nth-child(8) {
            width: 25%;
        }

        .comic-panel:nth-child(9) {
            width: 55%;
        }

        .comic-panel:nth-child(10) {
            width:      45%;
            margin-top: -150px;
        }

        .comic-panel:nth-child(12) {
            margin-top: -40px;
        }

        .comic-quote {
            right: -300px;
        }
    }
}


#bompard {

    .bg-container {
        background-image: url(/_assets/img/svengali/svengali-2.jpg);
    }

    img {
        width: 100%;
    }

    .comic-panel {
        position: relative;
    }

    .panel-text {
        cite {
            display:    block;
            color:      #999;
            font-size:  0.8rem;
            font-style: normal;
            margin-top: 10px;
        }
    }
}

@media all and (min-width: 48rem) {
    #bompard {

        .inner {
            max-width:  1024px;
            margin:     0 auto;
        }

        .bompard-header {
            max-width:      500px;
            margin:         90px auto;
            border-top:     1px solid rgba(255,255,255,0.6);
            padding:        36px 0 0 0;
        }

        .panel-text {
            line-height: 1;
        }

        .comic-panel {
            position:   relative;
            float:      left;

            img {
                display:    block;
                width:      100%;
            }
        }

        .comic-row {
            position:   relative;
            clear:      both;
        }

        .comic-row:nth-child(1) {
            .comic-panel {
                width: 37.4%;
            }

            .comic-panel + .comic-panel {
                width: 59.2%;
                margin-left: 3%;
            }

            .panel-text {
                left:       -230px;
                right:      auto;
                width:      470px;
                z-index:    10;
            }
        }

        .comic-row:nth-child(2) {
            margin: 1.5em 0;

            .comic-panel {
                width: 64.3%;
                margin-right: 2%;

                .panel-text {
                    top:    25px;
                    bottom: auto;
                    left:   0;
                    right:  0;
                    width:  70%;
                }
            }

            .comic-panel + .comic-panel {
                width:          33.2%;
                margin-right:   0;
                margin-bottom:  2%;
            }

            .comic-panel + .comic-panel + .comic-panel {
                margin-bottom: 0;
            }
        }

        .comic-panel:nth-child(3) {
            width:          37.6%;
            margin-right:   2%;

            .panel-text {
                top:    -5px;
                bottom: auto;
                width:  80%;
            }
        }

        .comic-panel:nth-child(4) {
            width: 59.9%;

            .panel-text {
                left:   0;
                right:  auto;
                width:  210px;
            }
        }

        .comic-row:nth-child(5) {

            .comic-panel:nth-child(1) {
                margin-top: 1em;
                margin-right: 3%;
            }
            .comic-panel:nth-child(2) {
                margin-top: 1em;
                margin-right: 3%;
            }
        }

        .comic-row:nth-child(6) {
            margin-top: 1em;
            
            .comic-column:nth-child(1) {
                width: 28%;
                margin-right: 5%;

                .panel-text {
                    font-style: normal;
                }

                .comic-panel:nth-child(1) {
                    margin-bottom: 40px;

                    .panel-text {
                        bottom: -40px;
                    }
                }

                .comic-panel:nth-child(2) {
                    .panel-text {
                        bottom: -70px;
                        margin: 0px;
                        width: 100%;
                        left: 10px;
                    }
                }
            }
            .comic-column:nth-child(2) {
                width: 66%;

                .panel-text {
                    width: 305px;
                }
            }
        }

        .comic-column {
            float: left;
        }

        .comic-column .comic-panel {
            float: none;
        }

        .outro {
            margin: 7rem 0;

            p {
                font-size: 2.005rem;
            }
        }
    }

}

.start-freud {
    .bg-container {
        background-image: url(/_assets/img/freud/freud-1.jpg);
    }
}

#anna-o {
    .fragmented {
        position:   absolute;
        top:        0;
        left:       0;
        width:      100%;
    }
}

@media all and (min-width: 48rem) {
    #anna-o {

        header {
            margin: 8rem 0 6rem 0;
        }

        h1 {
            color: #030303;
        }

        p {
            color: #030303;
        }

        p + p {
            margin-top: 12rem;
        }
    }

    .touch {
        #anna-o {
            header {
                height: 370px;
            }

            p {
                color: #fff;
            }

            p + p {
                margin-top: 3rem;
            }
        }
    }

    .no-touch {
        #anna-o {
            .main-content {
                bottom: auto;
                top: 0;
            }
        }
    }
}


#fred-breuer-intro {
    display: none;
}

.no-touch {
    #fred-breuer-intro {
        display: block;
    }
}

#fred-breuer {

    .bg-container {
        background-image: url(/_assets/img/freud/freud-3.jpg);
    }
    
}

@media all and (min-width: 48rem) {
    #fred-breuer {
        h1 {
            color: #030303;
        }

        p {
            color: #030303;
        }
    }
}


#office {
    .bg-container {
        .large-screen {
            display: none;
        }
    }
}

@media all and (min-width: 48rem) {
    #office {
        img {
            -webkit-transform:          scale(1.6, 1.6);
               -moz-transform:          scale(1.6, 1.6);
                -ms-transform:          scale(1.6, 1.6);
                    transform:          scale(1.6, 1.6);

            -webkit-transform-origin:   0 0;
               -moz-transform-origin:   0 0;
                -ms-transform-origin:   0 0;
                    transform-origin:   0 0;

            -webkit-transition:         -webkit-transform 14s ease;
               -moz-transition:         -moz-transform 14s ease;
                -ms-transition:         -ms-transform 14s ease;
                    transition:         transform 14s ease;
        }

        &.active img {
            -webkit-transform: translate(-80%, -40%) scale(1.8, 1.8);
               -moz-transform: translate(-80%, -40%) scale(1.8, 1.8);
                -ms-transform: translate(-80%, -40%) scale(1.8, 1.8);
                    transform: translate(-80%, -40%) scale(1.8, 1.8);
        }
    }

    .no-touch {
        #office {
            .bg-container {
                .small-screen {
                    display: none;
                }
                .large-screen {
                    display: block;
                }
            }
        }
    }
}


#office-2 {
    header {
        h1 {
            font-size: 1.618rem;
        }
    }

    img {
        display: none;
    }
}

.no-touch {
    #office-2 {
        img {
            display: block;
        }
    }
}

@media all and (min-width: 48rem) {
    #office-2 {
        img {
            -webkit-transform:          scale(1.6, 1.6);
               -moz-transform:          scale(1.6, 1.6);
                -ms-transform:          scale(1.6, 1.6);
                    transform:          scale(1.6, 1.6);

            -webkit-transform-origin:   0 0;
               -moz-transform-origin:   0 0;
                -ms-transform-origin:   0 0;
                    transform-origin:   0 0;

            -webkit-transition:         -webkit-transform 14s ease;
               -moz-transition:         -moz-transform 14s ease;
                -ms-transition:         -ms-transform 14s ease;
                    transition:         transform 14s ease;
        }

        &.active img {
            -webkit-transform: translate(-80%, -40%) scale(1.8, 1.8);
               -moz-transform: translate(-80%, -40%) scale(1.8, 1.8);
                -ms-transform: translate(-80%, -40%) scale(1.8, 1.8);
                    transform: translate(-80%, -40%) scale(1.8, 1.8);
        }

        header {
            h1 {
                font-size: 2.618rem;
            }
        }
    }

    .no-touch {
        #office-2 {
            header {
                h1 {
                    text-shadow: 1px 1px 1px #030303;
                }
            }
        }
    }
}



.start-curious-gardener {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/1-curious-gardener/m1-curious-gardener-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-curious-gardener {
        .scene-set {
            color: #030303;

            sup {
                font-size: 0.8rem;
            }
        }

        header {
            h1 {
                color: #030303;
            }
        }

        .intro-text {
            color: #030303;
        }
    }
}

#john-tradescant {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/1-curious-gardener/m1-curious-gardener-2.jpg);
    }
}

.touch {
    #john-tradescant {

    }
}

.no-touch {
    #john-tradescant {
        
    }
}


@media screen and (min-width: 48em) {
    #john-tradescant {
        .main-content {
            color:          #030303;
            
            .inner:first-child {
                margin:         6rem auto;
                border-top:     1px solid #030303;
                border-bottom:  1px solid #030303;
            }
        }
    }

    .touch {
        #john-tradescant {

        }
    }

    .no-touch {
        #john-tradescant {

        }
    }

    .sliding-panels {
        @include    clearfix;
        max-width:  960px;
        margin:     0 auto;
        padding-top: 20px;

        .sliding-panel {
            float:              left;
            width:              40%;
            height:             300px;
            background-color:   #ccc;
            border:             4px solid #fff;
            box-shadow:         1px 1px 2px #444;
        }

        .sliding-panel:nth-child(1) {
            margin-right: 5%;
            height: 400px;
        }

        .sliding-panel:nth-child(3) {
            margin-top: 20px;
            width:      30%;
        }

        .sliding-panel:nth-child(4) {
            margin-top: -200px;
            margin-right: 5%;
            height:     450px;
        }

        .sliding-panel:nth-child(5) {
            margin-top: 20px;
        }
    }
}

#duke-of-buckingham {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/1-curious-gardener/m1-curious-gardener-3.jpg);
        background-position: 50% 100%;
    }
}

.touch {
    #duke-of-buckingham {

    }
}

.no-touch {
    #duke-of-buckingham {
        
    }
}

@media screen and (min-width: 48em) {
    #duke-of-buckingham {
        .pence {
            position:           absolute;
            top:                30%;
            left:               45%;
            background:         url(/pathways/2-the-collectors/_assets/1-curious-gardener/6pence.png) 0 0 no-repeat;
            background-size:    100%;
            width:              140px;
            height:             155px;
        }

        .clip {
            position:   absolute;
            top:        0;
            width:      100%;
            height:     90%;
            overflow:   hidden;
        }

        .main-content {
            color:          #030303;
            
            .inner {
                border-top:     1px solid #030303;
                border-bottom:  1px solid #030303;
            }
        }
    }

    .touch {
        #duke-of-buckingham {

        }
    }

    .no-touch {
        #duke-of-buckingham {

        }
    }
}

#unique-artifacts {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/1-curious-gardener/m1-curious-gardener-4.jpg);
    }
}

.touch {
    #unique-artifacts {

    }
}

.no-touch {
    #unique-artifacts {
        
    }
}

@media screen and (min-width: 48em) {
    #unique-artifacts {
           
    }

    .tap-target.top {
        top:    36%;
        right:  44%;
    }

    .tap-target.middle {
        top:    86%;
        left:   56%;
    }

    .tap-target.right {
        top:    80%;
        right:  6%;
    }

    .touch {
        #unique-artifacts {

        }
    }

    .no-touch {
        #unique-artifacts {

        }
    }
}

.start-merchants-of-light {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/2-merchants-of-light/m2-merchants-of-light-1.jpg);
    }

    .scene-set {
        color: #030303;
    }

    header {
        h1 {
            color: #030303;
        }
    }

    .intro-text {
        color: #030303;
    }
}

#bensalem-intro {
    
}

.touch {
    #bensalem-intro {

    }
}

.no-touch {
    #bensalem-intro {
        
    }
}

@media screen and (min-width: 48em) {
    #bensalem-intro {
           
    }

    .touch {
        #bensalem-intro {

        }
    }

    .no-touch {
        #bensalem-intro {

        }
    }
}

.start-death-collector {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/3-death-collector/m3-death-collector-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-death-collector {
        .content {
            float:          right;
            margin:         0;
            text-shadow:    1px 1px 2px #333;
        }
    }
}

#bills-of-mortality {
    .bg-container {
        // background-image: url(/pathways/2-the-collectors/_assets/3-death-collector/m3-death-collector-2.jpg);
    }
}

.touch {
    #bills-of-mortality {

    }
}

.no-touch {
    #bills-of-mortality {
        
    }
}

@media screen and (min-width: 48em) {
    #bills-of-mortality {
           
    }

    .touch {
        #bills-of-mortality {

        }
    }

    .no-touch {
        #bills-of-mortality {

        }
    }
}

#graunt-records {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/3-death-collector/m3-death-collector-3.jpg);
    }
}

.touch {
    #graunt-records {

    }
}

.no-touch {
    #graunt-records {
        
    }
}

@media screen and (min-width: 48em) {
    #graunt-records {
        .bg-container {
            .numbers {
                position:   absolute;
                right:      0;
                top:        0;
                width:      50%;

                @include transition(all 30s linear);

                // &.active {
                //     @include transform( translate(0, -800px) );
                // }
            }
        }

        &.active {
            .numbers {
                @include transform( translate(0, -2000px) );
            }
        }
    }

    .touch {
        #graunt-records {

        }
    }

    .no-touch {
        #graunt-records {

        }
    }
}

#death-infographic {
    
}

#isaac-newton {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/3-death-collector/m3-death-collector-4.jpg);
    }
}

.touch {
    #isaac-newton {

    }
}

.no-touch {
    #isaac-newton {
        
    }
}

@media screen and (min-width: 48em) {
    #isaac-newton {
           
    }

    .touch {
        #isaac-newton {

        }
    }

    .no-touch {
        #isaac-newton {

        }
    }
}

.start-unceasing-seeker {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/4-unceasing-seeker/m4-unceasing-seeker-1.jpg);
    }
}

#wellcome-collection {
    
}

.touch {
    #wellcome-collection {

    }
}

.no-touch {
    #wellcome-collection {
        
    }
}

@media screen and (min-width: 48em) {
    #wellcome-collection {
        .bg-container {
            cursor: move;
        }  
    }

    .touch {
        #wellcome-collection {

        }
    }

    .no-touch {
        #wellcome-collection {

        }
    }

    .infinite-canvas {
        .text-panel {
            position:           absolute;
            width:              480px;
            line-height:        1.618;

            .controls {
                .chapters {
                    float: left;
                }
                .navigation {
                    float: right;
                }
            }
        }

        .image-panel {
            position:           absolute;
            width:              200px;
            height:             300px;
            background-color:   #ccc;
            border:             4px solid #fff;
            box-shadow:         1px 1px 2px #444;
        }

        .text-panel:nth-of-type(7) {
            top:                60%;
            left:               60%;
        }
        .text-panel:nth-of-type(8) {
            top:                10%;
            left:               24%;
        }
        .text-panel:nth-of-type(9) {
            bottom:             10%;
            right:              60%;
        }


        .image-panel:nth-of-type(1) {
            top:                10%;
            left:               10%;
        }
        .image-panel:nth-of-type(2) {
            top:                10%;
            left:               50%;
        }
        .image-panel:nth-of-type(3) {
            top:                10%;
            right:              10%;
        }
        .image-panel:nth-of-type(4) {
            top:                40%;
            left:               10%;
        }
        .image-panel:nth-of-type(5) {
            top:                40%;
            left:               50%;
        }
        .image-panel:nth-of-type(6) {
            top:                40%;
            right:              10%;
        }
    }
}


.start-obscene-doctor {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/m5-obscene-doctor-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-obscene-doctor {
        .content {
            margin:         0;
            float:          right;
            text-shadow:    1px 1px 2px #333;
        }
    }
}

#kahns-anatomical-museum {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/m5-obscene-doctor-2.jpg);
    }
}

.touch {
    #kahns-anatomical-museum {

    }
}

.no-touch {
    #kahns-anatomical-museum {
        
    }
}

@media screen and (min-width: 48em) {
    #kahns-anatomical-museum {
        .inner {
            max-width: 1024px;
        }
    }

    .touch {
        #kahns-anatomical-museum {

        }
    }

    .no-touch {
        #kahns-anatomical-museum {

        }
    }

    .obscene-panels {
        @include        clearfix;
        max-width:      960px;
        margin:         0 auto;
        padding-top:    20px;

        .text-panel, .image-panel {
            float: left;
        }

        .text-panel {
            width:          40%;
            margin-right:   5%;
        }

        .image-panel {
            position:           relative;
            width:              40%;
            height:             300px;
            background-color:   #ccc;
            border:             4px solid #fff;
            box-shadow:         1px 1px 2px #444;
            margin-right:       5%;
        }

        .image-panel:nth-child(2) {
            width:  30%;
            height: 400px
        }

        .info-box {
            position:   absolute;
            top:        -10px;
            left:       -10px;
        }
    }
}

#quackery {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/m5-obscene-doctor-3.jpg);
    }
}

.touch {
    #quackery {

    }
}

.no-touch {
    #quackery {
        
    }
}

@media screen and (min-width: 48em) {
    #quackery {
        .info-box {
            position:   absolute;
            bottom:     80px;
            left:       6%
        }
    }

    .touch {
        #quackery {
            
        }
    }

    .no-touch {
        #quackery {
            .info-box {
                bottom: 100px;
                left:   40%;
            }
        }
    }
}

#obscene-publications-act {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/m5-obscene-doctor-4.jpg);
    }
}

.touch {
    #obscene-publications-act {

    }
}

.no-touch {
    #obscene-publications-act {
        
    }
}

@media screen and (min-width: 48em) {
    #obscene-publications-act {
        .info-box {
            position:   absolute;
            bottom:     80px;
            left:       6%
        }
    }

    .touch {
        #obscene-publications-act {

        }
    }

    .no-touch {
        #obscene-publications-act {
            .info-box {
                bottom: 100px;
                left:   40%;
            }
        }
    }
}

#seized-and-destroyed {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/m5-obscene-doctor-5.jpg);
    }
}

.touch {
    #seized-and-destroyed {

    }
}

.no-touch {
    #seized-and-destroyed {
        
    }
}

@media screen and (min-width: 48em) {
    #seized-and-destroyed {
        .main-content {
            color:          #030303;
            border-top:     1px solid #030303;
            border-bottom:  1px solid #030303;
        }
    }

    .rubbish {
        width:  100%;
        height: 100%;

        div {
            position: absolute;
        }

        .carrot {
            top:        70%;
            right:      14%;
            width:      185px;
            height:     87px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/carrot.png) 0 0 no-repeat;
        }

        .cat {
            top:        60%;
            right:      32%;
            width:      178px;
            height:     143px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/cat.png) 0 0 no-repeat;
        }

        .rubbish1 {
            top:        43%;
            right:      28%;
            width:      85px;
            height:     52px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/rubbish1.png) 0 0 no-repeat;
        }
        .rubbish2 {
            top:        85%;
            right:      3%;
            width:      85px;
            height:     45px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/rubbish2.png) 0 0 no-repeat;
        }
        .rubbish3 {
            top:        80%;
            right:      25%;
            width:      185px;
            height:     87px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/rubbish3.png) 0 0 no-repeat;
        }
        .rubbish4 {
            top:        40%;
            right:      30%;
            width:      106px;
            height:     113px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/rubbish4.png) 0 0 no-repeat;
        }
        .rubbish5 {
            top:        55%;
            right:      5%;
            width:      70px;
            height:     48px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/rubbish5.png) 0 0 no-repeat;
        }
    }

    .touch {
        #seized-and-destroyed {
            .main-content {
                position:   absolute;
                margin-top: 2rem;
            }
        }
    }

    .no-touch {
        #seized-and-destroyed {

        }
    }
}

.start-ignorant-bride {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/6-ignorant-bride/m6-ignorant-bride-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-ignorant-bride {
        .content {
            margin: 0;
            float:  left;
        }

        .scene-set {
            color: #030303;

            sup {
                font-size: 0.8rem;
            }
        }

        header {
            h1 {
                color: #030303;
            }
        }

        .intro-text {
            color: #030303;
        }
    }
}

#british-museum {

}

.touch {
    #british-museum {

    }
}

.no-touch {
    #british-museum {
        
    }
}

@media screen and (min-width: 48em) {
    #british-museum {
        img {
            position:   absolute;
            bottom:     0;

            -webkit-transform-origin:   35% 70%;
               -moz-transform-origin:   35% 70%;
                -ms-transform-origin:   35% 70%;
                    transform-origin:   35% 70%;

            -webkit-transition:         -webkit-transform 14s ease;
               -moz-transition:         -moz-transform 14s ease;
                -ms-transition:         -ms-transform 14s ease;
                    transition:         transform 14s ease;
        }

        &.active img {
            -webkit-transform: scale(1.8, 1.8);
               -moz-transform: scale(1.8, 1.8);
                -ms-transform: scale(1.8, 1.8);
                    transform: scale(1.8, 1.8);
        }

        .main-content {
            border-top:     1px solid #fff;
            text-shadow:    1px 1px 1px #333;
        }
    }

    .touch {
        #british-museum {
            .main-content {
                position:   absolute;
                margin-top: 2rem;
            }
        }
    }

    .no-touch {
        #british-museum {

        }
    }

}

#married-love {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/6-ignorant-bride/m6-ignorant-bride-3.jpg);
    }
}

.touch {
    #married-love {

    }
}

.no-touch {
    #married-love {
        
    }
}

@media screen and (min-width: 48em) {
    #married-love {
        .inner {
            color:      #030303;
        }

        .inner + .inner {
            border-top: 1px solid #030303;
        }

        .married-love-film-gallery {
            position:   absolute;
            top:        40%;
            right:      30%;
        }

        .info-box {
            position:   absolute;
            top:        80px;
            right:      100px;

            .stub {
                position:   absolute;
                z-index:    -1;
                @include    transform( translate(-127px, -20px) );
            }

            .text {
                color: #030303;
            }
        }
    }

    .touch {
        #married-love {

        }
    }

    .no-touch {
        #married-love {

        }
    }
}

#shared-experiences {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/6-ignorant-bride/m6-ignorant-bride-4.jpg);
    }
}

.touch {
    #shared-experiences {

    }
}

.no-touch {
    #shared-experiences {
        
    }
}

@media screen and (min-width: 48em) {
    #shared-experiences {
        .main-content {
            color:          #030303;

            .inner {
                border-top:     1px solid #030303;
                border-bottom:  1px solid #030303;
            }
        }
    }

    .touch {
        #shared-experiences {

        }
    }

    .no-touch {
        #shared-experiences {

        }
    }
}

#letters {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/6-ignorant-bride/m6-ignorant-bride-4.jpg);
    }
}

.touch {
    #letters {

    }
}

.no-touch {
    #letters {
        
    }
}

@media screen and (min-width: 48em) {
    #letters {
           
    }

    .touch {
        #letters {

        }
    }

    .no-touch {
        #letters {

        }
    }
}

.start-example {
    .bg-container {
        background-image: url(/_assets/img/spacer.png);
    }
}

#example {
    
}

.touch {
    #example {

    }
}

.no-touch {
    #example {
        
    }
}

@media screen and (min-width: 48em) {
    #example {
           
    }

    .touch {
        #example {

        }
    }

    .no-touch {
        #example {

        }
    }
}