
.start-mesmer {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/1-mesmer/mesmer-1.jpg);
    }
}

#mesmers-salon-intro {
    .small-screen {
        display: block;
    }

    .large-screen {
        display: none;
    }
}

@media screen and (min-width: 48em) {
    #mesmers-salon-intro {
        .small-screen {
            display: none;
        }

        .large-screen {
            display: block;
        }   
    }

    .touch {
        #mesmers-salon-intro {
            .main-content {
                top: 15%;
            }
        }
    }
}

#mesmers-salon {
    display: none;
}

@media screen and (min-width: 48em) {
    #mesmers-salon {
        display: block;
    }
}

/**
    Crop zoom
**/

.crop-zoom {

    .tap-target.rod {
        top:    46%;
        left:   14%;
    }

    .tap-target.woman {
        top:    74%;
        left:   39%;
    }

    .tap-target.mesmer {
        top:    26%;
        left:   74%;
    }
}


#animal-magnetism {
    overflow: hidden;

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/1-mesmer/mesmer-3.jpg);
    }

    .info-box {
        position:   absolute; 
        bottom:     60px;
        right:      60px;
    }
}


@media all and (min-width: 48rem) {
    .touch {
        #animal-magnetism {
            .main-content {
                top: 15%;
            }
        }
    }
}

@media all and (min-width: 60rem) {

    #animal-magnetism {    

        .info-box {            
            bottom:     auto;
            top:        90px;
            right:      60px;
        }
    }

}

#magnetised-trees {
    .bg-container {
        canvas {
            display: none;
        }
    }

    p {
        text-shadow: 2px 2px 0px #030303;
    }
}

@media all and (min-width: 48rem) {
    #magnetised-trees {
        .bg-container {
            img {
                display: none;
            }

            canvas {
                display: block;
            }
        }
    }

    .no-touch {
        #magnetised-trees {
            .bg-container {
                canvas {
                    right: auto;
                    left: 0;
                }
            }
        }
    }
}

@media all and (min-width: 48em) and (max-width: 80em) {
    #satirised {
        .main-content {
            max-width: 25%;
        }
    }
}

#committee-investigates-intro {
    .main-content {
        top:    35%;
        bottom: auto;
    }
}

.no-touch #committee-investigates {
    .bg-container {
        video {
            position:   absolute;
            bottom:     0;
        }
    }
}

.start-airloom {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/2-airloom/airloom-1.jpg);
    }
}

#where-will-this-technology-lead {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/2-airloom/airloom-2.jpg);
    }

    .info-box {
        position:   absolute;
        top:        60px;
        right:      60px;
    }
    
}

.start-elliotson {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/3-elliotson/elliotson-1.jpg);
    }
}

#okey-sisters {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/3-elliotson/elliotson-2.jpg);
    }
    
    .main-content {
        p {
            margin: 1em 0;
        }
    }

    .secondary-content {
        display: none;
    }

}

@media all and (min-width: 48em) {
    #okey-sisters {
        .secondary-content {
            display:    block;
            position:   absolute;
            left:       600px;
            width:      40%;
            max-width:  500px;

            img {
                display:    block;
                width:      100%;
            }

            img:first-child {
                margin-bottom:  10rem;
            }
        }
    }

    .no-touch {
        #okey-sisters {
            .main-content {
                p {
                    margin: 1em 0 10rem 0;
                }
            }

            img:first-child {
                margin-left:    -100px;
            }

            .info-box {
                position:   absolute;
                top:        120px;
                right:      90px;
            }
        }
    }

    .touch {
        #okey-sisters {
            .main-content {
                top:        36%;
                position:   relative;

                p {
                    margin: 1em 0 6rem 0;
                }
            }

            .secondary-content {
                top:    26%;
                left:   auto;
                right:  20px;
            }

            .info-box {
                position:   absolute;
                top:        20px;
                right:      90px;
            }
        }
    }
}

#thomas-wakley {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/3-elliotson/elliotson-3.jpg);
    }

    .main-content {
        .inner {
            max-width: 640px;
        }
    }

    header {
        h1 {
            text-align: left;
            line-height: 1.239;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}

@media all and (min-width: 48em) {
    #thomas-wakley {
        header {
            padding: 3em 0;

            h1 {
                color: #030303;
                text-align: center;
                line-height: 1;
                width:80%;
                margin: 0 auto;
            }
        }
    }
}

#verdict {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/3-elliotson/elliotson-4.jpg);
        background-position: 30% 0;
    }

    blockquote p {
        @include        abril-italic;
    }
}

@media screen and (min-width: 48rem) {
    #verdict {
        
        .main-content {
            @include clearfix;
        }

        .inner {
            float:          right;
            width:          70%;
            margin-right:   20px;
        }

        header {
            margin-bottom:  4rem;
        }

        blockquote p {
            @include        abril-italic;
            font-size:      1.239rem;
            line-height:    1.618;
        }

        .outro {
            font-size:      1.239rem;
            line-height:    1.219;
            width:          80%;
        }
    }

    .no-touch {
        #verdict {
            .main-content {
                padding:        0 1.618rem;
                bottom:         30%;
            }
        }
    }
}


@media screen and (min-width: 52rem) and (min-height: 48rem) {
    #verdict {
        blockquote p {
            font-size:      1.618rem;
        }

        .outro {
            font-size:      1.618rem;
        }
    }
}


.start-esdaile {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/4-esdaile/esdaile-1.jpg);
    }
}

#gonad-man {
    .info-box {
        position:   absolute;
        top:        120px;
        right:      100px;
    }
}

@media all and (min-width: 48rem) {
    #gonad-man {
        .main-content {
            h1, p {
                color: #333;
            }
        }

        .info-box.with-text .text {
            color: #333;
        }
    }

    .touch {
        #gonad-man {
            img {
                @include transform(scale(1.4));
                @include transform-origin(50% 0%);
            }

            .info-box {                           
                right:      6%;
                top:        48%;
            }
        }
    }

    .no-touch {
        #gonad-man {
            img {
                @include transform(scale(2.3, 2.3));
                @include transform-origin(100% 0%);
                @include transition(none);
            }

            &.active img {
                @include transform(scale(1, 1));
                @include transition(all 14s ease);
            }            
        }
    }
}

@media all and (min-width: 64rem) {
    .touch {
        #gonad-man {
            .info-box {                
                top:        66%;
            }
        }
    }
}


#fakir {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/4-esdaile/esdaile-3.jpg);
        background-position: 50% 100%;
    }
}

@media all and (min-width: 48rem) {
    #fakir {
        .main-content {
            p {
                text-shadow: 1px 1px 0px #030303;
            }
        }
    }
}

#india {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/4-esdaile/esdaile-4.jpg);
        background-position: 50% 100%;
    }

}

@media all and (min-width: 48rem) {
    #india {
        .main-content {
            color: #333;

            p {
                font-size: 1.618rem;
            }
        }

        .boats {
            position:           absolute;
            bottom:             110px;
            width:              100%;
            height:             161px;
            background:         url(/pathways/1-mindcraft/_assets/4-esdaile/esdaile-4-boat.png) 0 0 no-repeat;
            background-size:    100%;
        }
    }

    .no-touch {
        #india {
            .boats {
                @include transform( translate(-600px, 0) );
            }
        }
    }

    .touch {
        #india {
            .main-content {
                p {
                    font-size:  1.239rem;
                }
            }

            .boats {
                bottom: 10px;
                height: 130px;

                @include animation(boats 100s linear infinite);
            }
        }
    }
}

#surgery-under-hypnosis-intro {

}

@media all and (min-width: 48rem) {
    .no-touch {
        #surgery-under-hypnosis {
            .bg-container {
                video {
                    position:   absolute;
                    bottom:     0;
                }
            }
        }
    }
}


#james-braid {
    .bg-container {
        background-image:       url(/pathways/1-mindcraft/_assets/4-esdaile/esdaile-5.jpg);
        background-position:    100% 0;
    }

    .main-content {
        h1, p {
            text-shadow: 1px 1px 0 #030303;
        }
    }
}

@media all and (min-width: 48rem) {
    .touch {
        #james-braid {
            .main-content.left {
                max-width: 530px;
            }
        }
    }
}


@media all and (min-width: 48rem) {
    .no-touch {
        #self-hypnosis {
            .bg-container {
                video {
                    position:   absolute;
                    bottom:     0;
                }
            }
        }
    }
}

.start-svengali {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/5-svengali/svengali-1.jpg);
    }

    .falling-lady {
        display: none;
    }
}

@media all and (min-width: 48rem) {
    .start-svengali {
        .falling-lady {
            display: block;
        }
    }
    .touch {
        .start-svengali {
            .falling-lady {
                @include animation(lady 30s linear);

                -webkit-animation-fill-mode: forwards;
                   -moz-animation-fill-mode: forwards;
                    -ms-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
            }
        }
    }
}


@-webkit-keyframes lady {
    0%      { -webkit-transform: translate(0, 0); }
    100%    { -webkit-transform: translate(0, 500px); }
}

@-moz-keyframes lady {
    0%      { -moz-transform: translate(0, 0); }
    100%    { -moz-transform: translate(0, 500px); }
}

@-ms-keyframes lady {
    0%      { -ms-transform: translate(0, 0); }
    100%    { -ms-transform: translate(0, 500px); }
}

@keyframes lady {
    0%      { transform: translate(0, 0); }
    100%    { transform: translate(0, 500px); }
}

.comic-strip { min-height: 600px; }

#trilby {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/5-svengali/svengali-2.jpg);

        .large-screen {
            display:none;
        }
    }

    img {
        width: 100%;
    }

    .trilby-header {
        img {
            display:    block;
            width:      40%;
            margin:     0 auto;
        }

        header {
            padding: 0 1rem;
        }
    }

    .panel-number {
        position: absolute;
        top: 0;
        left: 0;
        color: #030303;
        @include abril-italic;
        background-color: #fff;
        padding: 7px 12px;
        line-height: 1;
    }

    .comic-panel {
        position: relative;
    }

    .comic-quote {
        p {
            display: none;
        }
    }

    .comic-panel:nth-child(3) {
        .panel-text:nth-of-type(1) {
            margin-left:    5px;
            margin-bottom:  55px;
        }
    }

    .comic-panel:nth-child(8) {
        padding: 1rem 0;
    }
}

@media all and (min-width: 48rem) {

    #trilby {

        .bg-container {

            .large-screen {
                display:block;
            }
        }

        .inner {
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 1rem;
        }

        .trilby-header {
            margin: 5.25rem auto 0 auto;

            img {
                float:          left;
                width:          200px;
                margin-right:   1em;

            }

            header {
                padding-left: 220px;

                span {
                    display:        block;
                    @include        tablet-gothic;
                    font-size:      0.7rem;
                    text-transform: uppercase;
                    margin-bottom:  0.5em;
                }

                h1 {
                    margin-bottom: 1em;
                }

                p {
                    font-size: 1.239rem;
                }
            }
        }

        .comic-strip {
            border-top:     1px solid rgba(255,255,255,0.8);
            margin-top:     2em;
            padding-top:    2em;
        }

        .comic-panel {
            position:   relative;
            float:      left;

            img {
                display: block;
                width: 100%;
            }

            .panel-text {
                font-size:      1rem;
                line-height:    1;
            }

            span {
                font-size: 1.618rem;
            }

        }

        .comic-panel--1 {
            width: 42%;
            margin-left: 5%;

            p {
                width: 40%;
            }
        }

        .comic-panel--2 {
            width: 45%;
            margin-left: 5%;

            .panel-text {
                bottom:     190px;
                font-style: italic;
                width:      190px;
            }
        }

        .comic-panel--3 {
            width: 47%;
            margin-top: -86px;
            margin-left: 0;

            .panel-text {
                top:    0;
                bottom: auto;
                left:   auto;
                right:  0;
            }

            .panel-text:nth-of-type(1) {
                right: 40px;
                width: 80%;
            }

            .panel-text:nth-of-type(2) {
                top:    42px;
                right:  20px;
            }
        }

        .comic-panel--4 {
            width: 45%;
            margin-left: 5%;
            margin-top: 42px;

            .panel-text {
                left:   8px;
                right:  auto;
            }

            .panel-text:nth-of-type(1) {
                left:   10px;
                bottom: 60px;
            }
        }

        .comic-panel--5 {
            width:          47%;
            margin-top:     -160px;
        }

        .comic-panel--6 {
            width:          35%;
            margin-left:    5%;
            margin-top:     49px;
        }

        .comic-panel--7 {
            width:          40%;
            margin-top:     -230px;
            margin-left:    7%;

            .panel-number {
                left: auto;
                right: 0;
            }

            .panel-text {
                top:    0;
                bottom: auto;
                left:   10px;
                right:  0;
                width:  220px;
            }
        }

        .comic-panel:nth-child(8) {
            width:          48%;
            margin-left:    5%;
            padding:        2em 0;
        }

        .comic-panel--8 {
            width:          47%;
            margin-left:    5%;
            margin-top:     20px;
        }

        .comic-panel--9 {
            width:          43%;
            margin-left:    4%;
            margin-top:     -100px;

            .panel-text {
                left:   10px;
                right:  auto;
                width:  260px;
            }
        }

        .comic-panel--10 {
            width:          45%;
            margin-top:     45px;
            margin-left:    5%;

            .panel-text {
                font-style: italic;
            }
        }

        .comic-panel--11 {
            width:          33%;
            margin-left:    14%;

            .panel-text {
                left: 10px;
            }
        }

        .comic-quote {
            position:   absolute;
            top:        45px;
            left:       0;
            width:      340px;

            .info-box {
                position: absolute;
            }

            p {
                @include            abril-italic;
                background-color:   rgba(0,0,0,0.9);
                margin:             45px 0 0 45px;
                padding:            1rem 1.2rem 1rem 3rem;
                border-radius:      4px;
            }

            &.active {
                p {
                    display: block;
                }
            }
        }
    }

}

@media all and (min-width: 62.5rem) {
    #trilby {

        .comic-panel--9 {
            margin-top: -70px;
        }

        .comic-panel--11 {
            margin-top: 25px;
        }
    }
}

@media all and (min-width: 84rem) {
    #trilby {
        .comic-panel {
            span {
                font-size: 2.005rem;
            }
        }

        .comic-panel--3 {
            width: 52%;
            margin-top: -120px;
            margin-left: -50px;

            .panel-text:nth-of-type(2) {
                top: 32px;
            }
        }

        .comic-panel--4 {
            margin-top: 52px;
        }

        .comic-panel:nth-child(8) {
            width: 40%;
        }

        .comic-panel:nth-child(10) {
            margin-top: -130px;
        }

        .comic-panel--11 {
            margin-top: -20px;
        }

        .comic-quote {
            right: -300px;
        }
    }
}


#bompard {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/5-svengali/svengali-2.jpg);
    }

    img {
        width: 100%;
    }

    .comic-panel {
        position: relative;
    }

    .panel-number {
        position: absolute;
        top: 0;
        left: 0;
        color: #030303;
        @include abril-italic;
        background-color: #fff;
        padding: 7px 12px;
        line-height: 1;
    }

    .panel-text {
        cite {
            display:    block;
            color:      #999;
            font-size:  0.8rem;
            font-style: normal;
            margin:     10px 0 5px 0;

            b {
                display: block;
            }
        }
    }
}

@media all and (min-width: 48rem) {
    #bompard {

        .inner {
            max-width:  1024px;
            margin:     0 auto;
        }

        .bompard-header {
            max-width:      500px;
            margin:         90px auto;
            border-top:     1px solid rgba(255,255,255,0.6);
            padding:        36px 0 0 0;
        }

        .panel-text {
            line-height: 1;
        }

        .comic-panel {
            position:   relative;
            float:      left;

            img {
                display:    block;
                width:      100%;
            }
        }

        .comic-row {
            position:   relative;
            clear:      both;
        }

        .comic-row--1 {
            .panel-text {
                left:       -230px;
                right:      auto;
                width:      470px;
                z-index:    10;
            }

            .comic-panel {
                width: 37.4%;
            }

            .comic-panel--2 {
                width: 59.2%;
                margin-left: 3%;
            }
        }

        .comic-row--2 {
            margin: 1.5em 0;

            .panel-text {
                top:    25px;
                bottom: auto;
                left:   10px;
                right:  0;
                width:  70%;
            }

            .comic-panel--3 {
                width: 64.3%;
                margin-right: 2%;
            }

            .comic-panel--4 {
                width: 33.2%;
                margin-bottom: 2%;
            }

            .comic-panel--5 {
                width: 33.2%;
            }
        }

        .comic-panel--6 {
            width:          37.6%;
            margin-right:   2%;

            .panel-text {
                top:    -5px;
                bottom: auto;
                width:  80%;
            }
        }

        .comic-panel--7 {
            width: 59.9%;

            .panel-text {
                left:   10px;
                right:  auto;
                width:  210px;
            }
        }

        .comic-panel--8 {
            margin-top: 1em;
            margin-right: 3%;
        }

        .comic-panel--9 {
            margin-top: 1em;
            margin-right: 3%;
        }

        .text-panel--1 {
            width: 30%;
        }

        .comic-row--4 {
            margin-top: 1em;
            
            .comic-column:nth-child(1) {
                width: 28%;
                margin-right: 5%;

                .panel-text {
                    font-style: normal;
                }
            }

            .comic-panel--10 {
                margin-bottom: 40px;

                .panel-text {
                    bottom: -40px;
                    left: 10px;
                }
            }

            .comic-panel--11 {
                .panel-text {
                    bottom: -70px;
                    margin: 0px;
                    left: 10px;
                }
            }

            .comic-column:nth-child(2) {
                width: 66%;

                .panel-text {
                    width: 305px;
                }
            }
        }

        .comic-column {
            float: left;
        }

        .comic-column .comic-panel {
            float: none;
        }

        .outro {
            margin: 7rem .5rem;

            p {
                font-size: 2.005rem;
            }
        }
    }

}

@media all and (min-width: 60rem) {
    #bompard {
       
        .text-panel--1 {
            width: 45%;
        }
        
    }
}

.start-freud {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/6-freud/freud-1.jpg);
    }
}

#anna-o {
    .fragmented {
        position:   absolute;
        top:        0;
        left:       0;
        width:      100%;
    }
}

@media all and (min-width: 48rem) {
    #anna-o {

        .main-content {
            padding-left: 48px;
        }

        header {
            margin: 8rem 0 6rem 0;
        }

        h1 {
            color: #030303;
            white-space: nowrap;
        }

        p {
            color: #030303;
        }

        p + p {
            margin-top: 8rem;
        }
    }

    .touch {
        #anna-o {
            header {
                height: 370px;
            }

            p {
                color: #fff;
            }

            p + p {
                margin-top: 3rem;
            }
        }
    }

    .no-touch {
        #anna-o {
            .main-content {
                bottom: auto;
                top: 0;
            }
        }
    }
}


#fred-breuer {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/6-freud/freud-3.jpg);
    }
    
}

@media all and (min-width: 48rem) {
    #fred-breuer {
        h1 {
            color: #030303;
        }

        p {
            color: #030303;
        }
    }
}


#office {
    .bg-container {
        .large-screen {
            display: none;
        }
    }
}

@media all and (min-width: 48rem) {
    #office {
        img {
            @include transform( scale(1.6, 1.6) );
            @include transform-origin( 0 0 );
        }
    }

    .no-touch {
        #office {
            .bg-container {
                .small-screen {
                    display: none;
                }
                .large-screen {
                    display: block;
                }
            }
        }
    }
}


#office-2 {
     
    header {
        h1 {
            font-size: 1.618rem;
            text-shadow: 1px 1px 1px #030303;  
        }
    }
}

.no-touch {
    #office-2 {
        img {
            display: block;
        }
    }
}

@media all and (min-width: 48rem) {
    #office-2 {
        .large-screen {
            @include transform-origin( 0 0 );
            @include transform( scale(1.6, 1.6) );
        }

        header {
            h1 {
                font-size: 2.618rem;
            }
        }
    }

    .touch {
        #office-2 {
            .small-screen {
                @include transform-origin( 100% 0 );
                @include transform( scale(1.6, 1.6) );
            }
        }
    }

    .no-touch {
        #office-2 {
            .small-screen {
                display: none;
            }
            .large-screen {
                display: block;
            }

            header {
                h1 {
                    text-shadow: 1px 1px 1px #030303;
                }
            }
        }
    }
}



.start-curious-gardener {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/1-curious-gardener/m1-curious-gardener-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-curious-gardener {
        .scene-set {
            color: #030303;

            sup {
                font-size: 0.8rem;
            }
        }

        header {
            h1 {
                color: #030303;
            }
        }

        .intro-text {
            color: #030303;
        }

        .scroll-down--arrow {
            background-image: url(/_assets/img/icons/icon-arrow-down-circle-black.svg);
        }
    }
}
#john-tradescant {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/1-curious-gardener/m1-curious-gardener-2.jpg);
    }
}
.touch {
    #john-tradescant {}
}
.no-touch {
    #john-tradescant {}
}
@media screen and (min-width: 48em) {
    #john-tradescant {
        .main-content {
            color: #030303;
            .inner:first-child {
                margin: 6rem auto;
                border-top: 1px solid #030303;
                border-bottom: 1px solid #030303;
            }
        }
    }
    .touch {
        #john-tradescant {}
    }
    .no-touch {
        #john-tradescant {}
    }
}


#duke-of-buckingham {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/1-curious-gardener/m1-curious-gardener-3.jpg);
        background-position: 50% 100%;
    }
}

.touch {
    #duke-of-buckingham {

    }
}

.no-touch {
    #duke-of-buckingham {
        
    }
}

@media screen and (min-width: 48em) {
    #duke-of-buckingham {
        .pence {
            position:           absolute;
            top:                30%;
            left:               45%;
            background:         url(/pathways/2-the-collectors/_assets/1-curious-gardener/6pence.png) 0 0 no-repeat;
            background-size:    100%;
            width:              140px;
            height:             155px;
        }

        .clip {
            position:   absolute;
            top:        0;
            width:      100%;
            height:     90%;
            overflow:   hidden;
        }

        .main-content {
            color:          #030303;
            
            .inner {
                border-top:     1px solid #030303;
                border-bottom:  1px solid #030303;
            }
        }
    }

    .touch {
        #duke-of-buckingham {

        }
    }

    .no-touch {
        #duke-of-buckingham {

        }
    }
}
#unique-artifacts {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/1-curious-gardener/m1-curious-gardener-4.jpg);
    }
}

@media screen and (min-width: 48em) {

/**
    Crop zoom
**/

    .crop-zoom {
        .tap-target.croc {
            top: 2%;
            left: 40%;
        }
        .tap-target.person {
            top: 60%;
            left: 57%;
        }
        .tap-target.bird {
            top: 35%;
            left: 5%;
        }
        .tap-target.cabinet {
            top: 80%;
            left: 5%;
        }
        .tap-target.books {
            top: 40%;
            left: 80%;
        }
        .tap-target.window {
            top: 40%;
            left: 40%;
        }
    }
}


.start-merchants-of-light {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/2-merchants-of-light/m2-merchants-of-light-1.jpg);
    }

    .scene-set {
        color: #030303;
    }

    header {
        h1 {
            color: #030303;
        }
    }

    .intro-text {
        color: #030303;
    }
}

#bensalem-intro {
    
}

.touch {
    #bensalem-intro {

    }
}

.no-touch {
    #bensalem-intro {
        
    }
}

@media screen and (min-width: 48em) {
    #bensalem-intro {
           
    }

    .touch {
        #bensalem-intro {

        }
    }

    .no-touch {
        #bensalem-intro {

        }
    }
}

.start-death-collector {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/3-death-collector/m3-death-collector-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-death-collector {
        .content {
            float:          right;
            margin:         0;
            text-shadow:    1px 1px 2px #333;
        }
    }
}

#bills-of-mortality {
    .bg-container {
        // background-image: url(/pathways/2-the-collectors/_assets/3-death-collector/m3-death-collector-2.jpg);
    }
}

.touch {
    #bills-of-mortality {

    }
}

.no-touch {
    #bills-of-mortality {
        
    }
}

@media screen and (min-width: 48em) {
    #bills-of-mortality {
           
    }

    .touch {
        #bills-of-mortality {

        }
    }

    .no-touch {
        #bills-of-mortality {

        }
    }
}

#graunt-records {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/3-death-collector/m3-death-collector-3.jpg);
    }
}

.touch {
    #graunt-records {

    }
}

.no-touch {
    #graunt-records {

    }
}

@media screen and (min-width: 48em) {
    #graunt-records {
        .bg-container {
            .numbers {
                position:   absolute;
                right:      0;
                top:        0;
                width:      50%;

                @include transition(all 30s linear);
            }
        }

        &.active {
            .numbers {
                @include transform( translate(0, -2000px) );
            }
        }
    }

    .touch {
        #graunt-records {

        }
    }

    .no-touch {
        #graunt-records {

        }
    }
}

#death-infographic {
    // TODO: make this transition nicer
    .info-box, .input-container {
        display: none;
    }
    &.active {
        .info-box, .input-container {
            display: block;
        }
    }
}


#isaac-newton {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/3-death-collector/m3-death-collector-4.jpg);
    }
}

.touch {
    #isaac-newton {

    }
}

.no-touch {
    #isaac-newton {
        
    }
}

@media screen and (min-width: 48em) {
    #isaac-newton {
           
    }

    .touch {
        #isaac-newton {

        }
    }

    .no-touch {
        #isaac-newton {

        }
    }
}

.start-unceasing-seeker {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/4-unceasing-seeker/m4-unceasing-seeker-1.jpg);
    }
}

#wellcome-collection {
    
}

.touch {
    #wellcome-collection {

    }
}

.no-touch {
    #wellcome-collection {
        
    }
}

@media screen and (min-width: 48em) {
    #wellcome-collection {
        .bg-container {
            cursor: move;
        }  
    }

    .touch {
        #wellcome-collection {

        }
    }

    .no-touch {
        #wellcome-collection {

        }
    }

    .infinite-canvas {

        .text-panel[data-chapter="1"] {
            top:    1834px;
            left:   3418px;
        }
        .text-panel[data-chapter="2"] {
            top:    776px;
            left:   5892px;
        }
        .text-panel[data-chapter="3"] {
            top:    2985px;
            left:   997px;
        }
        .text-panel[data-chapter="4"] {
            top:    893px;
            left:   1252px;
        }
        .text-panel[data-chapter="5"] {
            top:    3114px;
            left:   6093px;
        }
    }
}


#stewart-conn {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/4-unceasing-seeker/m4-unceasing-seeker-2.jpg);
    }
    .black-strip {
        width: 600px;
    }
    .strip {
        max-width: 500px;
    }

}



.start-obscene-doctor {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/m5-obscene-doctor-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-obscene-doctor {
        .content {
            margin:         0;
            float:          right;
            text-shadow:    1px 1px 2px #333;
        }
    }
}
#kahns-anatomical-museum {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/m5-obscene-doctor-2.jpg);
    }
}
.touch {
    #kahns-anatomical-museum {}
}
.no-touch {
    #kahns-anatomical-museum {}
}
@media screen and (min-width: 48em) {
    #kahns-anatomical-museum {
        .inner {
            max-width: 1024px;
        }
    }
    .touch {
        #kahns-anatomical-museum {}
    }
    .no-touch {
        #kahns-anatomical-museum {}
    }
}


#quackery {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/m5-obscene-doctor-3.jpg);
    }
}

.touch {
    #quackery {

    }
}

.no-touch {
    #quackery {
        
    }
}

@media screen and (min-width: 48em) {
    #quackery {
        .info-box {
            position:   absolute;
            bottom:     80px;
            left:       6%;
        }
    }

    .touch {
        #quackery {

        }
    }

    .no-touch {
        #quackery {
            .info-box {
                bottom: 100px;
                left:   40%;
            }
        }
    }
}


#obscene-publications-act {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/m5-obscene-doctor-4.jpg);
    }
}

.touch {
    #obscene-publications-act {

    }
}

.no-touch {
    #obscene-publications-act {
        
    }
}

@media screen and (min-width: 48em) {
    #obscene-publications-act {
        .info-box {
            position:   absolute;
            bottom:     80px;
            left:       6%
        }
    }

    .touch {
        #obscene-publications-act {

        }
    }

    .no-touch {
        #obscene-publications-act {
            .info-box {
                bottom: 100px;
                left:   40%;
            }
        }
    }
}

#seized-and-destroyed {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/m5-obscene-doctor-5.jpg);
    }
}

.touch {
    #seized-and-destroyed {

    }
}

.no-touch {
    #seized-and-destroyed {
        
    }
}

@media screen and (min-width: 48em) {
    #seized-and-destroyed {
        .main-content {
            color:          #030303;
            border-top:     1px solid #030303;
            border-bottom:  1px solid #030303;
        }
    }

    .rubbish {
        width:  100%;
        height: 100%;

        div {
            position: absolute;
        }

        .carrot {
            top:        70%;
            right:      14%;
            width:      185px;
            height:     87px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/carrot.png) 0 0 no-repeat;
        }

        .cat {
            top:        60%;
            right:      32%;
            width:      178px;
            height:     143px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/cat.png) 0 0 no-repeat;
        }

        .rubbish1 {
            top:        43%;
            right:      28%;
            width:      85px;
            height:     52px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/rubbish1.png) 0 0 no-repeat;
        }
        .rubbish2 {
            top:        85%;
            right:      3%;
            width:      85px;
            height:     45px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/rubbish2.png) 0 0 no-repeat;
        }
        .rubbish3 {
            top:        80%;
            right:      25%;
            width:      185px;
            height:     87px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/rubbish3.png) 0 0 no-repeat;
        }
        .rubbish4 {
            top:        40%;
            right:      30%;
            width:      106px;
            height:     113px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/rubbish4.png) 0 0 no-repeat;
        }
        .rubbish5 {
            top:        55%;
            right:      5%;
            width:      70px;
            height:     48px;
            background: url(/pathways/2-the-collectors/_assets/5-obscene-doctor/rubbish5.png) 0 0 no-repeat;
        }
    }

    .touch {
        #seized-and-destroyed {
            .main-content {
                position:   absolute;
                margin-top: 2rem;
            }
        }
    }

    .no-touch {
        #seized-and-destroyed {

        }
    }
}

.start-ignorant-bride {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/6-ignorant-bride/m6-ignorant-bride-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-ignorant-bride {
        .content {
            margin: 0;
            float:  left;
        }

        .scene-set {
            color: #030303;

            sup {
                font-size: 0.8rem;
            }
        }

        header {
            h1 {
                color: #030303;
            }
        }

        .intro-text {
            color: #030303;
        }
    }
}

#british-museum {

}

.touch {
    #british-museum {

    }
}

.no-touch {
    #british-museum {
        
    }
}

@media screen and (min-width: 48em) {
    #british-museum {
        img {
            position:   absolute;
            bottom:     0;

            @include transform-origin( 35% 70% );
            @include transition( all 14s ease );
        }

        &.active img {
            @include transform( scale(1.8, 1.8));
        }

        .main-content {
            border-top:     1px solid #fff;
            text-shadow:    1px 1px 1px #333;
        }
    }

    .touch {
        #british-museum {
            .main-content {
                position:   absolute;
                margin-top: 2rem;
            }
        }
    }

    .no-touch {
        #british-museum {

        }
    }

}

#married-love {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/6-ignorant-bride/m6-ignorant-bride-3.jpg);
    }
}

.touch {
    #married-love {

    }
}

.no-touch {
    #married-love {
        
    }
}

@media screen and (min-width: 48em) {
    #married-love {
        .inner {
            color:      #030303;
        }

        .inner + .inner {
            border-top: 1px solid #030303;
        }

        .married-love-film-gallery {
            position:   absolute;
            top:        40%;
            right:      30%;
        }

        .info-box {
            position:   absolute;
            top:        80px;
            right:      100px;

            .stub {
                position:   absolute;
                z-index:    -1;
                @include    transform( translate(-127px, -20px) );
            }

            .text {
                color: #030303;
            }
        }
    }

    .touch {
        #married-love {

        }
    }

    .no-touch {
        #married-love {

        }
    }
}

#shared-experiences {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/6-ignorant-bride/m6-ignorant-bride-4.jpg);
    }
}

.touch {
    #shared-experiences {

    }
}

.no-touch {
    #shared-experiences {
        
    }
}

@media screen and (min-width: 48em) {
    #shared-experiences {
        .main-content {
            color:          #030303;

            .inner {
                border-top:     1px solid #030303;
                border-bottom:  1px solid #030303;
            }
        }
    }

    .touch {
        #shared-experiences {

        }
    }

    .no-touch {
        #shared-experiences {

        }
    }
}

#letters {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/_assets/6-ignorant-bride/m6-ignorant-bride-4.jpg);
    }
}

.touch {
    #letters {

    }
}

.no-touch {
    #letters {

    }
}

@media screen and (min-width: 48em) {
    #letters {
        .info-box {
            position:   absolute;
            top:        80px;
            right:      100px;
        }
    }



    .touch {
        #letters {

        }
    }

    .no-touch {
        #letters {

        }
    }
}

.start-example {
    .bg-container {
        background-image: url(/_assets/img/spacer.png);
    }
}

#example {
    
}

.touch {
    #example {

    }
}

.no-touch {
    #example {
        
    }
}

@media screen and (min-width: 48em) {
    #example {
           
    }

    .touch {
        #example {

        }
    }

    .no-touch {
        #example {

        }
    }
}