
.start-mesmer {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/1-mesmer/_assets/mesmer-1.jpg);
    }
}


#mesmers-salon-intro {
    .small-screen {
        display: block;
    }

    .large-screen {
        display: none;
    }
}

@media screen and (min-width: 48em) {
    #mesmers-salon-intro {
        .small-screen {
            display: none;
        }

        .large-screen {
            display: block;
        }   
    }

    .touch {
        #mesmers-salon-intro {
            .main-content {
                top: 15%;
            }
        }
    }
}

#mesmers-salon {
    display: none;
}

@media screen and (min-width: 48em) {
    #mesmers-salon {
        display: block;
    }
}

/**
    Crop zoom
**/

.crop-zoom {

    .tap-target.rod {
        top:    46%;
        left:   14%;
    }

    .tap-target.woman {
        top:    74%;
        left:   39%;
    }

    .tap-target.mesmer {
        top:    26%;
        left:   74%;
    }
}


#animal-magnetism {
    overflow: hidden;

    .bg-container {
        background-image: url(/pathways/1-mindcraft/1-mesmer/_assets/mesmer-3.jpg);
    }

    .info-box {
        position:   absolute;
        bottom:     60px;
        right:      60px;
    }
}


@media all and (min-width: 48rem) {
    .touch {
        #animal-magnetism {
            .main-content {
                top: 15%;
            }
        }
    }
}

@media all and (min-width: 60rem) {

    #animal-magnetism {

        .info-box {
            bottom:     auto;
            top:        90px;
            right:      60px;
        }
    }

}


#magnetised-trees {
    .bg-container {
        canvas {
            display: none;
        }
    }

    p {
        text-shadow: 2px 2px 0px #030303;
    }
}

@media all and (min-width: 48rem) {
    #magnetised-trees {
        .bg-container {
            img {
                display: none;
            }

            canvas {
                display: block;
            }
        }
    }

    .no-touch {
        #magnetised-trees {
            .bg-container {
                canvas {
                    right: auto;
                    left: 0;
                }
            }
        }
    }
}

@media all and (min-width: 48em) and (max-width: 80em) {
    #satirised {
        .main-content {
            max-width: 25%;
        }
    }
}

#committee-investigates-intro {
    .main-content {
        top:    35%;
        bottom: auto;
    }
}

.no-touch #committee-investigates {
    .bg-container {
        video {
            position:   absolute;
            bottom:     0;
        }
    }
}

.start-airloom {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/2-airloom/_assets/airloom-1.jpg);
    }
}


#where-will-this-technology-lead {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/2-airloom/_assets/airloom-2.jpg);
    }

    .info-box {
        position:   absolute;
        top:        60px;
        right:      60px;
    }

}


.start-elliotson {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/3-elliotson/_assets/elliotson-1.jpg);
    }
}


#okey-sisters {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/3-elliotson/_assets/elliotson-2.jpg);
    }

    .main-content {
        p {
            margin: 1em 0;
        }
    }

    .secondary-content {
        display: none;
    }

}

@media all and (min-width: 48em) {
    #okey-sisters {
        .secondary-content {
            display:    block;
            position:   absolute;
            left:       600px;
            width:      40%;
            max-width:  500px;

            img {
                display:    block;
                width:      100%;
            }

            img:first-child {
                margin-bottom:  10rem;
            }
        }
    }

    .no-touch {
        #okey-sisters {
            .main-content {
                p {
                    margin: 1em 0 10rem 0;
                }
            }

            img:first-child {
                margin-left:    -100px;
            }

            .info-box {
                position:   absolute;
                top:        120px;
                right:      90px;
            }
        }
    }

    .touch {
        #okey-sisters {
            .main-content {
                top:        36%;
                position:   relative;

                p {
                    margin: 1em 0 6rem 0;
                }
            }

            .secondary-content {
                top:    26%;
                left:   auto;
                right:  20px;
            }

            .info-box {
                position:   absolute;
                top:        20px;
                right:      90px;
            }
        }
    }
}


#thomas-wakley {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/3-elliotson/_assets/elliotson-3.jpg);
    }

    .main-content {
        .inner {
            max-width: 640px;
        }
    }

    header {
        h1 {
            text-align: left;
            line-height: 1.239;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}

@media all and (min-width: 48em) {
    #thomas-wakley {
        header {
            padding: 3em 0;

            h1 {
                color: #030303;
                text-align: center;
                line-height: 1;
                width:80%;
                margin: 0 auto;
            }
        }
    }
}


#verdict {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/3-elliotson/_assets/elliotson-4.jpg);
        background-position: 30% 0;
    }

    blockquote p {
        @include        abril-italic;
    }
}

@media screen and (min-width: 48rem) {
    #verdict {

        .main-content {
            @include clearfix;
        }

        .inner {
            float:          right;
            width:          70%;
            margin-right:   20px;
        }

        header {
            margin-bottom:  4rem;
        }

        blockquote p {
            @include        abril-italic;
            font-size:      1.239rem;
            line-height:    1.618;
        }

        .outro {
            font-size:      1.239rem;
            line-height:    1.219;
            width:          80%;
        }
    }

    .no-touch {
        #verdict {
            .main-content {
                padding:        0 1.618rem;
                bottom:         30%;
            }
        }
    }
}


@media screen and (min-width: 52rem) and (min-height: 48rem) {
    #verdict {
        blockquote p {
            font-size:      1.618rem;
        }

        .outro {
            font-size:      1.618rem;
        }
    }
}


.start-esdaile {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/4-esdaile/_assets/esdaile-1.jpg);
    }
}


#gonad-man {
    .info-box {
        position:   absolute;
        top:        120px;
        right:      100px;
    }
}

@media all and (min-width: 48rem) {
    #gonad-man {
        .main-content {
            h1, p {
                color: #333;
            }
        }

        .info-box.with-text .text {
            color: #333;
        }
    }

    .touch {
        #gonad-man {
            img {
                @include transform(scale(1.4));
                @include transform-origin(50% 0%);
            }

            .info-box {                           
                right:      6%;
                top:        48%;
            }
        }
    }

    .no-touch {
        #gonad-man {
            img {
                @include transform(scale(2.3, 2.3));
                @include transform-origin(100% 0%);
                @include transition(none);
            }

            &.active img {
                @include transform(scale(1, 1));
                @include transition(all 14s ease);
            }            
        }
    }
}

@media all and (min-width: 64rem) {
    .touch {
        #gonad-man {
            .info-box {                
                top:        66%;
            }
        }
    }
}


#fakir {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/4-esdaile/_assets/esdaile-3.jpg);
        background-position: 50% 100%;
    }
}

@media all and (min-width: 48rem) {
    #fakir {
        .main-content {
            p {
                text-shadow: 1px 1px 0px #030303;
            }
        }
    }
}


#india {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/4-esdaile/_assets/esdaile-4.jpg);
        background-position: 50% 100%;
    }

}

@media all and (min-width: 48rem) {
    #india {
        .main-content {
            color: #333;

            p {
                font-size: 1.618rem;
            }
        }

        .boats {
            position:           absolute;
            bottom:             110px;
            width:              100%;
            height:             161px;
            background:         url(/pathways/1-mindcraft/4-esdaile/_assets/esdaile-4-boat.png) 0 0 no-repeat;
            background-size:    100%;
        }
    }

    .no-touch {
        #india {
            .boats {
                @include transform( translate(-600px, 0) );
            }
        }
    }

    .touch {
        #india {
            .main-content {
                p {
                    font-size:  1.239rem;
                }
            }

            .boats {
                bottom: 10px;
                height: 130px;

                @include animation(boats 100s linear infinite);
            }
        }
    }
}


#surgery-under-hypnosis-intro {

}

@media all and (min-width: 48rem) {
    .no-touch {
        #surgery-under-hypnosis {
            .bg-container {
                video {
                    position:   absolute;
                    bottom:     0;
                }
            }
        }
    }
}


#james-braid {
    .bg-container {
        background-image:       url(/pathways/1-mindcraft/4-esdaile/_assets/esdaile-5.jpg);
        background-position:    100% 0;
    }

    .main-content {
        h1, p {
            text-shadow: 1px 1px 0 #030303;
        }
    }
}

@media all and (min-width: 48rem) {
    .touch {
        #james-braid {
            .main-content.left {
                max-width: 530px;
            }
        }
    }
}


@media all and (min-width: 48rem) {
    .no-touch {
        #self-hypnosis {
            .bg-container {
                video {
                    position:   absolute;
                    bottom:     0;
                }
            }
        }
    }
}

.start-svengali {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/5-svengali/_assets/svengali-1.jpg);
    }

    .falling-lady {
        display: none;
    }
}

@media all and (min-width: 48rem) {
    .start-svengali {
        .falling-lady {
            display: block;
        }
    }
    .touch {
        .start-svengali {
            .falling-lady {
                @include animation(lady 30s linear);

                -webkit-animation-fill-mode: forwards;
                   -moz-animation-fill-mode: forwards;
                    -ms-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
            }
        }
    }
}


@-webkit-keyframes lady {
    0%      { -webkit-transform: translate(0, 0); }
    100%    { -webkit-transform: translate(0, 500px); }
}

@-moz-keyframes lady {
    0%      { -moz-transform: translate(0, 0); }
    100%    { -moz-transform: translate(0, 500px); }
}

@-ms-keyframes lady {
    0%      { -ms-transform: translate(0, 0); }
    100%    { -ms-transform: translate(0, 500px); }
}

@keyframes lady {
    0%      { transform: translate(0, 0); }
    100%    { transform: translate(0, 500px); }
}


.comic-strip { min-height: 600px; }

#trilby {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/5-svengali/_assets/svengali-2.jpg);

        .large-screen {
            display:none;
        }
    }

    img {
        width: 100%;
    }

    .trilby-header {
        img {
            display:    block;
            width:      40%;
            margin:     0 auto;
        }

        header {
            padding: 0 1rem;
        }
    }

    .panel-number {
        position: absolute;
        top: 0;
        left: 0;
        color: #030303;
        @include abril-italic;
        background-color: #fff;
        padding: 7px 12px;
        line-height: 1;
    }

    .comic-panel {
        position: relative;
    }

    .comic-quote {
        p {
            display: none;
        }
    }

    .comic-panel:nth-child(3) {
        .panel-text:nth-of-type(1) {
            margin-left:    5px;
            margin-bottom:  55px;
        }
    }

    .comic-panel:nth-child(8) {
        padding: 1rem 0;
    }
}

@media all and (min-width: 48rem) {

    #trilby {

        .bg-container {

            .large-screen {
                display:block;
            }
        }

        .inner {
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 1rem;
        }

        .trilby-header {
            margin: 5.25rem auto 0 auto;

            img {
                float:          left;
                width:          200px;
                margin-right:   1em;

            }

            header {
                padding-left: 220px;

                span {
                    display:        block;
                    @include        tablet-gothic;
                    font-size:      0.7rem;
                    text-transform: uppercase;
                    margin-bottom:  0.5em;
                }

                h1 {
                    margin-bottom: 1em;
                }

                p {
                    font-size: 1.239rem;
                }
            }
        }

        .comic-strip {
            border-top:     1px solid rgba(255,255,255,0.8);
            margin-top:     2em;
            padding-top:    2em;
        }

        .comic-panel {
            position:   relative;
            float:      left;

            img {
                display: block;
                width: 100%;
            }

            .panel-text {
                font-size:      1rem;
                line-height:    1;
            }

            span {
                font-size: 1.618rem;
            }

        }

        .comic-panel--1 {
            width: 42%;
            margin-left: 5%;

            p {
                width: 40%;
            }
        }

        .comic-panel--2 {
            width: 45%;
            margin-left: 5%;

            .panel-text {
                bottom:     190px;
                font-style: italic;
                width:      190px;
            }
        }

        .comic-panel--3 {
            width: 47%;
            margin-top: -86px;
            margin-left: 0;

            .panel-text {
                top:    0;
                bottom: auto;
                left:   auto;
                right:  0;
            }

            .panel-text:nth-of-type(1) {
                right: 40px;
                width: 80%;
            }

            .panel-text:nth-of-type(2) {
                top:    42px;
                right:  20px;
            }
        }

        .comic-panel--4 {
            width: 45%;
            margin-left: 5%;
            margin-top: 42px;

            .panel-text {
                left:   8px;
                right:  auto;
            }

            .panel-text:nth-of-type(1) {
                left:   10px;
                bottom: 60px;
            }
        }

        .comic-panel--5 {
            width:          47%;
            margin-top:     -160px;
        }

        .comic-panel--6 {
            width:          35%;
            margin-left:    5%;
            margin-top:     49px;
        }

        .comic-panel--7 {
            width:          40%;
            margin-top:     -230px;
            margin-left:    7%;

            .panel-number {
                left: auto;
                right: 0;
            }

            .panel-text {
                top:    0;
                bottom: auto;
                left:   10px;
                right:  0;
                width:  220px;
            }
        }

        .comic-panel:nth-child(8) {
            width:          48%;
            margin-left:    5%;
            padding:        2em 0;
        }

        .comic-panel--8 {
            width:          47%;
            margin-left:    5%;
            margin-top:     20px;
        }

        .comic-panel--9 {
            width:          43%;
            margin-left:    4%;
            margin-top:     -100px;

            .panel-text {
                left:   10px;
                right:  auto;
                width:  260px;
            }
        }

        .comic-panel--10 {
            width:          45%;
            margin-top:     45px;
            margin-left:    5%;

            .panel-text {
                font-style: italic;
            }
        }

        .comic-panel--11 {
            width:          33%;
            margin-left:    14%;

            .panel-text {
                left: 10px;
            }
        }

        .comic-quote {
            position:   absolute;
            top:        45px;
            left:       0;
            width:      340px;

            .info-box {
                position: absolute;
            }

            p {
                @include            abril-italic;
                background-color:   rgba(0,0,0,0.9);
                margin:             45px 0 0 45px;
                padding:            1rem 1.2rem 1rem 3rem;
                border-radius:      4px;
            }

            &.active {
                p {
                    display: block;
                }
            }
        }
    }

}

@media all and (min-width: 62.5rem) {
    #trilby {

        .comic-panel--9 {
            margin-top: -70px;
        }

        .comic-panel--11 {
            margin-top: 25px;
        }
    }
}

@media all and (min-width: 84rem) {
    #trilby {
        .comic-panel {
            span {
                font-size: 2.005rem;
            }
        }

        .comic-panel--3 {
            width: 52%;
            margin-top: -120px;
            margin-left: -50px;

            .panel-text:nth-of-type(2) {
                top: 32px;
            }
        }

        .comic-panel--4 {
            margin-top: 52px;
        }

        .comic-panel:nth-child(8) {
            width: 40%;
        }

        .comic-panel:nth-child(10) {
            margin-top: -130px;
        }

        .comic-panel--11 {
            margin-top: -20px;
        }

        .comic-quote {
            right: -300px;
        }
    }
}


#bompard {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/5-svengali/_assets/svengali-2.jpg);
    }

    img {
        width: 100%;
    }

    .comic-panel {
        position: relative;
    }

    .panel-number {
        position: absolute;
        top: 0;
        left: 0;
        color: #030303;
        @include abril-italic;
        background-color: #fff;
        padding: 7px 12px;
        line-height: 1;
    }

    .panel-text {
        cite {
            display:    block;
            color:      #999;
            font-size:  0.8rem;
            font-style: normal;
            margin:     10px 0 5px 0;

            b {
                display: block;
            }
        }
    }
}

@media all and (min-width: 48rem) {
    #bompard {

        .inner {
            max-width:  1024px;
            margin:     0 auto;
        }

        .bompard-header {
            max-width:      500px;
            margin:         90px auto;
            border-top:     1px solid rgba(255,255,255,0.6);
            padding:        36px 0 0 0;
        }

        .panel-text {
            line-height: 1;
        }

        .comic-panel {
            position:   relative;
            float:      left;

            img {
                display:    block;
                width:      100%;
            }
        }

        .comic-row {
            position:   relative;
            clear:      both;
        }

        .comic-row--1 {
            .panel-text {
                left:       -230px;
                right:      auto;
                width:      470px;
                z-index:    10;
            }

            .comic-panel {
                width: 37.4%;
            }

            .comic-panel--2 {
                width: 59.2%;
                margin-left: 3%;
            }
        }

        .comic-row--2 {
            margin: 1.5em 0;

            .panel-text {
                top:    25px;
                bottom: auto;
                left:   10px;
                right:  0;
                width:  70%;
            }

            .comic-panel--3 {
                width: 64.3%;
                margin-right: 2%;
            }

            .comic-panel--4 {
                width: 33.2%;
                margin-bottom: 2%;
            }

            .comic-panel--5 {
                width: 33.2%;
            }
        }

        .comic-panel--6 {
            width:          37.6%;
            margin-right:   2%;

            .panel-text {
                top:    -5px;
                bottom: auto;
                width:  80%;
            }
        }

        .comic-panel--7 {
            width: 59.9%;

            .panel-text {
                left:   10px;
                right:  auto;
                width:  210px;
            }
        }

        .comic-panel--8 {
            margin-top: 1em;
            margin-right: 3%;
        }

        .comic-panel--9 {
            margin-top: 1em;
            margin-right: 3%;
        }

        .text-panel--1 {
            width: 30%;
        }

        .comic-row--4 {
            margin-top: 1em;

            .comic-column:nth-child(1) {
                width: 28%;
                margin-right: 5%;

                .panel-text {
                    font-style: normal;
                }
            }

            .comic-panel--10 {
                margin-bottom: 40px;

                .panel-text {
                    bottom: -40px;
                    left: 10px;
                }
            }

            .comic-panel--11 {
                .panel-text {
                    bottom: -70px;
                    margin: 0px;
                    left: 10px;
                }
            }

            .comic-column:nth-child(2) {
                width: 66%;

                .panel-text {
                    width: 305px;
                }
            }
        }

        .comic-column {
            float: left;
        }

        .comic-column .comic-panel {
            float: none;
        }

        .outro {
            margin: 7rem .5rem;

            p {
                font-size: 2.005rem;
            }
        }
    }

}

@media all and (min-width: 60rem) {
    #bompard {

        .text-panel--1 {
            width: 45%;
        }

    }
}


.start-freud {
    .bg-container {
        background-image: url(/pathways/1-mindcraft/6-freud/_assets/freud-1.jpg);
    }
}


#anna-o {
    .fragmented {
        position:   absolute;
        top:        0;
        left:       0;
        width:      100%;
    }
}

@media all and (min-width: 48rem) {
    #anna-o {

        .main-content {
            padding-left: 48px;
        }

        header {
            margin: 8rem 0 6rem 0;
        }

        h1 {
            color: #030303;
            white-space: nowrap;
        }

        p {
            color: #030303;
        }

        p + p {
            margin-top: 8rem;
        }
    }

    .touch {
        #anna-o {
            header {
                height: 370px;
            }

            p {
                color: #fff;
            }

            p + p {
                margin-top: 3rem;
            }
        }
    }

    .no-touch {
        #anna-o {
            .main-content {
                bottom: auto;
                top: 0;
            }
        }
    }
}


#fred-breuer {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/6-freud/_assets/freud-3.jpg);
    }

}

@media all and (min-width: 48rem) {
    #fred-breuer {
        h1 {
            color: #030303;
        }

        p {
            color: #030303;
        }
    }
}


#office {
    .bg-container {
        .large-screen {
            display: none;
        }
    }
}

@media all and (min-width: 48rem) {
    #office {
        img {
            @include transform( scale(1.6, 1.6) );
            @include transform-origin( 0 0 );
        }
    }

    .no-touch {
        #office {
            .bg-container {
                .small-screen {
                    display: none;
                }
                .large-screen {
                    display: block;
                }
            }
        }
    }
}


#office-2 {
     
    header {
        h1 {
            font-size: 1.618rem;
            text-shadow: 1px 1px 1px #030303;  
        }
    }
}

.no-touch {
    #office-2 {
        img {
            display: block;
        }
    }
}

@media all and (min-width: 48rem) {
    #office-2 {
        .large-screen {
            @include transform-origin( 0 0 );
            @include transform( scale(1.6, 1.6) );
        }

        header {
            h1 {
                font-size: 2.618rem;
            }
        }
    }

    .touch {
        #office-2 {
            .small-screen {
                @include transform-origin( 100% 0 );
                @include transform( scale(1.6, 1.6) );
            }
        }
    }

    .no-touch {
        #office-2 {
            .small-screen {
                display: none;
            }
            .large-screen {
                display: block;
            }

            header {
                h1 {
                    text-shadow: 1px 1px 1px #030303;
                }
            }
        }
    }
}



.start-curious-gardener {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/1-curious-gardener/_assets/m1-curious-gardener-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-curious-gardener {
        .scene-set {
            color: #030303;

            sup {
                font-size: 0.8rem;
            }
        }

        header {
            h1 {
                color: #030303;
            }
        }

        .intro-text {
            color: #030303;
        }

        .scroll-down--arrow {
            background-image: url(/_assets/img/icons/icon-arrow-down-circle-black.svg);
        }
    }
}

#john-tradescant {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/1-curious-gardener/_assets/m1-curious-gardener-2.jpg);
    }
}
.touch {
    #john-tradescant {}
}
.no-touch {
    #john-tradescant {}
}
@media screen and (min-width: 48em) {
    #john-tradescant {
        .main-content {
            color: #030303;
            .inner:first-child {
                margin: 6rem auto;
                border-top: 1px solid #030303;
                border-bottom: 1px solid #030303;
            }
        }
    }
    .touch {
        #john-tradescant {}
    }
    .no-touch {
        #john-tradescant {}
    }
}


#duke-of-buckingham {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/1-curious-gardener/_assets/m1-curious-gardener-3.jpg);
        background-position: 50% 100%;
    }
}

.touch {
    #duke-of-buckingham {

    }
}

.no-touch {
    #duke-of-buckingham {

    }
}

@media screen and (min-width: 48em) {
    #duke-of-buckingham {
        .pence {
            position:           absolute;
            top:                30%;
            left:               45%;
            background:         url(/pathways/2-the-collectors/1-curious-gardener/_assets/6pence.png) 0 0 no-repeat;
            background-size:    100%;
            width:              140px;
            height:             155px;
        }

        .clip {
            position:   absolute;
            top:        0;
            width:      100%;
            height:     90%;
            overflow:   hidden;
        }

        .main-content {
            color:          #030303;

            .inner {
                border-top:     1px solid #030303;
                border-bottom:  1px solid #030303;
            }
        }
    }

    .touch {
        #duke-of-buckingham {

        }
    }

    .no-touch {
        #duke-of-buckingham {

        }
    }
}

#unique-artifacts {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/1-curious-gardener/_assets/m1-curious-gardener-4.jpg);
    }
}

@media screen and (min-width: 48em) {

/**
    Crop zoom
**/

    .crop-zoom {
        .tap-target.croc {
            top: 2%;
            left: 40%;
        }
        .tap-target.person {
            top: 60%;
            left: 57%;
        }
        .tap-target.bird {
            top: 35%;
            left: 5%;
        }
        .tap-target.cabinet {
            top: 80%;
            left: 5%;
        }
        .tap-target.books {
            top: 40%;
            left: 80%;
        }
        .tap-target.window {
            top: 40%;
            left: 40%;
        }
    }
}


.start-merchants-of-light {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/2-merchants-of-light/_assets/m2-merchants-of-light-1.jpg);
    }

    .scene-set {
        color: #030303;
    }

    header {
        h1 {
            color: #030303;
        }
    }

    .intro-text {
        color: #030303;
    }
}

#bensalem-intro {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/2-merchants-of-light/_assets/m2-merchants-of-light-2.jpg);
    }
    .main-content {
        color: #030303;
    }
}
.touch {
    #bensalem-intro {}
}
.no-touch {
    #bensalem-intro {}
}
@media screen and (min-width: 48em) {
    #bensalem-intro {} .touch {
        #bensalem-intro {}
    }
    .no-touch {
        #bensalem-intro {}
    }
}


.start-death-collector {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/3-death-collector/_assets/m3-death-collector-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-death-collector {
        .content {
            text-shadow:    1px 1px 2px #333;
        }
    }
}


#bills-of-mortality {
    .bg-container {
        // background-image: url(/pathways/2-the-collectors/3-death-collector/_assets/m3-death-collector-2.jpg);
    }
}

.touch {
    #bills-of-mortality {

    }
}

.no-touch {
    #bills-of-mortality {

    }
}

@media screen and (min-width: 48em) {
    #bills-of-mortality {

    }

    .touch {
        #bills-of-mortality {

        }
    }

    .no-touch {
        #bills-of-mortality {

        }
    }
}


#graunt-records {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/3-death-collector/_assets/m3-death-collector-3.jpg);
    }
    li {
        list-style: disc;
        margin-bottom: 0.5em;
    }
}

.touch {
    #graunt-records {

    }
}

.no-touch {
    #graunt-records {

    }
}

@media screen and (min-width: 48em) {
    #graunt-records {
        .bg-container {
            .numbers {
                position:   absolute;
                right:      0;
                top:        0;
                width:      50%;

                @include transition(all 30s linear);
            }
        }

        &.active {
            .numbers {
                @include transform( translate(0, -2000px) );
            }
        }
    }

    .touch {
        #graunt-records {

        }
    }

    .no-touch {
        #graunt-records {

        }
    }
}

#death-infographic {
    // TODO: make this transition nicer
    .info-box, .input-container {
        display: none;
    }
    &.active {
        .info-box, .input-container {
            display: block;
        }
    }
}


#isaac-newton {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/3-death-collector/_assets/m3-death-collector-4.jpg);
    }
}

.touch {
    #isaac-newton {

    }
}

.no-touch {
    #isaac-newton {

    }
}

@media screen and (min-width: 48em) {
    #isaac-newton {

    }

    .touch {
        #isaac-newton {

        }
    }

    .no-touch {
        #isaac-newton {

        }
    }
}

#death-infographic {
    .line-ticks {
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1px;
        -moz-perspective: 1px;
        perspective: 1px;
    }
    .bg-container {
        line-height: 1;
        font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
        box-sizing: content-box;
        background-color: #fdebc0;
        color: #000;
        background-image: url('/pathways/2-the-collectors/3-death-collector/_assets/infographics/death-collector/wellcome-background3.jpg');
        background-size: 100% 100%;
        background-repeat: repeat-y;
        background-position: center center;

        * {
            box-sizing: content-box;
        }
    }
    header {
        padding-top: 2px;
        background-color: rgba(255, 255, 255, 0.7);
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        margin: 0 auto;
        width: 320px;
        position: absolute;
        top: 30px;
        z-index: 2;
        left: 0;
        right: 0;
    }
    .display-opacity-0 {
        opacity: 0;
    }
    .display-opacity-1 {
        opacity: 1;
    }
    .opacity-transition {
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    .rounded-border {
        border-radius: 12px;
    }
    header h1 {
        padding: 0;
        font-size: 24px;
        font-weight: bold;
    }
    header h2 {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0;
    }
    header h1, header h2 {
        font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
        text-align: center;
        word-break: normal;
    }
    header .decoration {
        margin: 0 auto;
        max-width: 370px;
        width: 88%;
    }
    header .gloassary-btn {
        display: none;
    }
    .container {
        max-width: 2560px;
        width: 100%;
        min-width: 320px;
        margin: 0 auto;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: relative;
    }
    .input-container {
        background-color: rgba(255, 255, 255, 0.7);
        position: fixed;
        right: 0;
        left: 0;
        bottom: 60px;
        margin: 0 auto;
        width: 550px;
        height: 72px;
    }
    .input-container .yearSlider {
        width: 65%;
        max-width: 450px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        padding-right: 60px;
        top: 6px;
    }
    .slider {
        width: 100%;
    }
    .slider > .dragger {
        background: #e5254e;
        -webkit-border-radius: 30px;
        -moz-border-radius: 60px;
        border-radius: 30px;
        width: 60px;
        height: 60px;
    }
    .slider > .dragger:hover {
        background: #e5254e;
    }
    .slider > .track, .slider > .highlight-track {
        background: rgba(255, 255, 255, 0.0);
        border-top: 1px solid #000;
        height: 4px;
    }
    .slider > .highlight-track {
        background-color: #8DCA09;
        background: -webkit-linear-gradient(top, #8DCA09, #72A307);
        background: -moz-linear-gradient(top, #8DCA09, #72A307);
        background: linear-gradient(top, #8DCA09, #72A307);
        border-color: #496805;
    }
    .input-container .right-bracket span, .input-container .left-bracket span {
        bottom: 10px;
        position: relative;
    }
    .input-container .right-bracket {
        right: 10px;
        top: 20px;
        position: absolute;
        z-index: 1;
    }
    .input-container .left-bracket {
        left: 10px;
        top: 20px;
        position: absolute;
        z-index: 1;
    }
    text {
        text-rendering: geometricPrecision;
    }
    #radial {
        top: 0;
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    #radial svg {
        width: 100%;
    }
    .ie9 #radial svg {
        height: 1000px;
    }
    .info-box {
        max-width: 254px;
        width: 20%;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 18px;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        position: fixed;
        left: 28px;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        svg {
            height: auto;
            width: auto;
        }
        .data-container {
            margin-bottom: 7px;
            font-size: 20px;
        }
        .data-container .number-of-deaths {
            color: #e6244f;
        }
        .arrow-right {
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid rgba(255, 255, 255, 0.7);
            position: absolute;
            top: 120px;
            right: -20px;
        }
        img {
            max-width: 254px;
            width: 100%;
            -webkit-transition: opacity 0.3s;
        }
        h1 {
            color: black;
            font-size: 22px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        p {
            font-size: 12px;
        }
        .btn {
            margin-top: 20px;
            float: right;
            position: relative;
            cursor: pointer;
        }
    }
    .no-data {
        width: 300px;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .no-data h1, .no-data p {
        text-align: center;
    }
    .no-data svg {
        width: 151px;
        margin: 0 auto;
        display: block;
    }
    .currentYear {
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        top: 20px;
        -webkit-transition: top 0.3s;
        transition: top 0.3s;
    }
    .currentYear-dragging {
        color: black;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        top: -30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        #radial svg {
            width: 130%;
            right: 15%;
            position: relative;
        }
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
        #radial {
            top: 12%;
            position: relative;
        }
        #radial svg {
            width: 200%;
            right: 50%;
            position: relative;
        }
        header {
            position: fixed;
            top: 0;
            height: 58px;
            width: 93%;
            background-color: black;
            border-radius: 0!important;
            padding-left: 7%;
            padding-top: 12px;
        }
        header .gloassary-btn {
            display: inline-block;
            float: right;
            position: absolute;
            font-size: 10px;
            top: 50%;
            right: 5%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            cursor: pointer;
            color: white;
        }
        header .gloassary-btn svg {
            margin-bottom: -8px;
            margin-left: 5px;
        }
        header h1 {
            padding: 0;
            font-size: 24px;
        }
        header h2 {
            font-size: 17px;
            font-weight: normal
        }
        header h1, header h2 {
            color: white;
            text-align: left;
            word-break: normal;
        }
        header .decoration {
            display: none;
        }
        .info-box {
            width: 95%;
            max-width: 100%;
            min-height: 160px;
            border-radius: 0;
            padding-left: 5%;
            padding-right: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: white;
            position: fixed;
            left: 0;
            transform: translate(0, 0);
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            top: 70px;
        }
        .info-box .arrow-right {
            display: none;
        }
        .info-box img {
            max-width: 254px;
            min-width: 180px;
            width: 30%;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -webkit-transition: opacity 0.3s;
        }
        .info-box h1 {
            color: black;
            font-size: 22px;
            margin-bottom: 2%;
            width: 50%;
        }
        .info-box .data-container {
            margin-top: 3%;
            margin-bottom: 0;
            font-size: 18px;
        }
        .info-box .data-container .number-of-deaths {
            color: #e6244f;
        }
        .info-box p {
            width: 50%;
        }
        .info-box .btn {
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: 0;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            cursor: pointer;
            background-color: black;
            color: white;
            text-align: center;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 15px;
        }
        .info-box .btn svg {
            margin-top: 5px;
            display: block;
        }
        .input-container {
            background-color: rgba(255, 255, 255, 0.7);
            position: fixed;
            right: 0;
            left: 0;
            bottom: 60px;
            margin: 0 auto;
            width: 400px;
            height: 45px;
        }
        .input-container .yearSlider {
            width: 65%;
            max-width: 300px;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            padding-right: 28px;
            top: -5px;
        }
        .input-container .right-bracket {
            right: 10px;
            top: 7px;
            position: absolute;
            z-index: 1;
        }
        .input-container .left-bracket {
            left: 10px;
            top: 7px;
            position: absolute;
            z-index: 1;
        }
        .slider {
            width: 230px;
        }
    }
    @media screen and (max-width: 480px) {
        header {
            position: fixed;
            top: 0;
            height: 58px;
            width: 95%;
            background-color: black;
            border-radius: 0!important;
            padding-left: 5%px;
            padding-top: 12px;
        }
        header h1 {
            padding: 0;
            font-size: 18px;
        }
        header h2 {
            font-size: 14px;
            font-weight: normal
        }
        header h1, header h2 {
            color: white;
            text-align: left;
            word-break: normal;
        }
        header .decoration {
            display: none;
        }
        header .gloassary-btn {
            display: inline-block;
            float: right;
            position: absolute;
            font-size: 10px;
            top: 50%;
            right: 5%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            cursor: pointer;
            color: white;
        }
        header .gloassary-btn svg {
            margin-bottom: -8px;
            margin-left: 5px;
        }
        #radial {
            top: 0;
            position: relative;
        }
        #radial svg {
            width: 240%;
            right: 70%;
            position: relative;
        }
        .no-data {
            width: 300px;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
        .no-data h1, .no-data p {
            text-align: center;
        }
        .no-data svg {
            width: 151px;
            margin: 0 auto;
            display: block;
        }
        .info-box {
            width: 95%;
            max-width: 100%;
            min-height: 160px;
            border-radius: 0;
            padding-left: 5%;
            padding-right: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: white;
            position: fixed;
            left: 0;
            transform: translate(0, 0);
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            top: 70px;
        }
        .info-box .arrow-right {
            display: none;
        }
        .info-box img {
            max-width: 254px;
            min-width: 120px;
            width: 30%;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -webkit-transition: opacity 0.3s;
        }
        .info-box h1 {
            color: black;
            font-size: 18px;
            margin-top: 2%;
            margin-bottom: 2%;
            width: 50%;
        }
        .info-box .data-container {
            margin-top: 3%;
            margin-bottom: 0;
            font-size: 18px;
        }
        .info-box .data-container .number-of-deaths {
            color: #e6244f;
        }
        .info-box p {
            width: 50%;
        }
        .info-box .btn {
            float: right;
            position: relative;
            margin-right: 20px;
            cursor: pointer;
        }
        .input-container {
            background-color: rgba(255, 255, 255, 0.7);
            position: fixed;
            right: 0;
            left: 0;
            bottom: 15px;
            margin: 0 auto;
            width: 310px;
            height: 45px;
        }
        .input-container .yearSlider {
            width: 65%;
            max-width: 300px;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            padding-right: 0px;
            padding-left: 3px;
            top: -5px;
        }
        .input-container .right-bracket {
            right: 10px;
            top: 7px;
            position: absolute;
            z-index: 1;
        }
        .input-container .left-bracket {
            left: 10px;
            top: 7px;
            position: absolute;
            z-index: 1;
        }
        .slider {
            width: 140px;
        }
    }
}


.start-unceasing-seeker {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/4-unceasing-seeker/_assets/m4-unceasing-seeker-1.jpg);
    }
}


#wellcome-collection {
    
}

.touch {
    #wellcome-collection {

    }
}

.no-touch {
    #wellcome-collection {
        
    }
}

@media screen and (min-width: 48em) {
    #wellcome-collection {
        .bg-container {
            cursor: move;
        }  
    }

    .touch {
        #wellcome-collection {

        }
    }

    .no-touch {
        #wellcome-collection {

        }
    }

    .infinite-canvas {

        .text-panel[data-chapter="1"] {
            top:    1834px;
            left:   3418px;
        }
        .text-panel[data-chapter="2"] {
            top:    776px;
            left:   5892px;
        }
        .text-panel[data-chapter="3"] {
            top:    2985px;
            left:   997px;
        }
        .text-panel[data-chapter="4"] {
            top:    893px;
            left:   1252px;
        }
        .text-panel[data-chapter="5"] {
            top:    3114px;
            left:   6093px;
        }
    }
}


#stewart-conn {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/4-unceasing-seeker/_assets/m4-unceasing-seeker-2.jpg);
    }
    .black-strip {
        width: 550px;
    }
    .strip {
        max-width: 450px;
    }

    .main-content {
        p {
            line-height: 1.8;
        }

    }
}


.start-obscene-doctor {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/m5-obscene-doctor-1.jpg);
    }
}
@media all and (min-width: 48rem) {
    .start-obscene-doctor {
        .content {
            margin: 0;
            float: right;
            text-shadow: 1px 1px 2px #333;
        }
    }
    .no-touch {
        .start-obscene-doctor {
            .content {
                left: auto;
                right: 0;
                text-shadow: 1px 1px 2px #333;
            }
        }
    }
}

#kahns-anatomical-museum {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/m5-obscene-doctor-2.jpg);
    }
}
.touch {
    #kahns-anatomical-museum {}
}
.no-touch {
    #kahns-anatomical-museum {}
}
@media screen and (min-width: 48em) {
    #kahns-anatomical-museum {
        .main-content {
             // padding-top: 20%;
        }
        .inner {
            max-width: 1024px;
        }
    }
    .touch {
        #kahns-anatomical-museum {}
    }
    .no-touch {
        #kahns-anatomical-museum {}
    }
}


#quackery {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/m5-obscene-doctor-3.jpg);
    }
}

.touch {
    #quackery {

    }
}

.no-touch {
    #quackery {

    }
}

@media screen and (min-width: 48em) {
    #quackery {
        .info-box {
            position:   absolute;
            bottom:     80px;
            left:       6%;
        }
    }

    .touch {
        #quackery {

        }
    }

    .no-touch {
        #quackery {
            .info-box {
                bottom: 100px;
                left:   40%;
            }
        }
    }
}


#obscene-publications-act {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/m5-obscene-doctor-4.jpg);
    }
}

.touch {
    #obscene-publications-act {

    }
}

.no-touch {
    #obscene-publications-act {

    }
}

@media screen and (min-width: 48em) {
    #obscene-publications-act {
        .info-box {
            position:   absolute;
            bottom:     80px;
            left:       6%
        }
    }

    .touch {
        #obscene-publications-act {

        }
    }

    .no-touch {
        #obscene-publications-act {
            .info-box {
                bottom: 100px;
                left:   40%;
            }
        }
    }
}


#seized-and-destroyed {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/m5-obscene-doctor-5.jpg);
    }
}

.touch {
    #seized-and-destroyed {

    }
}

.no-touch {
    #seized-and-destroyed {

    }
}

@media screen and (min-width: 48em) {
    #seized-and-destroyed {
        .main-content {
            color:          #030303;
            border-top:     1px solid #030303;
            border-bottom:  1px solid #030303;
        }
    }

    .rubbish {
        width:  100%;
        height: 100%;

        div {
            position: absolute;
        }

        .carrot {
            top:        70%;
            right:      14%;
            width:      185px;
            height:     87px;
            background: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/carrot.png) 0 0 no-repeat;
        }

        .cat {
            top:        60%;
            right:      32%;
            width:      178px;
            height:     143px;
            background: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/cat.png) 0 0 no-repeat;
        }

        .rubbish1 {
            top:        43%;
            right:      28%;
            width:      85px;
            height:     52px;
            background: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/rubbish1.png) 0 0 no-repeat;
        }
        .rubbish2 {
            top:        85%;
            right:      3%;
            width:      85px;
            height:     45px;
            background: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/rubbish2.png) 0 0 no-repeat;
        }
        .rubbish3 {
            top:        80%;
            right:      25%;
            width:      185px;
            height:     87px;
            background: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/rubbish3.png) 0 0 no-repeat;
        }
        .rubbish4 {
            top:        40%;
            right:      30%;
            width:      106px;
            height:     113px;
            background: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/rubbish4.png) 0 0 no-repeat;
        }
        .rubbish5 {
            top:        55%;
            right:      5%;
            width:      70px;
            height:     48px;
            background: url(/pathways/2-the-collectors/5-obscene-doctor/_assets/rubbish5.png) 0 0 no-repeat;
        }
    }

    .touch {
        #seized-and-destroyed {
            .main-content {
                position:   absolute;
                margin-top: 2rem;
            }
        }
    }

    .no-touch {
        #seized-and-destroyed {

        }
    }
}


.start-ignorant-bride {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/6-ignorant-bride/_assets/m6-ignorant-bride-1.jpg);
    }
}

@media all and (min-width: 48rem) {
    .start-ignorant-bride {
        .content {
            margin: 0;
            float:  left;
        }

        .scene-set {
            color: #030303;

            sup {
                font-size: 0.8rem;
            }
        }

        header {
            h1 {
                color: #030303;
            }
        }

        .intro-text {
            color: #030303;
        }
    }
    .no-touch .start-ignorant-bride {
        .content {
            left:  0;
        }
    }
}


#british-museum {

}

.touch {
    #british-museum {

    }
}

.no-touch {
    #british-museum {
        
    }
}

@media screen and (min-width: 48em) {
    #british-museum {
        img {
            position:   absolute;
            bottom:     0;

            @include transform-origin( 35% 70% );
            @include transition( all 14s ease );
        }

        &.active img {
            @include transform( scale(1.8, 1.8));
        }

        .main-content {
            border-top:     1px solid #fff;
            text-shadow:    1px 1px 1px #333;
        }
    }

    .touch {
        #british-museum {
            .main-content {
                position:   absolute;
                margin-top: 2rem;
            }
        }
    }

    .no-touch {
        #british-museum {

        }
    }

}

#married-love {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/6-ignorant-bride/_assets/m6-ignorant-bride-3.jpg);
    }
}

.touch {
    #married-love {

    }
}

.no-touch {
    #married-love {

    }
}

@media screen and (min-width: 48em) {
    #married-love {
        .inner {
            color:      #030303;
        }

        .inner + .inner {
            border-top: 1px solid #030303;
        }

        .married-love-film-gallery {
            position:   absolute;
            top:        40%;
            right:      30%;
        }

        .info-box {
            position:   absolute;
            top:        80px;
            right:      100px;

            .stub {
                position:   absolute;
                z-index:    -1;
                @include    transform( translate(-127px, -20px) );
            }

            .text {
                color: #030303;
            }
        }
    }

    .touch {
        #married-love {

        }
    }

    .no-touch {
        #married-love {

        }
    }
}


#shared-experiences {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/6-ignorant-bride/_assets/m6-ignorant-bride-4.jpg);
    }
}

.touch {
    #shared-experiences {

    }
}

.no-touch {
    #shared-experiences {

    }
}

@media screen and (min-width: 48em) {
    #shared-experiences {
        .main-content {
            color:          #030303;

            .inner {
                border-top:     1px solid #030303;
                border-bottom:  1px solid #030303;
            }
        }
    }

    .touch {
        #shared-experiences {

        }
    }

    .no-touch {
        #shared-experiences {

        }
    }
}


#letters {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/6-ignorant-bride/_assets/letter-1.jpg);
    }
}

.touch {
    #letters {

    }
}

.no-touch {
    #letters {

    }
}

@media screen and (min-width: 48em) {
    #letters {
        .info-box {
            position:   absolute;
            top:        18%;
            right:      25%;

            .text {
                color: #030303;
            }
        }
    }



    .touch {
        #letters {

        }
    }

    .no-touch {
        #letters {

        }
    }
}

#locked-cabinet {
    .bg-container {
        background-image: url(/pathways/2-the-collectors/6-ignorant-bride/_assets/m6-ignorant-bride-4.jpg);
    }
}

.touch {
    #locked-cabinet {

    }
}

.no-touch {
    #locked-cabinet {

    }
}

@media screen and (min-width: 48em) {
    #locked-cabinet {
        .main-content {
            color:          #030303;

            .inner {
                border-top:     1px solid #030303;
                border-bottom:  1px solid #030303;
            }
        }
    }

    .touch {
        #locked-cabinet {

        }
    }

    .no-touch {
        #locked-cabinet {

        }
    }
}


.start-example {
    .bg-container {
        background-image: url(/_assets/img/spacer.png);
    }
}

#example {
    
}

.touch {
    #example {

    }
}

.no-touch {
    #example {
        
    }
}

@media screen and (min-width: 48em) {
    #example {
           
    }

    .touch {
        #example {

        }
    }

    .no-touch {
        #example {

        }
    }
}