
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color:   #000;
    @include            abril-regular;
    font-size:          100%;
    color:              #333;
    line-height:        1.4;
}


h1 {
    @include        abril-display;
}

h2, h3, h4, h5, h6 {
    @include        abril-display;
    margin-bottom:  1em;
}

em, i {
    @include        abril-italic;
}

iframe {
    border: none;
}


.clearfix:before, .row:before,
.clearfix:after, .row:after {
    content:" ";
    display:table;
}

.clearfix:after, .row:after {
    clear:both;
}