
@font-face {
  font-family: 'Comic Neue';
  font-weight: 600;
  src: url('/_assets/fonts/ComicNeue-Bold.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Reset */
* {
    margin:     0;
    padding:    0;
    // font-size:  100%;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    background-color:   #000;
    @include            abril-regular;
    font-size:          100%;
    color:              #333;
    line-height:        1.4;
}

h1 {
    @include        abril-display;
}

h2, h3, h4, h5, h6 {
    @include        abril-display;
    margin-bottom:  1em;
}
a img {
    border:         0px none;
}
em, i {
    @include        abril-italic;
}

iframe {
    border: 0px none;
}

.modal-open {
    overflow: hidden;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}