
/* Paths */

$mindcraft-assets:      '/pathways/1-mindcraft/_assets';
$the-collectors-assets: '/pathways/2-the-collectors/_assets';

/* Typography */

$blue:      rgb(92,184,178);
$mind-pink: #e0008d;

