
#where-will-this-technology-lead {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/_assets/2-airloom/airloom-2.jpg);
    }

    .info-box {
        position:   absolute;
        top:        60px;
        right:      90px;
    }
    
}