
#where-will-this-technology-lead {

    .bg-container {
        background-image: url(/pathways/1-mindcraft/2-airloom/_assets/airloom-2.jpg);
    }

    .info-box {
        position:   absolute;
        top:        60px;
        right:      60px;
    }

}
