
#grisly-experiments {

    .bg-container {
        background-image: url(/_assets/img/airloom/airloom-2.jpg);
    }

    .info-box {
        position:   absolute;
        top:        60px;
        right:      90px;
    }

}